Workflow/chat-agent.json
{
  "name": "Чат-Агент",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        300
      ],
      "id": "chat-webhook-0001",
      "name": "Webhook Chat",
      "webhookId": "chat-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').trim();\nconst session_id = (body.session_id || '').trim();\n\n// Health-check: отдаём pong без вызова LLM\nif (message === 'ping') {\n  return [{json: {valid: 0, error: 'pong'}}];\n}\n\nif (!message || message.length < 2) {\n  return [{json: {valid: 0, error: 'Введите сообщение (минимум 2 символа)'}}];\n}\n\nif (!session_id) {\n  return [{json: {valid: 0, error: 'Поле session_id обязательно'}}];\n}\n\nif (message.length > 10000) {\n  return [{json: {valid: 0, error: 'Слишком длинный запрос (максимум 10000 символов)'}}];\n}\n\nreturn [{json: {valid: 1, message: message, session_id: session_id}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        300
      ],
      "id": "chat-val-0001",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-valid-chat",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        300
      ],
      "id": "chat-if-valid-0001",
      "name": "Запрос валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        460,
        520
      ],
      "id": "chat-err-val-0001",
      "name": "Ответ: ошибка"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT summary_text, messages_summarized FROM chat_summaries WHERE session_id = '{{ $('Валидация').first().json.session_id }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "id": "chat-load-summary-0001",
      "name": "Загрузить резюме",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM chat_memory WHERE session_id = '{{ $('Валидация').first().json.session_id }}' ORDER BY created_at DESC LIMIT 30",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "id": "chat-load-history-0001",
      "name": "Загрузить историю",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Резюме из chat_summaries\nconst summaryRows = $('Загрузить резюме').all();\nlet summary = '';\nlet messagesSummarized = 0;\nif (summaryRows.length > 0 && summaryRows[0].json.summary_text) {\n  summary = summaryRows[0].json.summary_text;\n  messagesSummarized = summaryRows[0].json.messages_summarized || 0;\n}\n\n// Последние 30 сообщений (загружены в обратном порядке, переворачиваем)\nconst historyRows = $('Загрузить историю').all().reverse();\nlet historyContext = '';\nif (historyRows.length > 0) {\n  const lines = historyRows.map(item => {\n    const role = item.json.role === 'user' ? 'Пользователь' : 'Ассистент';\n    return role + ': ' + (item.json.content || '');\n  });\n  historyContext = lines.join('\\n');\n}\n\nreturn [{json: {\n  summary: summary,\n  messagesSummarized: messagesSummarized,\n  historyContext: historyContext,\n  historyCount: historyRows.length,\n  message: $('Валидация').first().json.message,\n  session_id: $('Валидация').first().json.session_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "chat-aggregate-0001",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ('{{ $json.session_id }}', 'user', '{{ $json.message.replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        300
      ],
      "id": "chat-save-question-0001",
      "name": "Сохранить вопрос",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM chat_memory WHERE session_id = '{{ $('Агрегация').first().json.session_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1340,
        300
      ],
      "id": "chat-count-0001",
      "name": "Считать сообщения",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const totalRow = $input.first().json;\nconst total = parseInt(totalRow.total || '0', 10);\nconst summarized = $('Агрегация').first().json.messagesSummarized || 0;\n\n// Если всего сообщений > 30 И есть несжатые старые сообщения\nconst unsummarized = total - 30 - summarized;\n\nif (unsummarized > 0) {\n  // Нужно сжать: загрузить сообщения с offset summarized, limit unsummarized\n  return [{json: {needsCompression: true, total: total, summarized: summarized, toCompress: unsummarized}}];\n}\n\nreturn [{json: {needsCompression: false, total: total}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "id": "chat-check-compress-0001",
      "name": "Нужно сжатие?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsCompression }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "rule-compress"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1780,
        300
      ],
      "id": "chat-switch-compress-0001",
      "name": "Switch сжатие"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT role, content FROM chat_memory WHERE session_id = '{{ $('Агрегация').first().json.session_id }}' ORDER BY created_at ASC OFFSET {{ $('Нужно сжатие?').first().json.summarized }} LIMIT {{ $('Нужно сжатие?').first().json.toCompress }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        180
      ],
      "id": "chat-load-old-0001",
      "name": "Загрузить старые",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "assistant",
              "content": "Ты — сжиматель диалогов. Тебе дано предыдущее резюме и новые сообщения.\n\nТвоя задача: объединить предыдущее резюме с новыми сообщениями в ОДНО короткое резюме.\n\nПравила:\n1. Максимум 10 предложений\n2. Сохрани ВСЕ ключевые факты, имена, числа, договорённости\n3. Удали приветствия, благодарности, пустую болтовню\n4. Пиши в прошедшем времени: «Пользователь спросил...», «Ассистент объяснил...»\n5. НЕ добавляй ничего от себя\n6. Если предыдущего резюме нет — просто сожми сообщения\n\nПример:\nПредыдущее резюме: Пользователь спросил про клиентов из Москвы. Найдено 3 клиента.\nНовые сообщения:\nПользователь: А из Питера?\nАссистент: В Санкт-Петербурге 2 клиента: ООО Нева и ИП Петров.\nПользователь: Спасибо\nАссистент: Пожалуйста!\n\nРезюме: Пользователь искал клиентов по городам. В Москве найдено 3 клиента. В Санкт-Петербурге — 2: ООО Нева и ИП Петров."
            },
            {
              "content": "=Предыдущее резюме:\n{{ $('Агрегация').first().json.summary || 'нет' }}\n\nНовые сообщения для сжатия:\n{{ $input.all().map(item => (item.json.role === 'user' ? 'Пользователь' : 'Ассистент') + ': ' + item.json.content).join(String.fromCharCode(10)) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2220,
        180
      ],
      "id": "chat-compress-0001",
      "name": "Сжатие GigaChat",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let newSummary = '';\ntry {\n  newSummary = $input.first().json.output[0].content[0].text.trim();\n} catch(e) {\n  // GigaChat не ответил — оставляем старое резюме\n  newSummary = $('Агрегация').first().json.summary || '';\n}\n\nconst sessionId = $('Агрегация').first().json.session_id;\nconst oldSummarized = $('Нужно сжатие?').first().json.summarized || 0;\nconst compressed = $('Нужно сжатие?').first().json.toCompress || 0;\nconst newSummarized = oldSummarized + compressed;\n\n// Экранируем одинарные кавычки\nconst safeSummary = newSummary.replaceAll(\"'\", \"''\");\n\nreturn [{json: {\n  upsertQuery: \"INSERT INTO chat_summaries (session_id, summary_text, messages_summarized, updated_at) VALUES ('\" + sessionId + \"', '\" + safeSummary + \"', \" + newSummarized + \", NOW()) ON CONFLICT (session_id) DO UPDATE SET summary_text = '\" + safeSummary + \"', messages_summarized = \" + newSummarized + \", updated_at = NOW()\",\n  newSummary: newSummary\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        180
      ],
      "id": "chat-build-upsert-0001",
      "name": "Построить UPSERT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.upsertQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2660,
        180
      ],
      "id": "chat-save-summary-0001",
      "name": "Сохранить резюме",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "assistant",
              "content": "Ты — ИИ-Агент GigaChat. Ты дружелюбный, полезный и общительный.\n\nПравила:\n1. Отвечай на русском языке\n2. Отвечай подробно и развёрнуто, не ограничивай себя в длине ответа\n3. Если дано резюме прошлых разговоров — учитывай его, не переспрашивай о том что уже обсуждали\n4. Если есть история диалога — отвечай в контексте\n5. Будь живым и естественным, не роботичным\n6. Если спрашивают что ты умеешь — скажи что ты универсальный помощник для общения, вопросов, обсуждений\n7. Помни и ссылайся на факты из прошлых сообщений когда уместно\n8. Не используй markdown-заголовки без необходимости\n9. Приветствие «Привет!» используй ТОЛЬКО в первом сообщении сессии (когда истории ещё нет). Если в истории уже есть сообщения — НЕ здоровайся, сразу отвечай по делу\n10. Если пользователь пишет «подробнее», «ещё», «продолжай», «расскажи больше», «детальнее» — он просит РАЗВЕРНУТЬ и ДОПОЛНИТЬ твой предыдущий ответ. Возьми тему из последнего ответа и объясни глубже, добавь примеры, факты, нюансы. НЕ переспрашивай «о чём именно?»\n\nПример:\nЗапрос: Привет!\nОтвет: Привет! Рад вас видеть. Чем могу помочь сегодня?\n\nПример:\nЗапрос: Расскажи про нейросети\nОтвет: [подробный ответ про нейросети]\nЗапрос: подробнее\nОтвет: [расширенный ответ с деталями, примерами, дополнениями к предыдущему]\n\nАнтипример:\nЗапрос: ещё\nПлохой ответ: Привет! О чём вы хотите узнать подробнее?\nХороший ответ: [продолжение и углубление предыдущей темы без приветствия]"
            },
            {
              "content": "={{ $('Агрегация').first().json.summary ? 'Резюме прошлых разговоров:\\n' + $('Агрегация').first().json.summary + '\\n\\n' : '' }}{{ $('Агрегация').first().json.historyContext ? 'Последние сообщения:\\n' + $('Агрегация').first().json.historyContext + '\\n\\n' : '' }}Текущий вопрос: {{ $('Агрегация').first().json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2880,
        300
      ],
      "id": "chat-gigachat-0001",
      "name": "Ответ GigaChat",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос. Попробуйте ещё раз.' } }];\n  }\n  const text = raw.output[0].content[0].text;\n  return [{ json: { response: text.trim() } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки ответа.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ],
      "id": "chat-check-response-0001",
      "name": "Проверка ответа"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ('{{ $('Агрегация').first().json.session_id }}', 'assistant', '{{ $json.response.replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3320,
        300
      ],
      "id": "chat-save-response-0001",
      "name": "Сохранить ответ",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа').first().json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3540,
        300
      ],
      "id": "chat-respond-0001",
      "name": "Ответ: чат"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Запрос валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос валиден?": {
      "main": [
        [
          {
            "node": "Загрузить резюме",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить резюме": {
      "main": [
        [
          {
            "node": "Загрузить историю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить историю": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Сохранить вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить вопрос": {
      "main": [
        [
          {
            "node": "Считать сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Считать сообщения": {
      "main": [
        [
          {
            "node": "Нужно сжатие?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужно сжатие?": {
      "main": [
        [
          {
            "node": "Switch сжатие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch сжатие": {
      "main": [
        [
          {
            "node": "Загрузить старые",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ GigaChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить старые": {
      "main": [
        [
          {
            "node": "Сжатие GigaChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сжатие GigaChat": {
      "main": [
        [
          {
            "node": "Построить UPSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Построить UPSERT": {
      "main": [
        [
          {
            "node": "Сохранить резюме",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить резюме": {
      "main": [
        [
          {
            "node": "Ответ GigaChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ GigaChat": {
      "main": [
        [
          {
            "node": "Проверка ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа": {
      "main": [
        [
          {
            "node": "Сохранить ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ": {
      "main": [
        [
          {
            "node": "Ответ: чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "chat-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "chat-agent-001",
  "tags": []
}