Workflow/document-loader.json
{
  "name": "Загрузчик документов",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-doc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "dl-0001-0001-0001-000000000001",
      "name": "Webhook Upload",
      "webhookId": "a1b2c3d4-upload-doc-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем, что файл загружен\nconst item = $input.first();\nconst binary = item.binary;\n\nif (!binary || Object.keys(binary).length === 0) {\n  return [{ json: { valid: false, error: 'Файл не загружен. Прикрепите документ.' } }];\n}\n\nconst key = Object.keys(binary)[0];\nconst info = binary[key];\nconst fileName = info.fileName || 'unknown';\nconst mimeType = info.mimeType || 'unknown';\nconst fileSize = info.fileSize || 0;\n\n// Проверка размера (макс 50 МБ)\nif (fileSize > 50 * 1024 * 1024) {\n  return [{ json: { valid: false, error: 'Файл слишком большой (макс. 50 МБ).' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    binaryKey: key,\n    fileName: fileName,\n    mimeType: mimeType\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0],
      "id": "dl-0002-0002-0002-000000000002",
      "name": "Валидация файла"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "cond-valid-dl",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 0],
      "id": "dl-0003-0003-0003-000000000003",
      "name": "Файл есть?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/v1/file/text/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, -100],
      "id": "dl-0004-0004-0004-000000000004",
      "name": "OCR Распознавание",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем текст из ответа OCR\ntry {\n  const data = $input.first().json;\n\n  if (data.error) {\n    const msg = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    return [{ json: { has_text: false, error: 'OCR ошибка: ' + msg } }];\n  }\n\n  let text = '';\n\n  if (typeof data === 'string') {\n    text = data;\n  } else if (data.text && typeof data.text === 'string') {\n    text = data.text;\n  } else if (data.result && typeof data.result === 'string') {\n    text = data.result;\n  } else if (data.result && data.result.text) {\n    text = data.result.text;\n  } else if (data.content && typeof data.content === 'string') {\n    text = data.content;\n  } else if (data.data && typeof data.data === 'string') {\n    text = data.data;\n  } else if (data.output && typeof data.output === 'string') {\n    text = data.output;\n  } else {\n    text = JSON.stringify(data);\n  }\n\n  text = text.trim();\n\n  if (!text || text === '{}' || text === '[]' || text === 'null' || text.length < 3) {\n    return [{ json: { has_text: false, error: 'OCR не смог распознать текст. Попробуйте другой файл.' } }];\n  }\n\n  // Получаем имя файла из предыдущей ноды\n  const fileName = $('Валидация файла').first().json.fileName || 'unknown';\n\n  return [{ json: { has_text: true, ocr_text: text, fileName: fileName } }];\n\n} catch (e) {\n  return [{ json: { has_text: false, error: 'Ошибка обработки OCR: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, -100],
      "id": "dl-0005-0005-0005-000000000005",
      "name": "Извлечь текст"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "cond-text-dl",
              "leftValue": "={{ $json.has_text }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1240, -100],
      "id": "dl-0006-0006-0006-000000000006",
      "name": "Текст есть?"
    },
    {
      "parameters": {
        "jsCode": "// Нарезаем текст на куски по ~500 слов с перекрытием 50 слов\nconst text = $json.ocr_text;\nconst fileName = $json.fileName;\n\nconst CHUNK_SIZE = 500;  // слов в куске\nconst OVERLAP = 50;      // слов перекрытия\n\nconst words = text.split(/\\s+/).filter(w => w.length > 0);\n\nif (words.length === 0) {\n  return [{ json: { error: 'Текст пустой после обработки.' } }];\n}\n\nconst chunks = [];\nlet start = 0;\n\nwhile (start < words.length) {\n  const end = Math.min(start + CHUNK_SIZE, words.length);\n  const chunkText = words.slice(start, end).join(' ');\n\n  chunks.push({\n    json: {\n      fileName: fileName,\n      chunk_index: chunks.length,\n      chunk_text: chunkText,\n      total_chunks: 0  // обновим после цикла\n    }\n  });\n\n  if (end >= words.length) break;\n  start += CHUNK_SIZE - OVERLAP;\n}\n\n// Обновляем total_chunks\nfor (const chunk of chunks) {\n  chunk.json.total_chunks = chunks.length;\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, -200],
      "id": "dl-0007-0007-0007-000000000007",
      "name": "Нарезка на куски"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://GIGACHAT_HOST:PORT/v1/db/vector/doc/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'Embeddings', input: $json.chunk_text }) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -200],
      "id": "dl-0008-0008-0008-000000000008",
      "name": "Эмбеддинг",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем вектор из ответа эмбеддинга и готовим SQL\ntry {\n  const data = $input.first().json;\n  const prevData = $('Нарезка на куски').first().json;\n  const fileName = prevData.fileName;\n  const chunkIndex = prevData.chunk_index;\n  const chunkText = prevData.chunk_text;\n  const totalChunks = prevData.total_chunks;\n\n  // Проверяем ошибку\n  if (data.error) {\n    return [{ json: { success: false, error: 'Ошибка эмбеддинга: ' + JSON.stringify(data.error) } }];\n  }\n\n  // Извлекаем вектор — формат OpenAI-совместимый\n  let vector = null;\n\n  if (data.data && Array.isArray(data.data) && data.data[0] && data.data[0].embedding) {\n    vector = data.data[0].embedding;\n  } else if (data.embedding && Array.isArray(data.embedding)) {\n    vector = data.embedding;\n  } else if (Array.isArray(data) && data.length > 0 && typeof data[0] === 'number') {\n    vector = data;\n  }\n\n  if (!vector || vector.length === 0) {\n    return [{ json: { success: false, error: 'Эмбеддинг вернул пустой вектор.' } }];\n  }\n\n  // Экранируем текст для SQL\n  const safeText = chunkText.replaceAll(\"'\", \"''\");\n  const safeFileName = fileName.replaceAll(\"'\", \"''\");\n  const vectorStr = '[' + vector.join(',') + ']';\n\n  const sql = `INSERT INTO documents (filename, chunk_index, chunk_text, embedding) VALUES ('${safeFileName}', ${chunkIndex}, '${safeText}', '${vectorStr}')`;\n\n  return [{ json: {\n    success: true,\n    sql: sql,\n    fileName: fileName,\n    chunk_index: chunkIndex,\n    total_chunks: totalChunks,\n    vector_size: vector.length\n  }}];\n\n} catch (e) {\n  return [{ json: { success: false, error: 'Ошибка обработки эмбеддинга: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, -200],
      "id": "dl-0009-0009-0009-000000000009",
      "name": "Подготовка SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2280, -200],
      "id": "dl-0010-0010-0010-000000000010",
      "name": "Записать в PGVector",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Агрегируем результаты записи всех кусков\nconst items = $input.all();\nlet success = 0;\nlet failed = 0;\nlet errors = [];\nlet fileName = '';\nlet totalChunks = 0;\n\nfor (const item of items) {\n  const prev = item.json;\n  if (!fileName && prev.fileName) fileName = prev.fileName;\n  if (!totalChunks && prev.total_chunks) totalChunks = prev.total_chunks;\n\n  if (prev.error) {\n    failed++;\n    errors.push(prev.error);\n  } else {\n    success++;\n  }\n}\n\n// Если нет данных от SQL, считаем по входным\nif (success === 0 && failed === 0) {\n  success = items.length;\n}\n\nlet message = '';\nif (failed === 0) {\n  message = 'Документ \"' + fileName + '\" успешно загружен!\\n' +\n    'Распознано и сохранено кусков: ' + success + '\\n' +\n    'Документ теперь доступен для поиска по смыслу.';\n} else {\n  message = 'Документ \"' + fileName + '\" загружен частично.\\n' +\n    'Успешно: ' + success + ', ошибок: ' + failed + '\\n' +\n    'Ошибки: ' + errors.slice(0, 3).join('; ');\n}\n\nreturn [{ json: { response: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2540, -200],
      "id": "dl-0011-0011-0011-000000000011",
      "name": "Агрегация результатов"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2800, -200],
      "id": "dl-0012-0012-0012-000000000012",
      "name": "Ответ: Успех"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.error || 'Файл не загружен.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [760, 160],
      "id": "dl-0013-0013-0013-000000000013",
      "name": "Ответ: Нет файла"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.error || 'OCR не распознал текст.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1500, 60],
      "id": "dl-0014-0014-0014-000000000014",
      "name": "Ответ: OCR ошибка"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          { "node": "Валидация файла", "type": "main", "index": 0 }
        ]
      ]
    },
    "Валидация файла": {
      "main": [
        [
          { "node": "Файл есть?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Файл есть?": {
      "main": [
        [
          { "node": "OCR Распознавание", "type": "main", "index": 0 }
        ],
        [
          { "node": "Ответ: Нет файла", "type": "main", "index": 0 }
        ]
      ]
    },
    "OCR Распознавание": {
      "main": [
        [
          { "node": "Извлечь текст", "type": "main", "index": 0 }
        ]
      ]
    },
    "Извлечь текст": {
      "main": [
        [
          { "node": "Текст есть?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Текст есть?": {
      "main": [
        [
          { "node": "Нарезка на куски", "type": "main", "index": 0 }
        ],
        [
          { "node": "Ответ: OCR ошибка", "type": "main", "index": 0 }
        ]
      ]
    },
    "Нарезка на куски": {
      "main": [
        [
          { "node": "Эмбеддинг", "type": "main", "index": 0 }
        ]
      ]
    },
    "Эмбеддинг": {
      "main": [
        [
          { "node": "Подготовка SQL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Подготовка SQL": {
      "main": [
        [
          { "node": "Записать в PGVector", "type": "main", "index": 0 }
        ]
      ]
    },
    "Записать в PGVector": {
      "main": [
        [
          { "node": "Агрегация результатов", "type": "main", "index": 0 }
        ]
      ]
    },
    "Агрегация результатов": {
      "main": [
        [
          { "node": "Ответ: Успех", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "doc-loader-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "doc-loader-001",
  "tags": []
}
