Workflow/document-loader.json
{
  "name": "Загрузчик документов. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-doc",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "dl-0001-0001-0001-000000000001",
      "name": "Webhook Upload",
      "webhookId": "a1b2c3d4-upload-doc-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ping-dl",
              "leftValue": "={{ $json.query?.ping || $json.body?.ping || ($json.body?.message === 'ping' ? '1' : '') }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        100
      ],
      "id": "dl-ping-if-0001",
      "name": "Ping?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: 'pong'}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        420,
        100
      ],
      "id": "dl-ping-resp-0001",
      "name": "Ответ: pong"
    },
    {
      "parameters": {
        "jsCode": "// Определяем что пришло: уже извлечённый текст (от браузера) или бинарный файл.\n// n8n webhook кладёт JSON-body в $json.body, а form-data поля в корень.\n// Поэтому ищем text и в .body, и в корне для надёжности.\n\nconst item = $input.first();\nconst root = item.json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : {};\nconst binary = item.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nfunction pick(field) {\n  if (typeof body[field] === 'string' && body[field].length > 0) return body[field];\n  if (typeof root[field] === 'string' && root[field].length > 0) return root[field];\n  return null;\n}\n\nconst text = pick('text');\nconst fileName = pick('fileName') || 'document.txt';\nconst source = pick('source') || 'browser';\n\n// Браузерный путь: JSON с готовым текстом\nif (text && text.trim().length > 0) {\n  return [{\n    json: {\n      has_text: true,\n      text: text,\n      fileName: fileName,\n      source: source\n    }\n  }];\n}\n\n// Файловый путь: есть binary\nif (binaryKeys.length > 0) {\n  const key = binaryKeys[0];\n  const info = binary[key];\n  const realFileName = info.fileName || 'unknown';\n  const fileSize = info.fileSize || 0;\n\n  if (fileSize > 50 * 1024 * 1024) {\n    return [{ json: { has_text: false, has_file: false, error: 'Файл слишком большой (макс. 50 МБ).' } }];\n  }\n\n  return [{\n    json: {\n      has_text: false,\n      has_file: true,\n      binaryKey: key,\n      fileName: realFileName,\n      mimeType: info.mimeType || 'unknown'\n    },\n    binary: binary\n  }];\n}\n\n// Ничего не пришло — лог что было в root для отладки\nconst rootKeys = Object.keys(root).slice(0, 10).join(',');\nreturn [{ json: { has_text: false, has_file: false, error: 'Файл не загружен и текст не передан. (Получено: root=[' + rootKeys + '])' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "dl-0002-0002-0002-000000000002",
      "name": "Определить вход"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-text",
              "leftValue": "={{ $json.has_text }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "dl-0003-0003-0003-000000000003",
      "name": "Текст готов?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-file",
              "leftValue": "={{ $json.has_file }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        500
      ],
      "id": "dl-0004-0004-0004-000000000004",
      "name": "Файл есть?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/v1/file/text/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $json.binaryKey }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ],
      "id": "dl-0005-0005-0005-000000000005",
      "name": "OCR Распознавание",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем текст из ответа OCR (только если файл проходил через OCR ветку).\ntry {\n  const data = $input.first().json;\n\n  if (data.error) {\n    const msg = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    return [{ json: { has_text: false, error: 'OCR ошибка: ' + msg } }];\n  }\n\n  let text = '';\n  if (typeof data === 'string') text = data;\n  else if (data.text && typeof data.text === 'string') text = data.text;\n  else if (data.result && typeof data.result === 'string') text = data.result;\n  else if (data.result && data.result.text) text = data.result.text;\n  else if (data.content && typeof data.content === 'string') text = data.content;\n  else if (data.data && typeof data.data === 'string') text = data.data;\n  else if (data.output && typeof data.output === 'string') text = data.output;\n  else text = JSON.stringify(data);\n\n  text = text.trim();\n\n  if (!text || text === '{}' || text === '[]' || text === 'null' || text.length < 3) {\n    return [{ json: { has_text: false, error: 'OCR не смог распознать текст. Попробуйте другой файл.' } }];\n  }\n\n  // fileName тянем из «Определить вход»\n  const fileName = $('Определить вход').first().json.fileName || 'unknown';\n  return [{ json: { has_text: true, text: text, fileName: fileName, source: 'ocr' } }];\n} catch (e) {\n  return [{ json: { has_text: false, error: 'Ошибка обработки OCR: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ],
      "id": "dl-0006-0006-0006-000000000006",
      "name": "Извлечь текст из OCR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ocr-text",
              "leftValue": "={{ $json.has_text }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        400
      ],
      "id": "dl-0007-0007-0007-000000000007",
      "name": "OCR Текст есть?"
    },
    {
      "parameters": {
        "jsCode": "// Нарезаем текст на куски по ~500 слов с перекрытием 50 слов.\n// На входе $json.text (от браузера) или после OCR — тоже text.\nconst text = $json.text;\nconst fileName = $json.fileName;\nconst source = $json.source || 'unknown';\n\nconst CHUNK_SIZE = 500;\nconst OVERLAP = 50;\n\nconst words = String(text || '').split(/\\s+/).filter(w => w.length > 0);\n\nif (words.length === 0) {\n  return [{ json: { error: 'Текст пустой после обработки.' } }];\n}\n\nconst chunks = [];\nlet start = 0;\n\nwhile (start < words.length) {\n  const end = Math.min(start + CHUNK_SIZE, words.length);\n  const chunkText = words.slice(start, end).join(' ');\n\n  chunks.push({\n    json: {\n      fileName: fileName,\n      chunk_index: chunks.length,\n      chunk_text: chunkText,\n      total_chunks: 0,\n      source: source\n    }\n  });\n\n  if (end >= words.length) break;\n  start += CHUNK_SIZE - OVERLAP;\n}\n\nfor (const chunk of chunks) {\n  chunk.json.total_chunks = chunks.length;\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "id": "dl-0008-0008-0008-000000000008",
      "name": "Нарезка на куски"
    },
    {
      "parameters": {
        "jsCode": "// Эмбеддинг через embedding-server. Используем fallback URL — host.docker.internal\n// для Docker n8n (дома), 127.0.0.1 для нативного n8n (офис). На ENOTFOUND/\n// ECONNREFUSED пробуем следующий URL.\n\nconst URLS = [\n  'http://host.docker.internal:8001/embed',\n  'http://127.0.0.1:8001/embed'\n];\n\nconst chunkText = $json.chunk_text;\nconst payload = JSON.stringify({ input: chunkText, type: 'passage' });\n\nconst NET_ERR = ['ECONNREFUSED','ENOTFOUND','EHOSTUNREACH','EAI_AGAIN','ETIMEDOUT','ECONNABORTED','ECONNRESET'];\n\nlet lastErr = '';\nfor (const url of URLS) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: url,\n      body: payload,\n      headers: { 'Content-Type': 'application/json' },\n      json: false,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      timeout: 60000\n    });\n    const status = r.statusCode || r.status || 0;\n    if (status >= 200 && status < 300) {\n      // Парсим JSON тело\n      let data = r.body;\n      if (typeof data === 'string') {\n        try { data = JSON.parse(data); } catch (_) {}\n      } else if (data && data.type === 'Buffer' && Array.isArray(data.data)) {\n        try { data = JSON.parse(Buffer.from(data.data).toString('utf8')); } catch (_) {}\n      } else if (Buffer.isBuffer && Buffer.isBuffer(data)) {\n        try { data = JSON.parse(data.toString('utf8')); } catch (_) {}\n      }\n      return [{ json: data }];\n    }\n    // HTTP 4xx/5xx — это ошибка сервиса, не сетевая. Сразу прокидываем.\n    let bodyText = '';\n    try {\n      const b = r.body;\n      if (Buffer.isBuffer(b)) bodyText = b.toString('utf8');\n      else if (typeof b === 'string') bodyText = b;\n      else if (b && b.type === 'Buffer' && Array.isArray(b.data)) bodyText = Buffer.from(b.data).toString('utf8');\n      else bodyText = JSON.stringify(b);\n    } catch (_) {}\n    return [{ json: { error: 'Embedding HTTP ' + status + ': ' + bodyText.slice(0, 300) } }];\n  } catch (e) {\n    const code = (e.cause && e.cause.code) || e.code || '';\n    if (NET_ERR.includes(code) || /timeout|econnrefused|enotfound|connect|getaddrinfo/i.test(String(e.message || ''))) {\n      lastErr = (e.message || String(e)) + ' (' + url + ')';\n      continue;\n    }\n    return [{ json: { error: 'Embedding исключение: ' + (e.message || String(e)) } }];\n  }\n}\n\nreturn [{ json: { error: 'Embedding-сервер недоступен. Проверь что embedding-server запущен на порту 8001. Последняя ошибка: ' + lastErr } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        200
      ],
      "id": "dl-0009-0009-0009-000000000009",
      "name": "Эмбеддинг",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем вектор из ответа эмбеддинга и готовим SQL.\ntry {\n  const data = $input.first().json;\n  const prevData = $('Нарезка на куски').first().json;\n  const fileName = prevData.fileName;\n  const chunkIndex = prevData.chunk_index;\n  const chunkText = prevData.chunk_text;\n  const totalChunks = prevData.total_chunks;\n\n  if (data.error) {\n    return [{ json: { success: false, error: 'Ошибка эмбеддинга: ' + JSON.stringify(data.error) } }];\n  }\n\n  let vector = null;\n  if (data.data && Array.isArray(data.data) && data.data[0] && data.data[0].embedding) {\n    vector = data.data[0].embedding;\n  } else if (data.embedding && Array.isArray(data.embedding)) {\n    vector = data.embedding;\n  } else if (Array.isArray(data) && data.length > 0 && typeof data[0] === 'number') {\n    vector = data;\n  }\n\n  if (!vector || vector.length === 0) {\n    return [{ json: { success: false, error: 'Эмбеддинг вернул пустой вектор.' } }];\n  }\n\n  const safeText = chunkText.replaceAll(\"'\", \"''\");\n  const safeFileName = fileName.replaceAll(\"'\", \"''\");\n  const vectorStr = '[' + vector.join(',') + ']';\n\n  // ON CONFLICT UPDATE — идемпотентность повторной загрузки: тот же файл\n  // обновляет чанки, а не дублирует. Требует UNIQUE constraint на\n  // (filename, chunk_index) в схеме (см. PostgreSQL-Guide.md).\n  const sql = `INSERT INTO documents (filename, chunk_index, chunk_text, embedding) VALUES ('${safeFileName}', ${chunkIndex}, '${safeText}', '${vectorStr}') ON CONFLICT (filename, chunk_index) DO UPDATE SET chunk_text = EXCLUDED.chunk_text, embedding = EXCLUDED.embedding, created_at = NOW()`;\n\n  return [{ json: {\n    success: true,\n    sql: sql,\n    fileName: fileName,\n    chunk_index: chunkIndex,\n    total_chunks: totalChunks,\n    vector_size: vector.length\n  }}];\n} catch (e) {\n  return [{ json: { success: false, error: 'Ошибка обработки эмбеддинга: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        200
      ],
      "id": "dl-0010-0010-0010-000000000010",
      "name": "Подготовка SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        200
      ],
      "id": "dl-0011-0011-0011-000000000011",
      "name": "Записать в PGVector",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Агрегируем результаты записи всех кусков.\nfunction errToString(e) {\n  if (!e) return '';\n  if (typeof e === 'string') return e;\n  if (typeof e === 'object') {\n    if (e.message) return String(e.message);\n    if (e.detail) return String(e.detail);\n    try { return JSON.stringify(e); } catch (_) { return String(e); }\n  }\n  return String(e);\n}\n\nconst items = $input.all();\nlet success = 0;\nlet failed = 0;\nlet errors = [];\nlet fileName = '';\nlet totalChunks = 0;\nlet source = '';\n\nfor (const item of items) {\n  const prev = item.json || {};\n  if (!fileName && prev.fileName) fileName = prev.fileName;\n  if (!totalChunks && prev.total_chunks) totalChunks = prev.total_chunks;\n  if (!source && prev.source) source = prev.source;\n  if (prev.error) {\n    failed++;\n    errors.push(errToString(prev.error));\n  } else {\n    success++;\n  }\n}\n\nif (success === 0 && failed === 0) {\n  success = items.length;\n}\n\nif (!fileName) {\n  try { fileName = $('Нарезка на куски').first().json.fileName; } catch (_) {}\n}\nif (!source) {\n  try { source = $('Нарезка на куски').first().json.source; } catch (_) {}\n}\n\nconst sourceLabel = source === 'browser' ? ' (без OCR — текст извлечён в браузере)'\n                  : source === 'ocr'     ? ' (через OCR)' : '';\n\nlet message = '';\nif (failed === 0) {\n  message = 'Документ \"' + fileName + '\" успешно загружен' + sourceLabel + '!\\n' +\n    'Сохранено кусков: ' + success + '\\n' +\n    'Документ теперь доступен для поиска по смыслу через агента по документам.';\n} else {\n  // Уникальные ошибки\n  const uniqErrors = Array.from(new Set(errors)).slice(0, 3);\n  message = 'Документ \"' + fileName + '\" загружен частично' + sourceLabel + '.\\n' +\n    'Успешно: ' + success + ', ошибок: ' + failed + '\\n' +\n    'Ошибки: ' + uniqErrors.join(' | ');\n}\n\nreturn [{ json: { response: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        200
      ],
      "id": "dl-0012-0012-0012-000000000012",
      "name": "Агрегация результатов"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3400,
        200
      ],
      "id": "dl-0013-0013-0013-000000000013",
      "name": "Ответ: Успех"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.error || 'Файл не загружен.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        700
      ],
      "id": "dl-0014-0014-0014-000000000014",
      "name": "Ответ: Нет файла"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.error || 'OCR не распознал текст.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1960,
        600
      ],
      "id": "dl-0015-0015-0015-000000000015",
      "name": "Ответ: OCR ошибка"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Ping?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить вход": {
      "main": [
        [
          {
            "node": "Текст готов?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст готов?": {
      "main": [
        [
          {
            "node": "Нарезка на куски",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Файл есть?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Файл есть?": {
      "main": [
        [
          {
            "node": "OCR Распознавание",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: Нет файла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Распознавание": {
      "main": [
        [
          {
            "node": "Извлечь текст из OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь текст из OCR": {
      "main": [
        [
          {
            "node": "OCR Текст есть?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Текст есть?": {
      "main": [
        [
          {
            "node": "Нарезка на куски",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: OCR ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нарезка на куски": {
      "main": [
        [
          {
            "node": "Эмбеддинг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Эмбеддинг": {
      "main": [
        [
          {
            "node": "Подготовка SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка SQL": {
      "main": [
        [
          {
            "node": "Записать в PGVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записать в PGVector": {
      "main": [
        [
          {
            "node": "Агрегация результатов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация результатов": {
      "main": [
        [
          {
            "node": "Ответ: Успех",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping?": {
      "main": [
        [
          {
            "node": "Ответ: pong",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Определить вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "doc-loader-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "doc-loader-001",
  "tags": []
}
