Workflow/math-agent.json
{
  "name": "Математический агент",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "math",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "math-0001-0001-0001-000000000001",
      "name": "Webhook Math",
      "webhookId": "math-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').trim();\nconst session_id = (body.session_id || 'math-default').trim();\n\n// Health-check: отдаём pong без вызова LLM\nif (message === 'ping') {\n  return [{json: {valid: 0, error: 'pong'}}];\n}\n\nif (!message || message.length < 2) {\n  return [{json: {valid: 0, error: 'Введите сообщение'}}];\n}\n\nif (message.length > 10000) {\n  return [{json: {valid: 0, error: 'Слишком длинный запрос (максимум 10000 символов)'}}];\n}\n\nreturn [{json: {valid: 1, message: message, session_id: session_id}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "math-0002-0002-0002-000000000002",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-valid-math",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "math-0003-0003-0003-000000000003",
      "name": "Запрос валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, code: '', raw_result: ''}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        520
      ],
      "id": "math-0004-0004-0004-000000000004",
      "name": "Ответ: ошибка валидации"
    },
    {
      "parameters": {
        "jsCode": "const message = $('Агрегация').first().json.message;\nconst historyContext = $('Агрегация').first().json.historyContext || '';\nconst session_id = $('Агрегация').first().json.session_id || 'math-default';\nconst lower = message.toLowerCase();\n\nconst mathKeywords = [\n  'посчитай', 'вычисли', 'вычислить', 'рассчитай', 'рассчитать',\n  'реши', 'решить', 'решение', 'уравнен', 'неравенств',\n  'формул', 'процент', 'корень', 'степен', 'логарифм',\n  'сумм', 'разност', 'произведен', 'делен', 'остаток от',\n  'площад', 'объём', 'объем', 'периметр', 'окружност',\n  'треугольник', 'квадрат', 'куб', 'прямоугольник', 'цилиндр', 'сфер',\n  'интеграл', 'производн', 'предел', 'синус', 'косинус', 'тангенс',\n  'матриц', 'вектор', 'определител', 'детерминант',\n  'график', 'функци', 'парабол',\n  'статистик', 'среднее', 'медиан', 'дисперс', 'отклонен',\n  'вероятност', 'комбинатор', 'факториал', 'перестанов', 'сочетан',\n  'npv', 'irr', 'roi', 'аннуитет', 'ипотек', 'кредит', 'депозит',\n  'инвестиц', 'маржа', 'наценк', 'скидк', 'ндс', 'налог',\n  'зарплат', 'рентабельн', 'прибыл', 'выручк', 'себестоимост',\n  'сколько будет', 'чему равн', 'найди', 'найти',\n  'sqrt', 'calculate', 'solve', 'equation', 'math',\n  'конвертируй', 'переведи в'\n];\n\nconst hasMathExpression = /\\d+\\s*[+\\-*/^%=]\\s*\\d+/.test(message);\nconst hasNumbers = /\\d{2,}/.test(message) || /\\d+[.,]\\d+/.test(message);\n\nlet isMath = hasMathExpression;\n\nif (!isMath) {\n  for (const kw of mathKeywords) {\n    if (lower.includes(kw)) { isMath = true; break; }\n  }\n}\n\nif (!isMath && hasNumbers && message.length > 20) {\n  const taskIndicators = ['сколько', 'какой', 'какая', 'какое', 'найди', 'найти',\n    'определи', 'определить', 'если', 'при', 'дано', 'равно', 'равна'];\n  for (const kw of taskIndicators) {\n    if (lower.includes(kw)) { isMath = true; break; }\n  }\n}\n\nif (!isMath && /^[\\d\\s+\\-*/^().,]+$/.test(message.trim())) {\n  isMath = true;\n}\n\nif (!isMath) {\n  return [{ json: { message, mode: 'general', historyContext, session_id } }];\n}\n\nreturn [{ json: { message, mode: 'math', historyContext, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        80
      ],
      "id": "math-cls-0001",
      "name": "Классификатор"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-general"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1960,
        80
      ],
      "id": "math-switch-0001",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "assistant",
              "content": "КРИТИЧЕСКОЕ ПРАВИЛО (важнее всех остальных, нарушение = неправильный ответ):\nНИКОГДА не начинай ответ со слов «Привет», «Здравствуйте», «Здравствуй», «Доброго времени суток», «Добрый день», «Добрый вечер», «Доброе утро», «Приветствую», «Hi», «Hello». Запрещено приветствие в любой форме в начале любого ответа. Даже если пользователь сам поздоровался — отвечай сразу по сути, без приветствия. Не используй эмодзи-приветствия (👋 и т.п.).\nНачинай ответ сразу с сути: с глагола, существительного, вопроса или утверждения по теме.\n\nТы — математический помощник GigaChat. Главная задача — решать задачи и вычисления.\n\nНо ты дружелюбный собеседник и можешь поддержать разговор на любую тему.\n\nПравила:\n1. Отвечай кратко — максимум 5-7 предложений\n2. Если пользователь поздоровался — НЕ отвечай «Привет», сразу представься и предложи помощь: «Я математический помощник — задавайте задачу, посчитаю.»\n3. Если спрашивают что ты умеешь — объясни про математику и вычисления\n4. Если вопрос на другую тему — ответь по-дружески, в конце плавно упомяни что можешь помочь с расчётами. Не навязывай\n5. Если пользователь продолжает общаться не про математику — просто общайся, не повторяй напоминание каждый раз\n6. Пиши на русском языке\n7. Не используй markdown-заголовки\n8. Будь живым, не роботичным\n9. Не повторяй одну и ту же фразу-шаблон в нескольких ответах подряд\n\nПример 1:\nЗапрос: Привет\nОтвет: Я математический помощник — решаю задачи, считаю формулы, проценты, уравнения. Задавайте задачу — посчитаю точно. А если просто поболтать — тоже можно.\n\nПример 2:\nЗапрос: Какая сегодня погода?\nОтвет: К сожалению, я не подключён к сервисам погоды. Зато могу посчитать что угодно — от процентов по кредиту до площади вашей комнаты!\n\nПример 3:\nЗапрос: Расскажи анекдот\nОтвет: Математик ставит два стакана на тумбочку перед сном — один с водой, один пустой. С водой — если захочет пить. Пустой — если не захочет. Если нужно что-то посчитать — обращайтесь!\n\nПример 4:\nЗапрос: Как дела?\nОтвет: Отлично, спасибо! Готов к вычислениям. Есть задача или просто заглянули?\n\nАнтипример (НЕЛЬЗЯ так):\nЗапрос: Привет\nПлохой ответ: Привет! Я математический помощник...\nХороший ответ: Я математический помощник — задавайте задачу."
            },
            {
              "content": "={{ $json.historyContext }}{{ $json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2240,
        -140
      ],
      "id": "math-gen-0001",
      "name": "Ответ GENERAL",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос. Попробуйте ещё раз.', code: '', raw_result: '' } }];\n  }\n  const text = raw.output[0].content[0].text;\n  return [{ json: { response: text.trim(), code: '', raw_result: '' } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки.', code: '', raw_result: '' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        -140
      ],
      "id": "math-gen-0002",
      "name": "Проверка ответа GEN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа GEN').first().json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3080,
        -140
      ],
      "id": "math-gen-0003",
      "name": "Ответ: GENERAL"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "assistant",
              "content": "Ты — генератор Python-кода. Получив задачу, напиши Python-код для решения.\n\nКРИТИЧЕСКИ ВАЖНО:\n- Пиши ТОЛЬКО код. Ни одного слова пояснений\n- Первая строка ответа = первая строка кода\n- Последняя строка кода = ОДИН print с ПОЛНЫМ финальным ответом для пользователя\n- НЕ оборачивай в ```python``` или ```\n- НЕ пиши 'Вот решение', 'Конечно', 'Давайте' — сразу код\n\nПРАВИЛО ПРО ПОСЛЕДНИЙ PRINT (важно):\nПоследняя строка вывода — это то, что увидит пользователь как ответ. Поэтому:\n- Если ответ одно число — print(результат)\n- Если ответов несколько (корни уравнения, среднее+медиана и т.п.) — ВСЁ объединяй в ОДНУ строку: print(f\"x1 = {x1}, x2 = {x2}\") или print(f\"среднее = {mean}, медиана = {median}\")\n- Промежуточные print в коде делать МОЖНО (для отладки), но последний обязательно содержит итог\n- В итоге используй адекватное округление: round(x, 2) для денег/процентов, 4 знака для научных расчётов\n\nРАЗРЕШЕНО: math, statistics, decimal, fractions\nЗАПРЕЩЕНО: os, sys, subprocess, open(), exec(), eval(), requests, socket\n\nПример 1:\nЗадача: 15% от 250000\nresult = 250000 * 0.15\nprint(result)\n\nПример 2:\nЗадача: Площадь круга радиусом 5\nimport math\narea = math.pi * 5 ** 2\nprint(round(area, 4))\n\nПример 3:\nЗадача: NPV: вложение 1000000, доход 300000/год, 5 лет, ставка 12%\ninvestment = 1000000\ncash_flow = 300000\nrate = 0.12\nnpv = -investment\nfor t in range(1, 6):\n    npv += cash_flow / (1 + rate) ** t\nprint(round(npv, 2))\n\nПример 4 (несколько значений — В ОДНОЙ строке):\nЗадача: x^2 - 5x + 6 = 0\nimport math\na, b, c = 1, -5, 6\nd = b**2 - 4*a*c\nx1 = (-b + math.sqrt(d)) / (2*a)\nx2 = (-b - math.sqrt(d)) / (2*a)\nprint(f\"x1 = {x1}, x2 = {x2}\")\n\nПример 5 (несколько значений — В ОДНОЙ строке):\nЗадача: Среднее и медиана: 10, 20, 30, 40, 50\nimport statistics\ndata = [10, 20, 30, 40, 50]\nprint(f\"среднее = {statistics.mean(data)}, медиана = {statistics.median(data)}\")\n\nПример 6:\nЗадача: 2 + 2\nprint(2 + 2)\n\nНЕПРАВИЛЬНО (так НЕ делай):\n\nA) Объяснения вместо кода:\nКонечно! Вот решение вашей задачи:\n```python\nprint(2 + 2)\n```\nОтвет: 4\n\nB) Несколько print с раздельными частями ответа (последняя строка не содержит всё):\nprint(x1)\nprint(x2)\n^^^ так нельзя, надо в одну строку\n\nПРАВИЛЬНО:\nprint(f\"x1 = {x1}, x2 = {x2}\")\n\nТеперь напиши код:"
            },
            {
              "content": "={{ $('Агрегация').first().json.historyContext }}Задача: {{ $('Валидация').first().json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2240,
        300
      ],
      "id": "math-0005-0005-0005-000000000005",
      "name": "Генерация кода",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n\n  if (raw.error) {\n    return [{ json: { success: 0, code: '', error: 'GigaChat недоступен. Попробуйте позже.' } }];\n  }\n\n  let code = raw.output[0].content[0].text;\n\n  // Убираем markdown-обёртки\n  code = code.replace(/```python\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\n  // Убираем текст до первого import или первой переменной\n  const lines = code.split('\\n');\n  let startIdx = 0;\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    if (line.startsWith('import ') || line.startsWith('from ') ||\n        line.match(/^[a-zA-Z_]/) || line.startsWith('#') ||\n        line.startsWith('print(')) {\n      startIdx = i;\n      break;\n    }\n  }\n  code = lines.slice(startIdx).join('\\n').trim();\n\n  if (!code || code.length < 5) {\n    return [{ json: { success: 0, code: '', error: 'GigaChat не смог сгенерировать код.' } }];\n  }\n\n  // ПРОВЕРКА БЕЗОПАСНОСТИ\n  const dangerous = [\n    'import os', 'import sys', 'import subprocess', 'import shutil',\n    'import pathlib', 'import socket', 'import http', 'import requests',\n    'import urllib', 'import ftplib', 'import smtplib', 'import pickle',\n    'open(', 'exec(', 'eval(', '__import__', 'compile(',\n    'globals(', 'locals(', 'getattr(', 'setattr(', 'delattr(',\n    'os.', 'sys.', 'subprocess.', 'shutil.', 'pathlib.',\n    'socket.', 'http.', 'requests.', 'input('\n  ];\n\n  const codeLower = code.toLowerCase();\n  for (const d of dangerous) {\n    if (codeLower.includes(d.toLowerCase())) {\n      return [{ json: { success: 0, code: code, error: 'Код содержит запрещённую операцию: ' + d } }];\n    }\n  }\n\n  if (!code.includes('print(') && !code.includes('print (')) {\n    code += '\\nprint(result)';\n  }\n\n  return [{ json: { success: 1, code: code, error: '' } }];\n\n} catch (e) {\n  return [{ json: { success: 0, code: '', error: 'Ошибка обработки ответа GigaChat: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        300
      ],
      "id": "math-0006-0006-0006-000000000006",
      "name": "Проверка кода"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-code-ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        300
      ],
      "id": "math-0007-0007-0007-000000000007",
      "name": "Код безопасен?"
    },
    {
      "parameters": {
        "jsCode": "const code = $json.code;\n\ntry {\n  let jsCode = code;\n\n  jsCode = jsCode.replace(/^import .*$/gm, '');\n  jsCode = jsCode.replace(/^from .* import .*$/gm, '');\n\n  jsCode = jsCode.replace(/math\\.pi/g, 'Math.PI');\n  jsCode = jsCode.replace(/math\\.e\\b/g, 'Math.E');\n  jsCode = jsCode.replace(/math\\.sqrt\\(/g, 'Math.sqrt(');\n  jsCode = jsCode.replace(/math\\.pow\\(/g, 'Math.pow(');\n  jsCode = jsCode.replace(/math\\.log\\(/g, 'Math.log(');\n  jsCode = jsCode.replace(/math\\.log10\\(/g, 'Math.log10(');\n  jsCode = jsCode.replace(/math\\.log2\\(/g, 'Math.log2(');\n  jsCode = jsCode.replace(/math\\.sin\\(/g, 'Math.sin(');\n  jsCode = jsCode.replace(/math\\.cos\\(/g, 'Math.cos(');\n  jsCode = jsCode.replace(/math\\.tan\\(/g, 'Math.tan(');\n  jsCode = jsCode.replace(/math\\.asin\\(/g, 'Math.asin(');\n  jsCode = jsCode.replace(/math\\.acos\\(/g, 'Math.acos(');\n  jsCode = jsCode.replace(/math\\.atan\\(/g, 'Math.atan(');\n  jsCode = jsCode.replace(/math\\.ceil\\(/g, 'Math.ceil(');\n  jsCode = jsCode.replace(/math\\.floor\\(/g, 'Math.floor(');\n  jsCode = jsCode.replace(/math\\.abs\\(/g, 'Math.abs(');\n  jsCode = jsCode.replace(/abs\\(/g, 'Math.abs(');\n  jsCode = jsCode.replace(/math\\.factorial\\((\\w+)\\)/g, '(function f(n){let r=1;for(let i=2;i<=n;i++)r*=i;return r})($1)');\n  jsCode = jsCode.replace(/math\\.radians\\(([^)]+)\\)/g, '(($1) * Math.PI / 180)');\n  jsCode = jsCode.replace(/math\\.degrees\\(([^)]+)\\)/g, '(($1) * 180 / Math.PI)');\n\n  jsCode = jsCode.replace(/f'([^']*)'/g, function(match, content) {\n    return '`' + content.replace(/\\{([^}]+)\\}/g, '${$1}') + '`';\n  });\n  jsCode = jsCode.replace(/f\"([^\"]*)\"/g, function(match, content) {\n    return '`' + content.replace(/\\{([^}]+)\\}/g, '${$1}') + '`';\n  });\n\n  const outputs = [];\n  const fakePrint = function() {\n    const args = Array.from(arguments);\n    outputs.push(args.map(a => typeof a === 'object' ? JSON.stringify(a) : String(a)).join(' '));\n  };\n  jsCode = jsCode.replace(/\\bprint\\s*\\(/g, 'fakePrint(');\n\n  jsCode = jsCode.replace(/\\bTrue\\b/g, 'true');\n  jsCode = jsCode.replace(/\\bFalse\\b/g, 'false');\n  jsCode = jsCode.replace(/\\bNone\\b/g, 'null');\n  jsCode = jsCode.replace(/\\belif\\b/g, 'else if');\n  jsCode = jsCode.replace(/len\\(([^)]+)\\)/g, '$1.length');\n\n  jsCode = jsCode.replace(/for\\s+(\\w+)\\s+in\\s+range\\(([^,]+),\\s*([^)]+)\\)/g,\n    'for (let $1 = $2; $1 < $3; $1++)');\n  jsCode = jsCode.replace(/for\\s+(\\w+)\\s+in\\s+range\\(([^)]+)\\)/g,\n    'for (let $1 = 0; $1 < $2; $1++)');\n\n  jsCode = jsCode.replace(/statistics\\.mean\\(([^)]+)\\)/g, '(($1).reduce((a,b)=>a+b,0)/($1).length)');\n  jsCode = jsCode.replace(/statistics\\.median\\(([^)]+)\\)/g, '(function(arr){const s=[...arr].sort((a,b)=>a-b);const m=Math.floor(s.length/2);return s.length%2?s[m]:(s[m-1]+s[m])/2})($1)');\n  jsCode = jsCode.replace(/statistics\\.stdev\\(([^)]+)\\)/g, '(function(arr){const m=arr.reduce((a,b)=>a+b,0)/arr.length;return Math.sqrt(arr.reduce((s,v)=>s+(v-m)**2,0)/(arr.length-1))})($1)');\n  jsCode = jsCode.replace(/statistics\\.variance\\(([^)]+)\\)/g, '(function(arr){const m=arr.reduce((a,b)=>a+b,0)/arr.length;return arr.reduce((s,v)=>s+(v-m)**2,0)/(arr.length-1)})($1)');\n  jsCode = jsCode.replace(/sum\\(([^)]+)\\)/g, '($1).reduce((a,b)=>a+b,0)');\n  jsCode = jsCode.replace(/max\\(([^)]+)\\)/g, 'Math.max(...$1)');\n  jsCode = jsCode.replace(/min\\(([^)]+)\\)/g, 'Math.min(...$1)');\n\n  const finalLines = jsCode.split('\\n');\n  let processed = [];\n  let indentStack = [0];\n\n  for (let i = 0; i < finalLines.length; i++) {\n    let line = finalLines[i];\n    const trimmed = line.trim();\n    if (!trimmed) continue;\n\n    const indent = line.search(/\\S/);\n    if (indent < 0) continue;\n\n    while (indentStack.length > 1 && indent < indentStack[indentStack.length - 1]) {\n      indentStack.pop();\n      processed.push(' '.repeat(indentStack[indentStack.length - 1]) + '}');\n    }\n\n    if (trimmed.endsWith(':')) {\n      line = line.replace(/:$/, ' {');\n    }\n\n    processed.push(line);\n\n    if (line.trim().endsWith('{')) {\n      indentStack.push(indent + 4);\n    }\n  }\n\n  while (indentStack.length > 1) {\n    indentStack.pop();\n    processed.push('}');\n  }\n\n  jsCode = processed.join('\\n');\n\n  const fn = new Function('fakePrint', 'Math', jsCode);\n  fn(fakePrint, Math);\n\n  const result = outputs.join('\\n');\n\n  if (!result || result.trim().length === 0) {\n    return [{ json: { computed: false, result: '', final_line: '', code: code, error: 'Код выполнился, но не вернул результат.' } }];\n  }\n\n  // Извлекаем финальную строку (последняя непустая) — она и есть ответ для пользователя.\n  // Это число берётся в \"Проверка ответа\" детерминированно, без посредничества LLM.\n  const trimmedLines = outputs.map(l => String(l).trim()).filter(l => l.length > 0);\n  const finalLine = trimmedLines.length > 0 ? trimmedLines[trimmedLines.length - 1] : result.trim();\n\n  return [{ json: { computed: true, result: result, final_line: finalLine, code: code, error: '' } }];\n\n} catch (e) {\n  return [{ json: { computed: false, result: '', final_line: '', code: code, error: 'Ошибка вычисления: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        80
      ],
      "id": "math-0008-0008-0008-000000000008",
      "name": "Выполнить код"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "assistant",
              "content": "Ты — математический помощник. Объясни, КАК была решена задача. Финальный ответ уже дан пользователю программно — ты его НЕ дублируешь, НЕ вычисляешь и НЕ переформулируешь.\n\nПравила:\n1. НЕ начинай со слова «Ответ» или с числа. Сразу пиши, как решали.\n2. 2-3 предложения о методе/формуле решения.\n3. Можешь упомянуть единицы измерения если уместно.\n4. НЕ пиши код. НЕ повторяй условие задачи дословно. НЕ выводи число, оно уже подставлено системой.\n5. Пиши на русском.\n6. Максимум 4 предложения.\n\nПример 1:\nЗадача: 15% от 250000\nФинальный ответ (уже выдан системой): 37500.0\nТвоё объяснение: Умножили 250 000 на 0.15. Это стандартный расчёт процента от суммы.\n\nПример 2:\nЗадача: x^2 - 5x + 6 = 0\nФинальный ответ (уже выдан системой): x1 = 3.0, x2 = 2.0\nТвоё объяснение: Решение через дискриминант: D = b² − 4ac = 25 − 24 = 1. Корни считаются по формуле (−b ± √D) / 2a.\n\nПример 3:\nЗадача: Среднее и медиана: 10, 20, 30, 40, 50\nФинальный ответ (уже выдан системой): среднее = 30, медиана = 30\nТвоё объяснение: Сумма 150 делится на 5 — это среднее. Медиана — серединное значение упорядоченного ряда, в данном случае это 30.\n\nНЕПРАВИЛЬНО (так НЕ делай):\n- Не начинай с «Ответ: 37500. Умножаем...»\n- Не пиши «Итак, посчитав, получаем 37500»\n- Не дублируй число\n\nПРАВИЛЬНО:\n- Сразу с метода: «Умножили 250 000 на 0.15. Это стандартный расчёт процента.»\n\nТеперь объясни:"
            },
            {
              "content": "={{ $('Агрегация').first().json.historyContext }}Задача: {{ $('Валидация').first().json.message }}\n\nКод:\n{{ $json.code }}\n\nФинальный ответ (уже выдан системой пользователю): {{ $json.final_line }}\n\nВсе printы кода (для контекста):\n{{ $json.result }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3360,
        80
      ],
      "id": "math-0009-0009-0009-000000000009",
      "name": "Объяснение результата",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Собираем итоговый ответ детерминированно:\n// число — из вывода Python (final_line), пояснение — от LLM.\n// Это предотвращает ошибку, когда LLM подсовывает промежуточное значение.\ntry {\n  const raw = $input.first().json;\n  const prev = $('Выполнить код').first().json;\n\n  // Если вычисление сломалось — fallback\n  if (!prev || !prev.computed) {\n    if (prev && prev.error) {\n      return [{ json: { response_text: 'Не удалось решить задачу: ' + prev.error } }];\n    }\n    return [{ json: { response_text: 'Не удалось обработать задачу.' } }];\n  }\n\n  const finalLine = (prev.final_line || prev.result || '').trim();\n  if (!finalLine) {\n    return [{ json: { response_text: 'Код выполнился, но не вернул значение.' } }];\n  }\n\n  // Извлекаем пояснение LLM\n  let explanation = '';\n  try {\n    explanation = raw.output[0].content[0].text.trim();\n  } catch (e) {\n    explanation = '';\n  }\n\n  // Защита: если LLM всё-таки начала с \"Ответ: ...\" — срезаем эту шапку,\n  // чтобы не было дубликата числа в финальном ответе.\n  explanation = explanation\n    .replace(/^Ответ\\s*[:\\-]\\s*[^\\n.]+[.\\n]\\s*/i, '')\n    .replace(/^Итак[,]?\\s*получаем[^\\n.]+[.\\n]\\s*/i, '')\n    .trim();\n\n  // Финальный текст: число всегда из Python, объяснение от LLM (или пустое)\n  let response = 'Ответ: ' + finalLine;\n  if (explanation) {\n    response += '\\n\\n' + explanation;\n  }\n\n  return [{ json: { response_text: response } }];\n} catch(e) {\n  const prev = $('Выполнить код').first().json;\n  if (prev && prev.final_line) {\n    return [{ json: { response_text: 'Ответ: ' + prev.final_line } }];\n  }\n  if (prev && prev.result) {\n    return [{ json: { response_text: 'Ответ: ' + prev.result } }];\n  }\n  return [{ json: { response_text: 'Ошибка обработки.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        80
      ],
      "id": "math-0010-0010-0010-000000000010",
      "name": "Проверка ответа"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Проверка ответа').first().json.response_text, code: $('Выполнить код').first().json.code || '', raw_result: $('Выполнить код').first().json.result || '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4200,
        80
      ],
      "id": "math-0011-0011-0011-000000000011",
      "name": "Ответ: результат"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Проверка кода').first().json.error || 'Код не прошёл проверку безопасности.', code: $('Проверка кода').first().json.code || '', raw_result: '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3360,
        520
      ],
      "id": "math-0012-0012-0012-000000000012",
      "name": "Ответ: код опасен"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM chat_memory WHERE session_id = '{{ $('Валидация').first().json.session_id }}' ORDER BY created_at DESC LIMIT 30",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        80
      ],
      "id": "math-load-history-0001",
      "name": "Загрузить историю",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const historyRows = $input.all().reverse();\nlet historyContext = '';\nif (historyRows.length > 0) {\n  const lines = historyRows.map(item => {\n    const role = item.json.role === 'user' ? 'Пользователь' : 'Ассистент';\n    return role + ': ' + (item.json.content || '');\n  });\n  historyContext = 'История диалога:\\n' + lines.join('\\n') + '\\n\\n';\n}\nconst v = $('Валидация').first().json;\nreturn [{json: {message: v.message, session_id: v.session_id, historyContext: historyContext}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ],
      "id": "math-aggregate-0001",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ('{{ $json.session_id }}', 'user', '{{ ($json.message || '').replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        80
      ],
      "id": "math-save-question-0001",
      "name": "Сохранить вопрос",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ('{{ $('Агрегация').first().json.session_id }}', 'assistant', '{{ ($json.response || '').replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        -140
      ],
      "id": "math-save-resp-gen-0001",
      "name": "Сохранить ответ GEN",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content, extras) VALUES ('{{ $('Агрегация').first().json.session_id }}', 'assistant', '{{ ($json.response_text || '').replaceAll(\"'\", \"''\") }}', '{{ JSON.stringify({code: $('Выполнить код').first().json.code || '', raw_result: $('Выполнить код').first().json.result || ''}).replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3920,
        80
      ],
      "id": "math-save-resp-math-0001",
      "name": "Сохранить ответ MATH",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content, extras) VALUES ('{{ $('Агрегация').first().json.session_id }}', 'assistant', '{{ ($json.error || 'Код не прошёл проверку безопасности.').replaceAll(\"'\", \"''\") }}', '{{ JSON.stringify({code: $json.code || '', raw_result: ''}).replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        520
      ],
      "id": "math-save-resp-unsafe-0001",
      "name": "Сохранить ответ UNSAFE",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Math": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Запрос валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос валиден?": {
      "main": [
        [
          {
            "node": "Загрузить историю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Классификатор": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ответ GENERAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Генерация кода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ GENERAL": {
      "main": [
        [
          {
            "node": "Проверка ответа GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа GEN": {
      "main": [
        [
          {
            "node": "Сохранить ответ GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация кода": {
      "main": [
        [
          {
            "node": "Проверка кода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка кода": {
      "main": [
        [
          {
            "node": "Код безопасен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код безопасен?": {
      "main": [
        [
          {
            "node": "Выполнить код",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сохранить ответ UNSAFE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выполнить код": {
      "main": [
        [
          {
            "node": "Объяснение результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объяснение результата": {
      "main": [
        [
          {
            "node": "Проверка ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа": {
      "main": [
        [
          {
            "node": "Сохранить ответ MATH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить историю": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Сохранить вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить вопрос": {
      "main": [
        [
          {
            "node": "Классификатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ GEN": {
      "main": [
        [
          {
            "node": "Ответ: GENERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ MATH": {
      "main": [
        [
          {
            "node": "Ответ: результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ UNSAFE": {
      "main": [
        [
          {
            "node": "Ответ: код опасен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "math-agent-v2-general",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "math-agent-001",
  "tags": []
}