Workflow/math-agent.json
{
  "name": "Математический агент. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "math",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "math-0001-0001-0001-000000000001",
      "name": "Webhook Math",
      "webhookId": "math-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').trim();\nconst session_id = (body.session_id || 'math-default').trim();\n\n// Health-check: отдаём pong без вызова LLM\nif (message === 'ping') {\n  return [{json: {valid: 0, error: 'pong'}}];\n}\n\nif (!message || message.length < 2) {\n  return [{json: {valid: 0, error: 'Введите сообщение'}}];\n}\n\nif (message.length > 100000) {\n  return [{json: {valid: 0, error: 'Слишком длинный запрос (максимум 100000 символов)'}}];\n}\n\nreturn [{json: {valid: 1, message: message, session_id: session_id}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "math-0002-0002-0002-000000000002",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid-math",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "math-0003-0003-0003-000000000003",
      "name": "Запрос валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, code: '', raw_result: ''}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        520
      ],
      "id": "math-0004-0004-0004-000000000004",
      "name": "Ответ: ошибка валидации"
    },
    {
      "parameters": {
        "jsCode": "const message = $('Агрегация').first().json.message;\nconst historyContext = $('Агрегация').first().json.historyContext || '';\nconst session_id = $('Агрегация').first().json.session_id || 'math-default';\nconst lower = message.toLowerCase();\n\nconst mathKeywords = [\n  'посчитай', 'вычисли', 'вычислить', 'рассчитай', 'рассчитать',\n  'реши', 'решить', 'решение', 'уравнен', 'неравенств',\n  'формул', 'процент', 'корень', 'степен', 'логарифм',\n  'сумм', 'разност', 'произведен', 'делен', 'остаток от',\n  'площад', 'объём', 'объем', 'периметр', 'окружност',\n  'треугольник', 'квадрат', 'куб', 'прямоугольник', 'цилиндр', 'сфер',\n  'интеграл', 'производн', 'предел', 'синус', 'косинус', 'тангенс',\n  'матриц', 'вектор', 'определител', 'детерминант',\n  'график', 'функци', 'парабол',\n  'статистик', 'среднее', 'медиан', 'дисперс', 'отклонен',\n  'вероятност', 'комбинатор', 'факториал', 'перестанов', 'сочетан',\n  'npv', 'irr', 'roi', 'аннуитет', 'ипотек', 'кредит', 'депозит',\n  'инвестиц', 'маржа', 'наценк', 'скидк', 'ндс', 'налог',\n  'зарплат', 'рентабельн', 'прибыл', 'выручк', 'себестоимост',\n  'сколько будет', 'чему равн', 'найди', 'найти',\n  'sqrt', 'calculate', 'solve', 'equation', 'math',\n  'конвертируй', 'переведи в'\n];\n\nconst hasMathExpression = /\\d+\\s*[+\\-*/^%=]\\s*\\d+/.test(message);\nconst hasNumbers = /\\d{2,}/.test(message) || /\\d+[.,]\\d+/.test(message);\n\nlet isMath = hasMathExpression;\n\nif (!isMath) {\n  for (const kw of mathKeywords) {\n    if (lower.includes(kw)) { isMath = true; break; }\n  }\n}\n\nif (!isMath && hasNumbers && message.length > 20) {\n  const taskIndicators = ['сколько', 'какой', 'какая', 'какое', 'найди', 'найти',\n    'определи', 'определить', 'если', 'при', 'дано', 'равно', 'равна'];\n  for (const kw of taskIndicators) {\n    if (lower.includes(kw)) { isMath = true; break; }\n  }\n}\n\nif (!isMath && /^[\\d\\s+\\-*/^().,]+$/.test(message.trim())) {\n  isMath = true;\n}\n\nif (!isMath) {\n  return [{ json: { message, mode: 'general', historyContext, session_id } }];\n}\n\nreturn [{ json: { message, mode: 'math', historyContext, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        80
      ],
      "id": "math-cls-0001",
      "name": "Классификатор"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-general"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1960,
        80
      ],
      "id": "math-switch-0001",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "КРИТИЧЕСКОЕ ПРАВИЛО (важнее всех остальных, нарушение = неправильный ответ):\nНИКОГДА не начинай ответ со слов «Привет», «Здравствуйте», «Здравствуй», «Доброго времени суток», «Добрый день», «Добрый вечер», «Доброе утро», «Приветствую», «Hi», «Hello». Запрещено приветствие в любой форме в начале любого ответа. Даже если пользователь сам поздоровался — отвечай сразу по сути, без приветствия. Не используй эмодзи-приветствия (👋 и т.п.).\nНачинай ответ сразу с сути: с глагола, существительного, вопроса или утверждения по теме.\n\nТы — математический помощник GigaChat. Главная задача — решать задачи и вычисления.\n\nНо ты дружелюбный собеседник и можешь поддержать разговор на любую тему.\n\nПравила:\n1. Отвечай кратко — максимум 5-7 предложений\n2. Если пользователь поздоровался — НЕ отвечай «Привет», сразу представься и предложи помощь: «Я математический помощник — задавайте задачу, посчитаю.»\n3. Если спрашивают что ты умеешь — объясни про математику и вычисления\n4. Если вопрос на другую тему — ответь по-дружески, в конце плавно упомяни что можешь помочь с расчётами. Не навязывай\n5. Если пользователь продолжает общаться не про математику — просто общайся, не повторяй напоминание каждый раз\n6. Пиши на русском языке\n7. Не используй markdown-заголовки\n8. Будь живым, не роботичным\n9. Не повторяй одну и ту же фразу-шаблон в нескольких ответах подряд\n\nПример 1:\nЗапрос: Привет\nОтвет: Я математический помощник — решаю задачи, считаю формулы, проценты, уравнения. Задавайте задачу — посчитаю точно. А если просто поболтать — тоже можно.\n\nПример 2:\nЗапрос: Какая сегодня погода?\nОтвет: К сожалению, я не подключён к сервисам погоды. Зато могу посчитать что угодно — от процентов по кредиту до площади вашей комнаты!\n\nПример 3:\nЗапрос: Расскажи анекдот\nОтвет: Математик ставит два стакана на тумбочку перед сном — один с водой, один пустой. С водой — если захочет пить. Пустой — если не захочет. Если нужно что-то посчитать — обращайтесь!\n\nПример 4:\nЗапрос: Как дела?\nОтвет: Отлично, спасибо! Готов к вычислениям. Есть задача или просто заглянули?\n\nАнтипример (НЕЛЬЗЯ так):\nЗапрос: Привет\nПлохой ответ: Привет! Я математический помощник...\nХороший ответ: Я математический помощник — задавайте задачу."
            },
            {
              "content": "={{ $json.historyContext }}{{ $json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2240,
        -140
      ],
      "id": "math-gen-0001",
      "name": "Ответ GENERAL",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос. Попробуйте ещё раз.', code: '', raw_result: '' } }];\n  }\n  const text = raw.output[0].content[0].text;\n  return [{ json: { response: text.trim(), code: '', raw_result: '' } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки.', code: '', raw_result: '' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        -140
      ],
      "id": "math-gen-0002",
      "name": "Проверка ответа GEN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа GEN').first().json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3080,
        -140
      ],
      "id": "math-gen-0003",
      "name": "Ответ: GENERAL"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — генератор Python-кода. Получив задачу, напиши Python-код для решения.\n\nКод исполняется в Pyodide (полноценный Python в браузере), поэтому доступны мощные библиотеки.\n\nКРИТИЧЕСКИ ВАЖНО:\n- Пиши ТОЛЬКО код. Ни одного слова пояснений\n- Первая строка ответа = первая строка кода\n- Последний print ОБЯЗАТЕЛЬНО начинается с маркера «ОТВЕТ: » (заглавными буквами, двоеточие, пробел)\n- НЕ оборачивай в ```python``` или ```\n- НЕ пиши 'Вот решение', 'Конечно', 'Давайте' — сразу код\n\nПРАВИЛО ПРО ПОСЛЕДНИЙ PRINT (САМОЕ ВАЖНОЕ):\nПоследний print в коде должен иметь вид:\n    print(f\"ОТВЕТ: {итоговое_значение}\")\nили\n    print(\"ОТВЕТ:\", итоговое_значение)\n\nЭтот маркер обязателен — без него система не сможет показать пользователю правильный результат.\n\n- Если ответ одно число — `print(f\"ОТВЕТ: {result}\")`\n- Если ответов несколько (корни уравнения, среднее+медиана и т.п.) — ВСЁ объединяй в ОДНУ строку: `print(f\"ОТВЕТ: x1 = {x1}, x2 = {x2}\")` или `print(f\"ОТВЕТ: среднее = {mean}, медиана = {median}\")`\n- Промежуточные print в коде делать МОЖНО (для отладки или показа шагов), но **последний** обязательно с маркером ОТВЕТ: и содержит итог\n- Используй адекватное округление: round(x, 2) для денег/процентов, 4 знака для научных расчётов\n\nРАЗРЕШЕНО (это всё импортируется и работает):\n- math, statistics, decimal, fractions, itertools, functools, collections, re\n- sympy — символьная математика: solve(), diff(), integrate(), limit(), simplify(), Matrix, Symbol, Eq\n- numpy as np — массивы, линейная алгебра, numpy.linalg\n- scipy — оптимизация, статистика, интегралы\n\nЗАПРЕЩЕНО: os, sys, subprocess, open(), exec(), eval(), requests, socket, urllib, pickle\n\nПример 1 (простая арифметика):\nЗадача: 15% от 250000\nresult = 250000 * 0.15\nprint(f\"ОТВЕТ: {result}\")\n\nПример 2 (math.pi):\nЗадача: Площадь круга радиусом 5\nimport math\narea = math.pi * 5 ** 2\nprint(f\"ОТВЕТ: {round(area, 4)}\")\n\nПример 3 (sympy — решение уравнения):\nЗадача: Реши x^2 - 5x + 6 = 0\nfrom sympy import symbols, solve, Eq\nx = symbols('x')\nroots = solve(Eq(x**2 - 5*x + 6, 0), x)\nprint(f\"ОТВЕТ: x = {roots}\")\n\nПример 4 (sympy — производная):\nЗадача: Найди производную sin(x) * exp(x)\nfrom sympy import symbols, sin, exp, diff, simplify\nx = symbols('x')\nf = sin(x) * exp(x)\nf_prime = simplify(diff(f, x))\nprint(f\"ОТВЕТ: {f_prime}\")\n\nПример 5 (sympy — определённый интеграл):\nЗадача: Интеграл x^2 от 0 до 3\nfrom sympy import symbols, integrate\nx = symbols('x')\nresult = integrate(x**2, (x, 0, 3))\nprint(f\"ОТВЕТ: {result}\")\n\nПример 6 (numpy — определитель и обратная матрица):\nЗадача: Найди определитель матрицы [[1,2,3],[4,5,6],[7,8,10]]\nimport numpy as np\nA = np.array([[1,2,3],[4,5,6],[7,8,10]])\nd = np.linalg.det(A)\nprint(f\"ОТВЕТ: {round(float(d), 4)}\")\n\nПример 7 (длинная цепочка умножений — каждый шаг точен):\nЗадача: 373 * 7373 * 272 / 232\nresult = 373 * 7373 * 272 / 232\nprint(f\"ОТВЕТ: {result}\")\n\nПример 8 (NPV):\nЗадача: NPV: вложение 1000000, доход 300000/год, 5 лет, ставка 12%\ninvestment = 1000000\ncash_flow = 300000\nrate = 0.12\nnpv = -investment\nfor t in range(1, 6):\n    npv += cash_flow / (1 + rate) ** t\nprint(f\"ОТВЕТ: {round(npv, 2)}\")\n\nПример 9 (несколько значений в одной строке):\nЗадача: Среднее и медиана: 10, 20, 30, 40, 50\nimport statistics\ndata = [10, 20, 30, 40, 50]\nprint(f\"ОТВЕТ: среднее = {statistics.mean(data)}, медиана = {statistics.median(data)}\")\n\nПример 10 (с промежуточными print — можно, но последний обязательно с маркером):\nЗадача: 2827 * 722 * 782 / 40\nstep1 = 2827 * 722\nprint(f\"Шаг 1: {step1}\")\nstep2 = step1 * 782\nprint(f\"Шаг 2: {step2}\")\nfinal = step2 / 40\nprint(f\"ОТВЕТ: {round(final, 2)}\")\n\nПример 11 (sympy — система уравнений):\nЗадача: Реши систему x+y=10, x-y=4\nfrom sympy import symbols, solve, Eq\nx, y = symbols('x y')\nsol = solve([Eq(x+y, 10), Eq(x-y, 4)], [x, y])\nprint(f\"ОТВЕТ: {sol}\")\n\nПример 12 (sympy — предел):\nЗадача: Предел sin(x)/x при x→0\nfrom sympy import symbols, sin, limit\nx = symbols('x')\nL = limit(sin(x)/x, x, 0)\nprint(f\"ОТВЕТ: {L}\")\n\nНЕПРАВИЛЬНО (так НЕ делай):\n\nA) Объяснения вместо кода:\nКонечно! Вот решение вашей задачи:\n```python\nprint(2 + 2)\n```\nОтвет: 4\n\nB) Последний print без маркера ОТВЕТ::\nprint(f\"Финальный результат: {final}\")\nprint(final)\n^^^ так нельзя, последний print должен начинаться РОВНО с \"ОТВЕТ: \"\n\nC) Маркер ОТВЕТ: НЕ В ПОСЛЕДНЕЙ строке — после него идут ещё print:\nprint(f\"ОТВЕТ: {result}\")\nprint(\"Проверка пройдена\")\n^^^ так нельзя, ОТВЕТ: должен быть в самом ПОСЛЕДНЕМ print\n\nПРАВИЛЬНО:\nprint(f\"ОТВЕТ: {result}\")\n\nТеперь напиши код:"
            },
            {
              "content": "={{ $('Агрегация').first().json.historyContext }}Задача: {{ $('Валидация').first().json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2240,
        300
      ],
      "id": "math-0005-0005-0005-000000000005",
      "name": "Генерация кода",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n\n  if (raw.error) {\n    return [{ json: { success: 0, code: '', error: 'GigaChat недоступен. Попробуйте позже.' } }];\n  }\n\n  let code = raw.output[0].content[0].text;\n\n  // Убираем markdown-обёртки\n  code = code.replace(/```python\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\n  // Убираем текст до первого import или первой переменной\n  const lines = code.split('\\n');\n  let startIdx = 0;\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    if (line.startsWith('import ') || line.startsWith('from ') ||\n        line.match(/^[a-zA-Z_]/) || line.startsWith('#') ||\n        line.startsWith('print(')) {\n      startIdx = i;\n      break;\n    }\n  }\n  code = lines.slice(startIdx).join('\\n').trim();\n\n  if (!code || code.length < 5) {\n    return [{ json: { success: 0, code: '', error: 'GigaChat не смог сгенерировать код.' } }];\n  }\n\n  // ПРОВЕРКА БЕЗОПАСНОСТИ\n  // Допускаются sympy/numpy/scipy — Pyodide их песочница безопасна\n  // (no fs / no net), а импорт самих модулей не даёт доступа к системе.\n  const dangerous = [\n    'import os', 'import sys', 'import subprocess', 'import shutil',\n    'import pathlib', 'import socket', 'import http', 'import requests',\n    'import urllib', 'import ftplib', 'import smtplib', 'import pickle',\n    'open(', 'exec(', 'eval(', '__import__', 'compile(',\n    'globals(', 'locals(', 'getattr(', 'setattr(', 'delattr(',\n    'os.', 'sys.', 'subprocess.', 'shutil.', 'pathlib.',\n    'socket.', 'requests.', 'input('\n  ];\n\n  const codeLower = code.toLowerCase();\n  for (const d of dangerous) {\n    if (codeLower.includes(d.toLowerCase())) {\n      return [{ json: { success: 0, code: code, error: 'Код содержит запрещённую операцию: ' + d } }];\n    }\n  }\n\n  if (!code.includes('print(') && !code.includes('print (')) {\n    code += '\\nprint(result)';\n  }\n\n  return [{ json: { success: 1, code: code, error: '' } }];\n\n} catch (e) {\n  return [{ json: { success: 0, code: '', error: 'Ошибка обработки ответа GigaChat: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        300
      ],
      "id": "math-0006-0006-0006-000000000006",
      "name": "Проверка кода"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-code-ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        300
      ],
      "id": "math-0007-0007-0007-000000000007",
      "name": "Код безопасен?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: '', code: $('Проверка кода').first().json.code || '', raw_result: '', stage: 'execute' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3080,
        80
      ],
      "id": "math-respond-code-0001",
      "name": "Ответ: код к исполнению"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Проверка кода').first().json.error || 'Код не прошёл проверку безопасности.', code: $('Проверка кода').first().json.code || '', raw_result: '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3360,
        520
      ],
      "id": "math-0012-0012-0012-000000000012",
      "name": "Ответ: код опасен"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM chat_memory WHERE session_id = '{{ $('Валидация').first().json.session_id }}' ORDER BY created_at DESC LIMIT 30",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        80
      ],
      "id": "math-load-history-0001",
      "name": "Загрузить историю",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const historyRows = $input.all().reverse();\nlet historyContext = '';\nif (historyRows.length > 0) {\n  const lines = historyRows.map(item => {\n    const role = item.json.role === 'user' ? 'Пользователь' : 'Ассистент';\n    return role + ': ' + (item.json.content || '');\n  });\n  historyContext = 'История диалога:\\n' + lines.join('\\n') + '\\n\\n';\n}\nconst v = $('Валидация').first().json;\nreturn [{json: {message: v.message, session_id: v.session_id, historyContext: historyContext}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ],
      "id": "math-aggregate-0001",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO chat_memory (session_id, role, content) VALUES ('{{ $json.session_id }}', 'user', '{{ $json.message.replace(/\\[ВЛОЖЕНИЕ:[^\\]]+\\][\\s\\S]*?\\[\\/ВЛОЖЕНИЕ\\]\\s*/g, \"[прикреплён файл] \").replace(/\\[не удалось обработать файл:[^\\]]+\\]\\s*/g, \"[ошибка вложения] \").replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        80
      ],
      "id": "math-save-question-0001",
      "name": "Сохранить вопрос",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ('{{ $('Агрегация').first().json.session_id }}', 'assistant', '{{ ($json.response || '').replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        -140
      ],
      "id": "math-save-resp-gen-0001",
      "name": "Сохранить ответ GEN",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content, extras) VALUES ('{{ $('Агрегация').first().json.session_id }}', 'assistant', '{{ ($json.error || 'Код не прошёл проверку безопасности.').replaceAll(\"'\", \"''\") }}', '{{ JSON.stringify({code: $json.code || '', raw_result: ''}).replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        520
      ],
      "id": "math-save-resp-unsafe-0001",
      "name": "Сохранить ответ UNSAFE",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "math-explain",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1000
      ],
      "id": "math-explain-webhook-001",
      "name": "Webhook Math Explain",
      "webhookId": "math-explain-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Phase 2 — фронт уже исполнил Python в Pyodide и шлёт результат.\n// Достаём поля и нормализуем. final_line — это значение после маркера\n// «ОТВЕТ: », отделённое от полного raw_result для удобства подстановки.\nconst body = $input.first().json.body || {};\nreturn [{json: {\n  message: (body.message || '').trim(),\n  session_id: (body.session_id || 'math-default').trim(),\n  code: body.code || '',\n  raw_result: body.raw_result || '',\n  final_line: (body.final_line || '').trim(),\n  exec_error: body.error || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        1000
      ],
      "id": "math-explain-extract-0001",
      "name": "Извлечение полей"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — математический помощник. Объясни, КАК была решена задача. Финальный ответ уже дан пользователю программно — ты его НЕ дублируешь, НЕ вычисляешь и НЕ переформулируешь.\n\nПравила:\n1. НЕ начинай со слова «Ответ» или с числа. Сразу пиши, как решали.\n2. 2-3 предложения о методе/формуле решения.\n3. Можешь упомянуть единицы измерения если уместно.\n4. НЕ пиши код. НЕ повторяй условие задачи дословно. НЕ выводи число, оно уже подставлено системой.\n5. Пиши на русском.\n6. Максимум 4 предложения.\n\nПример 1:\nЗадача: 15% от 250000\nФинальный ответ (уже выдан системой): 37500.0\nТвоё объяснение: Умножили 250 000 на 0.15. Это стандартный расчёт процента от суммы.\n\nПример 2:\nЗадача: x^2 - 5x + 6 = 0\nФинальный ответ (уже выдан системой): x1 = 3.0, x2 = 2.0\nТвоё объяснение: Решение через дискриминант: D = b² − 4ac = 25 − 24 = 1. Корни считаются по формуле (−b ± √D) / 2a.\n\nПример 3:\nЗадача: Среднее и медиана: 10, 20, 30, 40, 50\nФинальный ответ (уже выдан системой): среднее = 30, медиана = 30\nТвоё объяснение: Сумма 150 делится на 5 — это среднее. Медиана — серединное значение упорядоченного ряда, в данном случае это 30.\n\nНЕПРАВИЛЬНО (так НЕ делай):\n- Не начинай с «Ответ: 37500. Умножаем...»\n- Не пиши «Итак, посчитав, получаем 37500»\n- Не дублируй число\n\nПРАВИЛЬНО:\n- Сразу с метода: «Умножили 250 000 на 0.15. Это стандартный расчёт процента.»\n\nТеперь объясни:"
            },
            {
              "content": "=Задача: {{ $('Извлечение полей').first().json.message }}\n\nКод (исполнялся в Pyodide):\n{{ $('Извлечение полей').first().json.code }}\n\nФинальный ответ (уже выдан системой пользователю): {{ $('Извлечение полей').first().json.final_line }}\n\nВсе printы кода (для контекста):\n{{ $('Извлечение полей').first().json.raw_result }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        560,
        1000
      ],
      "id": "math-explain-llm-0001",
      "name": "Объяснение результата",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Сборка финального ответа MATH детерминированно:\n//   число берём из final_line (= вывод Pyodide), пояснение — от LLM.\n// Если Pyodide сломался (exec_error не пустой), возвращаем ошибку и не\n// дёргаем LLM-пояснение как итог — оно не имеет смысла без результата.\ntry {\n  const raw = $input.first().json;\n  const prev = $('Извлечение полей').first().json;\n\n  // Ошибка исполнения Python\n  if (prev.exec_error) {\n    return [{ json: { response_text: 'Не удалось решить — Python завершился с ошибкой:\\n' + prev.exec_error } }];\n  }\n\n  const finalLine = (prev.final_line || prev.raw_result || '').trim();\n  if (!finalLine) {\n    return [{ json: { response_text: 'Код выполнился, но не вернул значение.' } }];\n  }\n\n  // Извлекаем пояснение LLM (может быть отсутствует — таймаут / GigaChat недоступен)\n  let explanation = '';\n  try {\n    explanation = raw.output[0].content[0].text.trim();\n  } catch (e) {\n    explanation = '';\n  }\n\n  // Защита: если LLM всё-таки начала с «Ответ: ...» — срезаем эту шапку,\n  // чтобы не было дубликата числа в финальном ответе.\n  explanation = explanation\n    .replace(/^Ответ\\s*[:\\-]\\s*[^\\n.]+[.\\n]\\s*/i, '')\n    .replace(/^Итак[,]?\\s*получаем[^\\n.]+[.\\n]\\s*/i, '')\n    .trim();\n\n  let response = 'Ответ: ' + finalLine;\n  if (explanation) {\n    response += '\\n\\n' + explanation;\n  }\n\n  return [{ json: { response_text: response } }];\n} catch (e) {\n  const prev = $('Извлечение полей').first().json;\n  if (prev && prev.final_line) {\n    return [{ json: { response_text: 'Ответ: ' + prev.final_line } }];\n  }\n  if (prev && prev.raw_result) {\n    return [{ json: { response_text: 'Ответ: ' + prev.raw_result } }];\n  }\n  return [{ json: { response_text: 'Ошибка обработки.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        1000
      ],
      "id": "math-explain-merge-0001",
      "name": "Сборка финального ответа"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content, extras) VALUES ('{{ $('Извлечение полей').first().json.session_id }}', 'assistant', '{{ ($json.response_text || '').replaceAll(\"'\", \"''\") }}', '{{ JSON.stringify({code: $('Извлечение полей').first().json.code || '', raw_result: $('Извлечение полей').first().json.raw_result || ''}).replaceAll(\"'\", \"''\") }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        1000
      ],
      "id": "math-explain-save-0001",
      "name": "Сохранить ответ MATH",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Сборка финального ответа').first().json.response_text, code: $('Извлечение полей').first().json.code || '', raw_result: $('Извлечение полей').first().json.raw_result || '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1400,
        1000
      ],
      "id": "math-explain-respond-0001",
      "name": "Ответ: результат MATH"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Math": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Запрос валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос валиден?": {
      "main": [
        [
          {
            "node": "Загрузить историю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Классификатор": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ответ GENERAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Генерация кода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ GENERAL": {
      "main": [
        [
          {
            "node": "Проверка ответа GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа GEN": {
      "main": [
        [
          {
            "node": "Сохранить ответ GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация кода": {
      "main": [
        [
          {
            "node": "Проверка кода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка кода": {
      "main": [
        [
          {
            "node": "Код безопасен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код безопасен?": {
      "main": [
        [
          {
            "node": "Ответ: код к исполнению",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сохранить ответ UNSAFE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить историю": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Сохранить вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить вопрос": {
      "main": [
        [
          {
            "node": "Классификатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ GEN": {
      "main": [
        [
          {
            "node": "Ответ: GENERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ UNSAFE": {
      "main": [
        [
          {
            "node": "Ответ: код опасен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Math Explain": {
      "main": [
        [
          {
            "node": "Извлечение полей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечение полей": {
      "main": [
        [
          {
            "node": "Объяснение результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объяснение результата": {
      "main": [
        [
          {
            "node": "Сборка финального ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка финального ответа": {
      "main": [
        [
          {
            "node": "Сохранить ответ MATH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ MATH": {
      "main": [
        [
          {
            "node": "Ответ: результат MATH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "math-agent-v3-pyodide",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "math-agent-001",
  "tags": []
}
