Workflow/math-agent.json
{
  "name": "Математический агент. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "math",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "math-0001-0001-0001-000000000001",
      "name": "Webhook Math",
      "webhookId": "math-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').trim();\nconst session_id = (body.session_id || 'math-default').trim();\n\n// Health-check: отдаём pong без вызова LLM\nif (message === 'ping') {\n  return [{json: {valid: 0, error: 'pong'}}];\n}\n\nif (!message || message.length < 2) {\n  return [{json: {valid: 0, error: 'Введите сообщение'}}];\n}\n\n// Защита от SQL-инъекций через session_id\nif (!/^[a-zA-Z0-9_-]{3,64}$/.test(session_id)) {\n  return [{json: {valid: 0, error: 'session_id содержит недопустимые символы'}}];\n}\n\nif (message.length > 100000) {\n  return [{json: {valid: 0, error: 'Слишком длинный запрос (максимум 100000 символов)'}}];\n}\n\nreturn [{json: {valid: 1, message: message, session_id: session_id}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "math-0002-0002-0002-000000000002",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid-math",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "math-0003-0003-0003-000000000003",
      "name": "Запрос валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, code: '', raw_result: ''}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        520
      ],
      "id": "math-0004-0004-0004-000000000004",
      "name": "Ответ: ошибка валидации"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Агрегация').first().json;\nconst message = agg.message;\nconst historyContext = agg.historyContext || '';\nconst historyContextMath = agg.historyContextMath || '';\nconst session_id = agg.session_id || 'math-default';\nconst lower = message.toLowerCase();\n\n// 1) Вложение в math-агенте форсит math ТОЛЬКО при наличии мат-индикаторов\n// в содержимом. Раньше любое вложение шло в math: пользователь иногда по\n// ошибке прикреплял рецепт/художку, LLM пытался писать Python и валился\n// без понятной обратной связи. Теперь:\n//   - есть арифметическое выражение / переменная / мат-термин → math\n//   - чистая проза (рецепт, статья) → проваливаемся в обычный классификатор\n//     (там скорее всего попадёт в general, и пользователь получит честный\n//     ответ «не могу помочь с этим типом задач»).\nif (/\\[ВЛОЖЕНИЕ:/.test(message)) {\n  const hasOperators = /\\d+\\s*[+\\-*/^%=]\\s*\\d/.test(message);\n  const hasEquations = /(x|y|z|икс|игрек)\\s*[\\^+\\-*/=]/i.test(message);\n  const hasMathTerm = /(уравнен|формул|вычисл|реши|сколько|корен|интеграл|производн|сумм|процент|матриц|треугольник|периметр|площад|объ[её]м|радиус|диаметр|графи[кч]|функци|медиан|среднее|задач|пример)/i.test(message);\n  if (hasOperators || hasEquations || hasMathTerm) {\n    return [{ json: { message, mode: 'math', historyContext, historyContextMath, session_id } }];\n  }\n  // нет мат-индикаторов в вложении — пускаем в обычный классификатор ниже\n}\n\nconst mathKeywords = [\n  'посчитай', 'вычисли', 'вычислить', 'рассчитай', 'рассчитать',\n  'реши', 'решить', 'решение', 'уравнен', 'неравенств',\n  'формул', 'процент', 'корень', 'степен', 'логарифм',\n  'сумм', 'разност', 'произведен', 'делен', 'остаток от',\n  'плюс', 'минус', 'умножь', 'умножить', 'умножен',\n  'раздели', 'разделить',\n  'возведи', 'возвести', 'в степени', 'в квадрате', 'в кубе',\n  'площад', 'объём', 'объем', 'периметр', 'окружност',\n  'треугольник', 'квадрат', 'куб', 'прямоугольник', 'цилиндр', 'сфер',\n  'интеграл', 'производн', 'предел', 'синус', 'косинус', 'тангенс',\n  'матриц', 'вектор', 'определител', 'детерминант',\n  'график', 'функци', 'парабол',\n  'статистик', 'среднее', 'медиан', 'дисперс', 'отклонен',\n  'вероятност', 'комбинатор', 'факториал', 'перестанов', 'сочетан',\n  'npv', 'irr', 'roi', 'аннуитет', 'ипотек', 'кредит', 'депозит',\n  'инвестиц', 'маржа', 'наценк', 'скидк', 'ндс', 'налог',\n  'зарплат', 'рентабельн', 'прибыл', 'выручк', 'себестоимост',\n  'сколько будет', 'чему равн', 'найди', 'найти',\n  'sqrt', 'calculate', 'solve', 'equation', 'math',\n  'конвертируй', 'переведи в'\n];\n\nconst hasMathExpression = /\\d+\\s*[+\\-*/^%=]\\s*\\d+/.test(message);\nconst hasFactorial = /\\d+\\s*!/.test(message);\nconst hasNumbers = /\\d{2,}/.test(message) || /\\d+[.,]\\d+/.test(message);\n\nlet isMath = hasMathExpression || hasFactorial;\n\nif (!isMath) {\n  for (const kw of mathKeywords) {\n    if (lower.includes(kw)) { isMath = true; break; }\n  }\n}\n\nif (!isMath && hasNumbers && message.length > 20) {\n  const taskIndicators = ['сколько', 'какой', 'какая', 'какое', 'найди', 'найти',\n    'определи', 'определить', 'если', 'при', 'дано', 'равно', 'равна'];\n  for (const kw of taskIndicators) {\n    if (lower.includes(kw)) { isMath = true; break; }\n  }\n}\n\nif (!isMath && /^[\\d\\s+\\-*/^().,]+$/.test(message.trim())) {\n  isMath = true;\n}\n\nif (!isMath) {\n  return [{ json: { message, mode: 'general', historyContext, historyContextMath, session_id } }];\n}\n\nreturn [{ json: { message, mode: 'math', historyContext, historyContextMath, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        80
      ],
      "id": "math-cls-0001",
      "name": "Классификатор"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-general"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1960,
        80
      ],
      "id": "math-switch-0001",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "КРИТИЧЕСКОЕ ПРАВИЛО (важнее всех остальных, нарушение = неправильный ответ):\nНИКОГДА не начинай ответ со слов «Привет», «Здравствуйте», «Здравствуй», «Доброго времени суток», «Добрый день», «Добрый вечер», «Доброе утро», «Приветствую», «Hi», «Hello». Запрещено приветствие в любой форме в начале любого ответа. Даже если пользователь сам поздоровался — отвечай сразу по сути, без приветствия. Не используй эмодзи-приветствия (👋 и т.п.).\nНачинай ответ сразу с сути: с глагола, существительного, вопроса или утверждения по теме.\n\nТы — математический помощник GigaChat. Главная задача — решать задачи и вычисления.\n\nНо ты дружелюбный собеседник и можешь поддержать разговор на любую тему.\n\nПравила:\n1. Отвечай кратко — максимум 5-7 предложений\n2. Если пользователь поздоровался — НЕ отвечай «Привет», сразу представься и предложи помощь: «Я математический помощник — задавайте задачу, посчитаю.»\n3. Если спрашивают что ты умеешь — объясни про математику и вычисления\n4. Если вопрос на другую тему — ответь по-дружески, в конце плавно упомяни что можешь помочь с расчётами. Не навязывай\n5. Если пользователь продолжает общаться не про математику — просто общайся, не повторяй напоминание каждый раз\n6. Пиши на русском языке\n7. Не используй markdown-заголовки\n8. Будь живым, не роботичным\n9. Не повторяй одну и ту же фразу-шаблон в нескольких ответах подряд\n\nПример 1:\nЗапрос: Привет\nОтвет: Я математический помощник — решаю задачи, считаю формулы, проценты, уравнения. Задавайте задачу — посчитаю точно. А если просто поболтать — тоже можно.\n\nПример 2:\nЗапрос: Какая сегодня погода?\nОтвет: К сожалению, я не подключён к сервисам погоды. Зато могу посчитать что угодно — от процентов по кредиту до площади вашей комнаты!\n\nПример 3:\nЗапрос: Расскажи анекдот\nОтвет: Математик ставит два стакана на тумбочку перед сном — один с водой, один пустой. С водой — если захочет пить. Пустой — если не захочет. Если нужно что-то посчитать — обращайтесь!\n\nПример 4:\nЗапрос: Как дела?\nОтвет: Отлично, спасибо! Готов к вычислениям. Есть задача или просто заглянули?\n\nАнтипример (НЕЛЬЗЯ так):\nЗапрос: Привет\nПлохой ответ: Привет! Я математический помощник...\nХороший ответ: Я математический помощник — задавайте задачу."
            },
            {
              "content": "={{ $json.historyContext }}{{ $json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2240,
        -140
      ],
      "id": "math-gen-0001",
      "name": "Ответ GENERAL",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос. Попробуйте ещё раз.', code: '', raw_result: '' } }];\n  }\n  // Безопасный доступ — LLM при таймауте может вернуть пустой output\n  const text = raw && raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0] && raw.output[0].content[0].text;\n  if (!text) {\n    return [{ json: { response: 'Пустой ответ от LLM. Попробуйте ещё раз.', code: '', raw_result: '' } }];\n  }\n  return [{ json: { response: text.trim(), code: '', raw_result: '' } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки.', code: '', raw_result: '' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        -140
      ],
      "id": "math-gen-0002",
      "name": "Проверка ответа GEN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа GEN').first().json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3080,
        -140
      ],
      "id": "math-gen-0003",
      "name": "Ответ: GENERAL"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — генератор Python-кода. Получив задачу, напиши Python-код для решения.\n\nКод исполняется в Pyodide (Python в браузере). Доступна ТОЛЬКО СТАНДАРТНАЯ БИБЛИОТЕКА Python: math, statistics, decimal, fractions, itertools, functools, collections, re, random, cmath, bisect, heapq.\n\nНЕ доступны: sympy, numpy, scipy, pandas, matplotlib, sklearn. НИКОГДА не пытайся их импортировать — упадёт с ModuleNotFoundError.\n\nКРИТИЧЕСКИ ВАЖНО:\n- Пиши ТОЛЬКО код. Ни одного слова пояснений\n- Первая строка ответа = первая строка кода\n- Последний print ОБЯЗАТЕЛЬНО начинается с маркера «ОТВЕТ: » (заглавными буквами, двоеточие, пробел)\n- НЕ оборачивай в ```python``` или ```\n- НЕ пиши 'Вот решение', 'Конечно', 'Давайте' — сразу код\n\nПРАВИЛО ПРО ПОСЛЕДНИЙ PRINT (САМОЕ ВАЖНОЕ):\nПоследний print в коде должен иметь вид:\n    print(f\"ОТВЕТ: {итоговое_значение}\")\nили\n    print(\"ОТВЕТ:\", итоговое_значение)\n\nЭтот маркер обязателен — без него система не сможет показать результат.\n\n- Если ответ одно число — `print(f\"ОТВЕТ: {result}\")`\n- Если ответов несколько — ВСЁ в ОДНУ строку: `print(f\"ОТВЕТ: x1 = {x1}, x2 = {x2}\")`\n- Промежуточные print МОЖНО, но последний обязательно с маркером ОТВЕТ:\n- Округление: round(x, 2) для денег/процентов, 4 знака для научных расчётов\n- Для точной финансовой арифметики — Decimal, для точных дробей — Fraction\n- Python int — бигнум по умолчанию (факториал 1000 считается без потерь)\n\nКРИТИЧНО ПРО ОПЕРАТОРЫ (главные ошибки LLM):\n- В Python `^` это XOR, НЕ степень! Для степени всегда `**`. Если пользователь написал `2^10` — это «2 в степени 10», в коде пишем `2**10`.\n- `cos`, `sin`, `tan`, `log` — это math.cos, math.sin, math.log. Без import math не работают.\n- math.cos / math.sin / math.tan принимают РАДИАНЫ. Если в задаче градусы — обернуть в math.radians(x).\n- math.log БЕЗ второго аргумента — натуральный логарифм (ln). Для log по основанию 10 — math.log10. Для log по любому основанию — math.log(x, base).\n- Порядок операций в Python: `**` сначала, потом `*` `/` `%` слева-направо, потом `+` `-`. Если есть сомнения — ОБЯЗАТЕЛЬНО ставь скобки.\n- ОЧЕНЬ ВНИМАТЕЛЬНО переписывай длинные выражения: каждый оператор должен быть тот, который написал пользователь.\n\nЗАПРЕЩЕНО: os, sys, subprocess, open(), exec(), eval(), socket, requests, urllib, pickle, sympy, numpy, scipy, pandas\n\nПример 1 (простая арифметика):\nЗадача: 15% от 250000\nresult = 250000 * 0.15\nprint(f\"ОТВЕТ: {result}\")\n\nПример 2 (длинное умножение — Python int точен):\nЗадача: 373 * 7373 * 272 / 232\nresult = 373 * 7373 * 272 / 232\nprint(f\"ОТВЕТ: {result}\")\n\nПример 3 (math.pi, геометрия):\nЗадача: Площадь круга радиусом 5\nimport math\narea = math.pi * 5 ** 2\nprint(f\"ОТВЕТ: {round(area, 4)}\")\n\nПример 4 (квадратное уравнение через дискриминант):\nЗадача: Реши x^2 - 5x + 6 = 0\nimport math\na, b, c = 1, -5, 6\nd = b**2 - 4*a*c\nif d < 0:\n    print(f\"ОТВЕТ: вещественных корней нет\")\nelse:\n    x1 = (-b + math.sqrt(d)) / (2*a)\n    x2 = (-b - math.sqrt(d)) / (2*a)\n    print(f\"ОТВЕТ: x1 = {x1}, x2 = {x2}\")\n\nПример 5 (СЛАУ 2×2 через метод Крамера):\nЗадача: x + y = 10, x - y = 4\na11, a12, b1 = 1, 1, 10\na21, a22, b2 = 1, -1, 4\ndet = a11*a22 - a12*a21\nx = (b1*a22 - a12*b2) / det\ny = (a11*b2 - b1*a21) / det\nprint(f\"ОТВЕТ: x = {x}, y = {y}\")\n\nПример 6 (NPV):\nЗадача: NPV: вложение 1000000, доход 300000/год, 5 лет, ставка 12%\ninvestment = 1000000\ncash_flow = 300000\nrate = 0.12\nnpv = -investment\nfor t in range(1, 6):\n    npv += cash_flow / (1 + rate) ** t\nprint(f\"ОТВЕТ: {round(npv, 2)}\")\n\nПример 7 (точная финансовая арифметика через Decimal):\nЗадача: 0.1 + 0.2 точно\nfrom decimal import Decimal\nresult = Decimal('0.1') + Decimal('0.2')\nprint(f\"ОТВЕТ: {result}\")\n\nПример 8 (статистика):\nЗадача: Среднее, медиана, СКО: 10, 20, 30, 40, 50\nimport statistics\ndata = [10, 20, 30, 40, 50]\nprint(f\"ОТВЕТ: среднее = {statistics.mean(data)}, медиана = {statistics.median(data)}, СКО = {round(statistics.stdev(data), 4)}\")\n\nПример 9 (факториал):\nЗадача: Сколько способов расставить 10 человек в очередь\nimport math\nresult = math.factorial(10)\nprint(f\"ОТВЕТ: {result}\")\n\nПример 10 (сочетания):\nЗадача: Сколько способов выбрать 3 шара из 10\nimport math\nresult = math.comb(10, 3)\nprint(f\"ОТВЕТ: {result}\")\n\nПример 11 (численное интегрирование методом Симпсона):\nЗадача: Интеграл x^2 от 0 до 3\ndef simpson(f, a, b, n=1000):\n    if n % 2: n += 1\n    h = (b - a) / n\n    s = f(a) + f(b)\n    for i in range(1, n):\n        x = a + i * h\n        s += f(x) * (4 if i % 2 else 2)\n    return s * h / 3\nresult = simpson(lambda x: x**2, 0, 3)\nprint(f\"ОТВЕТ: {round(result, 4)}\")\n\nПример 12 (метод Ньютона для нелинейного уравнения):\nЗадача: Найди корень x^3 - 2x - 5 = 0\ndef newton(f, df, x0, eps=1e-10, maxit=100):\n    x = x0\n    for _ in range(maxit):\n        fx = f(x)\n        if abs(fx) < eps: return x\n        x -= fx / df(x)\n    return x\nresult = newton(lambda x: x**3 - 2*x - 5, lambda x: 3*x**2 - 2, 2.0)\nprint(f\"ОТВЕТ: {round(result, 6)}\")\n\nПример 13 (промежуточные шаги — можно, но последний обязательно с маркером):\nЗадача: 2827 * 722 * 782 / 40\nstep1 = 2827 * 722\nprint(f\"Шаг 1: {step1}\")\nstep2 = step1 * 782\nprint(f\"Шаг 2: {step2}\")\nfinal = step2 / 40\nprint(f\"ОТВЕТ: {round(final, 2)}\")\n\nПример 14a (сложное выражение с ^, cos, log — типичная ловушка):\nЗадача: 262^6 * 272 * 2 * cos(658) / 76 * log(5)\nimport math\n# `^` пользователя превращается в `**`. cos в радианах. log — натуральный.\nresult = (262**6) * 272 * 2 * math.cos(658) / 76 * math.log(5)\nprint(f\"ОТВЕТ: {round(result, 4)}\")\n\nПример 14 (сложные проценты):\nЗадача: Вклад 100000, ставка 8% годовых, капитализация ежемесячная, 3 года\nprincipal = 100000\nannual_rate = 0.08\nmonths = 36\nmonthly_rate = annual_rate / 12\nfinal = principal * (1 + monthly_rate) ** months\nprint(f\"ОТВЕТ: {round(final, 2)}\")\n\nНЕПРАВИЛЬНО (так НЕ делай):\n\nA) Объяснения вместо кода:\nКонечно! Вот решение:\n```python\nprint(2 + 2)\n```\nОтвет: 4\n\nB) Попытка импортировать недоступное:\nfrom sympy import solve  # ← УПАДЁТ, sympy не установлен!\nimport numpy as np       # ← УПАДЁТ, numpy не установлен!\n\nC) Последний print без маркера:\nprint(f\"Финальный: {final}\")\nprint(final)\n^^^ нельзя, последний print должен начинаться с \"ОТВЕТ: \"\n\nD) Маркер не в последней строке:\nprint(f\"ОТВЕТ: {result}\")\nprint(\"Проверка пройдена\")\n^^^ нельзя, ОТВЕТ должен быть в самом ПОСЛЕДНЕМ print\n\nПРАВИЛЬНО:\nprint(f\"ОТВЕТ: {result}\")\n\nТеперь напиши код:"
            },
            {
              "content": "={{ $('Агрегация').first().json.historyContextMath }}Задача: {{ $('Валидация').first().json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2240,
        300
      ],
      "id": "math-0005-0005-0005-000000000005",
      "name": "Генерация кода",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n\n  if (raw.error) {\n    return [{ json: { success: 0, code: '', error: 'GigaChat недоступен. Попробуйте позже.' } }];\n  }\n\n  let code = raw.output[0].content[0].text;\n\n  // Убираем markdown-обёртки\n  code = code.replace(/```python\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\n  // Убираем текст до первого import или первой переменной\n  const lines = code.split('\\n');\n  let startIdx = 0;\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    if (line.startsWith('import ') || line.startsWith('from ') ||\n        line.match(/^[a-zA-Z_]/) || line.startsWith('#') ||\n        line.startsWith('print(')) {\n      startIdx = i;\n      break;\n    }\n  }\n  code = lines.slice(startIdx).join('\\n').trim();\n\n  if (!code || code.length < 5) {\n    return [{ json: { success: 0, code: '', error: 'GigaChat не смог сгенерировать код.' } }];\n  }\n\n  // ПРОВЕРКА БЕЗОПАСНОСТИ\n  // На Варианте A в Pyodide-бандле только stdlib — sympy/numpy/scipy и т.п.\n  // отсутствуют. Если LLM их импортирует, упадёт ModuleNotFoundError + Pyodide\n  // полезет в CDN с DNS-таймаутом. Лучше ловить тут и сразу отвечать\n  // понятной ошибкой.\n  const dangerous = [\n    // Опасный системный доступ — import X\n    'import os', 'import sys', 'import subprocess', 'import shutil',\n    'import pathlib', 'import socket', 'import http', 'import requests',\n    'import urllib', 'import ftplib', 'import smtplib', 'import pickle',\n    // Опасный системный доступ — from X import / from X.Y import\n    'from os ', 'from os.', 'from sys ', 'from sys.',\n    'from subprocess ', 'from subprocess.',\n    'from shutil ', 'from shutil.',\n    'from pathlib ', 'from pathlib.',\n    'from socket ', 'from socket.',\n    'from http ', 'from http.',\n    'from requests ', 'from requests.',\n    'from urllib ', 'from urllib.',\n    'from ftplib ', 'from ftplib.',\n    'from smtplib ', 'from smtplib.',\n    'from pickle ', 'from pickle.',\n    // Недоступные модули (нет в Pyodide-core бандле) — ловим до runtime\n    'import sympy', 'from sympy ', 'from sympy.',\n    'import numpy', 'from numpy ', 'from numpy.',\n    'import scipy', 'from scipy ', 'from scipy.',\n    'import pandas', 'from pandas ', 'from pandas.',\n    'import matplotlib', 'from matplotlib ', 'from matplotlib.',\n    'import sklearn', 'from sklearn ', 'from sklearn.',\n    // Опасные builtins\n    'open(', 'exec(', 'eval(', '__import__', 'compile(',\n    'globals(', 'locals(', 'getattr(', 'setattr(', 'delattr(',\n    'os.', 'sys.', 'subprocess.', 'shutil.', 'pathlib.',\n    'socket.', 'requests.', 'input('\n  ];\n\n  const codeLower = code.toLowerCase();\n  for (const d of dangerous) {\n    if (codeLower.includes(d.toLowerCase())) {\n      return [{ json: { success: 0, code: code, error: 'Код содержит запрещённую операцию: ' + d } }];\n    }\n  }\n\n  // Если LLM забыла print() — пытаемся найти последнюю присвоенную\n  // переменную regex'ом и напечатать её с маркером ОТВЕТ:.\n  // Слепое `print(result)` падало с NameError если LLM назвала переменную\n  // иначе (x, final, answer и т.п.).\n  if (!code.includes('print(') && !code.includes('print (')) {\n    const assignments = [...code.matchAll(/^[\\t ]*([a-zA-Z_][a-zA-Z0-9_]*)\\s*=(?!=)/gm)];\n    if (assignments.length > 0) {\n      const lastVar = assignments[assignments.length - 1][1];\n      code += `\\nprint(f\"ОТВЕТ: {${lastVar}}\")`;\n    } else {\n      // Нет ни print, ни присваиваний — код некорректен\n      return [{ json: { success: 0, code: code, error: 'GigaChat сгенерировал код без вывода. Попробуйте перефразировать задачу.' } }];\n    }\n  }\n\n  return [{ json: { success: 1, code: code, error: '' } }];\n\n} catch (e) {\n  return [{ json: { success: 0, code: '', error: 'Ошибка обработки ответа GigaChat: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        300
      ],
      "id": "math-0006-0006-0006-000000000006",
      "name": "Проверка кода"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-code-ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        300
      ],
      "id": "math-0007-0007-0007-000000000007",
      "name": "Код безопасен?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: '', code: $('Проверка кода').first().json.code || '', raw_result: '', stage: 'execute' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3080,
        80
      ],
      "id": "math-respond-code-0001",
      "name": "Ответ: код к исполнению"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Проверка кода').first().json.error || 'Код не прошёл проверку безопасности.', code: $('Проверка кода').first().json.code || '', raw_result: '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3360,
        520
      ],
      "id": "math-0012-0012-0012-000000000012",
      "name": "Ответ: код опасен"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, SUBSTRING(content, 1, 2000) AS content FROM chat_memory WHERE session_id = $1 ORDER BY created_at DESC LIMIT 30",
        "options": {
          "queryReplacement": "={{ [$('Валидация').first().json.session_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        80
      ],
      "id": "math-load-history-0001",
      "name": "Загрузить историю",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const historyRows = $input.all().reverse();\nlet historyContext = '';\nlet historyContextMath = '';\nif (historyRows.length > 0) {\n  const allLines = historyRows.map(item => {\n    const role = item.json.role === 'user' ? 'Пользователь' : 'Ассистент';\n    return role + ': ' + (item.json.content || '');\n  });\n  // Полный контекст — для GENERAL-ветки (chit-chat, нужна связность диалога).\n  historyContext = 'История диалога:\\n' + allLines.join('\\n') + '\\n\\n';\n  // Урезанный контекст — для MATH-ветки. Математика обычно stateless,\n  // длинная история сбивает тупой LLM при кодогенерации (он может\n  // решать старую задачу из истории). Берём только 3 последние пары.\n  const lastSix = allLines.slice(-6);\n  if (lastSix.length > 0) {\n    historyContextMath = 'История диалога:\\n' + lastSix.join('\\n') + '\\n\\n';\n  }\n}\nconst v = $('Валидация').first().json;\nreturn [{json: {message: v.message, session_id: v.session_id, historyContext, historyContextMath}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ],
      "id": "math-aggregate-0001",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ($1, 'user', $2)",
        "options": {
          "queryReplacement": "={{ [$json.session_id, ($json.message || '').replace(/\\[ВЛОЖЕНИЕ:[^\\]]+\\][\\s\\S]*?\\[\\/ВЛОЖЕНИЕ\\]\\s*/g, '[прикреплён файл] ').replace(/\\[не удалось обработать файл:[^\\]]+\\]\\s*/g, '[ошибка вложения] ')] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        80
      ],
      "id": "math-save-question-0001",
      "name": "Сохранить вопрос",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE LENGTH(TRIM($2)) > 0",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $json.response || ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        -140
      ],
      "id": "math-save-resp-gen-0001",
      "name": "Сохранить ответ GEN",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content, extras) SELECT $1, 'assistant', $2, $3::jsonb WHERE LENGTH(TRIM($2)) > 0",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $json.error || 'Код не прошёл проверку безопасности.', JSON.stringify({code: $json.code || '', raw_result: ''})] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        520
      ],
      "id": "math-save-resp-unsafe-0001",
      "name": "Сохранить ответ UNSAFE",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "math-explain",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1000
      ],
      "id": "math-explain-webhook-001",
      "name": "Webhook Math Explain",
      "webhookId": "math-explain-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Phase 2 — фронт уже исполнил Python в Pyodide и шлёт результат.\n// Достаём поля и нормализуем. final_line — это значение после маркера\n// «ОТВЕТ: », отделённое от полного raw_result для удобства подстановки.\n// exec_killed — true если Pyodide убит по таймауту (frontend сделал\n// worker.terminate). Отличается от exec_error: kill это не Python\n// exception, а внешнее прерывание; формулировка ответа другая.\nconst body = $input.first().json.body || {};\nconst session_id = (body.session_id || 'math-default').trim();\n\n// Защита от SQL-инъекций (этот session_id уйдёт в queryReplacement позже)\nif (!/^[a-zA-Z0-9_-]{3,64}$/.test(session_id)) {\n  return [{json: {error: 'session_id содержит недопустимые символы'}}];\n}\n\n// Защита от DoS: ограничиваем длину пользовательских полей.\n// Pyodide-результат большой = переполнение БД и chat_memory.\nconst code = (body.code || '').toString();\nconst raw_result = (body.raw_result || '').toString();\nconst final_line = (body.final_line || '').toString().trim();\nconst message = (body.message || '').toString().trim();\nif (code.length > 50000) return [{json: {error: 'code слишком длинный (>50KB)'}}];\nif (raw_result.length > 50000) return [{json: {error: 'raw_result слишком длинный (>50KB)'}}];\nif (final_line.length > 5000) return [{json: {error: 'final_line слишком длинный (>5KB)'}}];\nif (message.length > 100000) return [{json: {error: 'message слишком длинный'}}];\n\nreturn [{json: {\n  message: message,\n  session_id: session_id,\n  code: code,\n  raw_result: raw_result,\n  final_line: final_line,\n  exec_error: (body.error || '').toString().slice(0, 5000),\n  exec_killed: !!body.killed\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        1000
      ],
      "id": "math-explain-extract-0001",
      "name": "Извлечение полей"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — математический помощник. Объясни, КАК была решена задача. Финальный ответ уже дан пользователю программно — ты его НЕ дублируешь, НЕ вычисляешь и НЕ переформулируешь.\n\nПравила:\n1. НЕ начинай со слова «Ответ» или с числа. Сразу пиши, как решали.\n2. 2-3 предложения о методе/формуле решения.\n3. Можешь упомянуть единицы измерения если уместно.\n4. НЕ пиши код. НЕ повторяй условие задачи дословно. НЕ выводи число, оно уже подставлено системой.\n5. Пиши на русском.\n6. Максимум 4 предложения.\n\nПример 1:\nЗадача: 15% от 250000\nФинальный ответ (уже выдан системой): 37500.0\nТвоё объяснение: Умножили 250 000 на 0.15. Это стандартный расчёт процента от суммы.\n\nПример 2:\nЗадача: x^2 - 5x + 6 = 0\nФинальный ответ (уже выдан системой): x1 = 3.0, x2 = 2.0\nТвоё объяснение: Решение через дискриминант: D = b² − 4ac = 25 − 24 = 1. Корни считаются по формуле (−b ± √D) / 2a.\n\nПример 3:\nЗадача: Среднее и медиана: 10, 20, 30, 40, 50\nФинальный ответ (уже выдан системой): среднее = 30, медиана = 30\nТвоё объяснение: Сумма 150 делится на 5 — это среднее. Медиана — серединное значение упорядоченного ряда, в данном случае это 30.\n\nНЕПРАВИЛЬНО (так НЕ делай):\n- Не начинай с «Ответ: 37500. Умножаем...»\n- Не пиши «Итак, посчитав, получаем 37500»\n- Не дублируй число\n\nПРАВИЛЬНО:\n- Сразу с метода: «Умножили 250 000 на 0.15. Это стандартный расчёт процента.»\n\nТеперь объясни:"
            },
            {
              "content": "=Задача: {{ $('Извлечение полей').first().json.message }}\n\nКод (исполнялся в Pyodide):\n{{ $('Извлечение полей').first().json.code }}\n\nФинальный ответ (уже выдан системой пользователю): {{ $('Извлечение полей').first().json.final_line }}\n\nВсе printы кода (для контекста):\n{{ $('Извлечение полей').first().json.raw_result }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        560,
        1000
      ],
      "id": "math-explain-llm-0001",
      "name": "Объяснение результата",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Сборка финального ответа MATH детерминированно:\n//   число берём из final_line (= вывод Pyodide), пояснение — от LLM.\n// Если Pyodide сломался (exec_error не пустой), возвращаем ошибку и не\n// дёргаем LLM-пояснение как итог — оно не имеет смысла без результата.\ntry {\n  const raw = $input.first().json;\n  const prev = $('Извлечение полей').first().json;\n\n  // Pyodide убит по таймауту (worker.terminate с фронта) — exec_error уже\n  // содержит user-friendly сообщение от PyodideClient, не оборачиваем.\n  if (prev.exec_killed) {\n    return [{ json: { response_text: prev.exec_error || 'Python был прерван по таймауту.' } }];\n  }\n\n  // Python-исключение (ModuleNotFoundError, SyntaxError, ZeroDivisionError\n  // и т.п.) — оборачиваем в понятный префикс.\n  if (prev.exec_error) {\n    return [{ json: { response_text: 'Не удалось решить — Python завершился с ошибкой:\\n' + prev.exec_error } }];\n  }\n\n  const finalLine = (prev.final_line || prev.raw_result || '').trim();\n  if (!finalLine) {\n    return [{ json: { response_text: 'Код выполнился, но не вернул значение.' } }];\n  }\n\n  // Извлекаем пояснение LLM (может быть отсутствует — таймаут / GigaChat недоступен)\n  let explanation = '';\n  try {\n    explanation = raw.output[0].content[0].text.trim();\n  } catch (e) {\n    explanation = '';\n  }\n\n  // Защита: если LLM всё-таки начала с «Ответ: ...» — срезаем эту шапку,\n  // чтобы не было дубликата числа в финальном ответе.\n  explanation = explanation\n    .replace(/^Ответ\\s*[:\\-]\\s*[^\\n.]+[.\\n]\\s*/i, '')\n    .replace(/^Итак[,]?\\s*получаем[^\\n.]+[.\\n]\\s*/i, '')\n    .trim();\n\n  let response = 'Ответ: ' + finalLine;\n  if (explanation) {\n    response += '\\n\\n' + explanation;\n  }\n\n  return [{ json: { response_text: response } }];\n} catch (e) {\n  const prev = $('Извлечение полей').first().json;\n  if (prev && prev.final_line) {\n    return [{ json: { response_text: 'Ответ: ' + prev.final_line } }];\n  }\n  if (prev && prev.raw_result) {\n    return [{ json: { response_text: 'Ответ: ' + prev.raw_result } }];\n  }\n  return [{ json: { response_text: 'Ошибка обработки.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        1000
      ],
      "id": "math-explain-merge-0001",
      "name": "Сборка финального ответа"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content, extras) SELECT $1, 'assistant', $2, $3::jsonb WHERE LENGTH(TRIM($2)) > 0",
        "options": {
          "queryReplacement": "={{ [$('Извлечение полей').first().json.session_id, $json.response_text || '', JSON.stringify({code: $('Извлечение полей').first().json.code || '', raw_result: $('Извлечение полей').first().json.raw_result || ''})] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        1000
      ],
      "id": "math-explain-save-0001",
      "name": "Сохранить ответ MATH",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Сборка финального ответа').first().json.response_text, code: $('Извлечение полей').first().json.code || '', raw_result: $('Извлечение полей').first().json.raw_result || '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1400,
        1000
      ],
      "id": "math-explain-respond-0001",
      "name": "Ответ: результат MATH"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Math": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Запрос валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос валиден?": {
      "main": [
        [
          {
            "node": "Загрузить историю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Классификатор": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ответ GENERAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Генерация кода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ GENERAL": {
      "main": [
        [
          {
            "node": "Проверка ответа GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа GEN": {
      "main": [
        [
          {
            "node": "Сохранить ответ GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация кода": {
      "main": [
        [
          {
            "node": "Проверка кода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка кода": {
      "main": [
        [
          {
            "node": "Код безопасен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код безопасен?": {
      "main": [
        [
          {
            "node": "Ответ: код к исполнению",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сохранить ответ UNSAFE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить историю": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Сохранить вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить вопрос": {
      "main": [
        [
          {
            "node": "Классификатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ GEN": {
      "main": [
        [
          {
            "node": "Ответ: GENERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ UNSAFE": {
      "main": [
        [
          {
            "node": "Ответ: код опасен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Math Explain": {
      "main": [
        [
          {
            "node": "Извлечение полей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечение полей": {
      "main": [
        [
          {
            "node": "Объяснение результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объяснение результата": {
      "main": [
        [
          {
            "node": "Сборка финального ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка финального ответа": {
      "main": [
        [
          {
            "node": "Сохранить ответ MATH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ MATH": {
      "main": [
        [
          {
            "node": "Ответ: результат MATH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "math-agent-v3-pyodide",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "math-agent-001",
  "tags": []
}
