Workflow/plane-agent.json
{
  "name": "Plane-агент. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plane-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "plane-agent-webhook-0001",
      "name": "Webhook",
      "webhookId": "plane-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Валидация запроса от Plane-агента.\n// Два режима:\n//   NL mode    — body.message: текст, LLM извлекает intent/params\n//   Direct mode — body.action: имя операции + body.params: параметры (для тестов без LLM)\n//\n// Поля в body:\n//   message       — NL-запрос (NL mode)\n//   action+params — прямой вызов (Direct mode, без LLM)\n//   session_id    — для чата (chat_memory)\n//   token         — GigaChat-token (planner_sessions, 64 hex), не Plane API\n//   workspace_slug — slug Plane workspace (напр. 'office')\n//   plane_url     — базовый URL Plane API (напр. 'http://host.docker.internal:8000')\n//   plane_token   — Plane API token (X-API-Key)\nconst body = $input.first().json.body || {};\nconst message = String(body.message || '').trim();\nconst session_id = String(body.session_id || 'plane-default').trim();\nconst directAction = String(body.action || '').trim();\n\n// Health-check\nif (message === 'ping') {\n  return [{ json: { valid: 0, error: 'pong' } }];\n}\n\nconst is_direct = directAction.length > 0;\nconst ALLOWED_ACTIONS = new Set(['list_projects','list_issues','create_issue','update_issue','delete_issue','search_issues','change_status','assign_issue','set_deadline','add_label','remove_label','add_comment','get_issue','bulk','stats','cross_project_search','list_comments','me','list_members','chat']);\n\nif (is_direct) {\n  // Direct mode: action обязателен, message — опциональный pseudo-маркер для chat_memory\n  if (!ALLOWED_ACTIONS.has(directAction)) {\n    return [{ json: { valid: 0, error: 'Неизвестный action: ' + directAction } }];\n  }\n} else {\n  // NL mode: нужен message\n  if (!message || message.length < 2) {\n    return [{ json: { valid: 0, error: 'Введите сообщение' } }];\n  }\n  if (message.length > 4000) {\n    return [{ json: { valid: 0, error: 'Слишком длинный запрос (максимум 4000 символов)' } }];\n  }\n}\n\nif (!/^[a-zA-Z0-9_-]{3,64}$/.test(session_id)) {\n  return [{ json: { valid: 0, error: 'session_id содержит недопустимые символы' } }];\n}\n\nconst token = String(body.token || '').trim();\nif (!/^[a-f0-9]{64}$/.test(token)) {\n  return [{ json: { valid: 0, error: 'unauthorized', auth_required: true } }];\n}\n\nconst workspace_slug = String(body.workspace_slug || '').trim();\nconst plane_url = String(body.plane_url || '').trim().replace(/\\/$/, '');\nconst plane_token = String(body.plane_token || '').trim();\n\nif (!workspace_slug || !plane_url || !plane_token) {\n  return [{ json: { valid: 0, error: 'Plane не настроен', plane_setup_required: true } }];\n}\nif (!/^[a-z0-9_-]{1,64}$/i.test(workspace_slug)) {\n  return [{ json: { valid: 0, error: 'workspace_slug содержит недопустимые символы' } }];\n}\nif (!/^https?:\\/\\//.test(plane_url)) {\n  return [{ json: { valid: 0, error: 'plane_url должен начинаться с http:// или https://' } }];\n}\n\n// HIGH-3 fix: пробрасываем sticky_project в дальнейший pipeline для LLM-промпта\nconst sticky_project = String(body.sticky_project || '').trim();\nconst out = { valid: 1, session_id, token, workspace_slug, plane_url, plane_token, sticky_project };\nif (is_direct) {\n  out.is_direct = 1;\n  out.direct_action = directAction;\n  out.direct_params = (body.params && typeof body.params === 'object') ? body.params : {};\n  out.message = '[direct: ' + directAction + ']';\n} else {\n  out.is_direct = 0;\n  out.message = message;\n}\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "plane-agent-validate-0002",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "plane-agent-if-valid-0003",
      "name": "Валидно?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE planner_sessions SET last_used_at = NOW() WHERE token = $1 AND expires_at > NOW();\nSELECT s.user_id, u.username FROM planner_sessions s JOIN planner_users u ON u.id = s.user_id WHERE s.token = $1 AND s.expires_at > NOW();",
        "options": {
          "queryReplacement": "={{ [$json.token] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        300
      ],
      "id": "plane-agent-verify-sql-0004",
      "name": "SQL: Verify token",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Token result: если SQL вернул user_id — сессия валидна, иначе 401.\nconst item = $input.first();\nconst data = item && item.json ? item.json : null;\nconst src = $('Валидация').first().json;\nif (!data || !data.user_id) {\n  return [{ json: { token_valid: false, response: 'error', error: 'unauthorized', auth_required: true } }];\n}\nreturn [{ json: { ...src, token_valid: true, user_id: data.user_id, username: data.username } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "plane-agent-token-result-0005",
      "name": "Token result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.token_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        300
      ],
      "id": "plane-agent-if-token-0006",
      "name": "Token OK?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        300
      ],
      "id": "plane-agent-fetch-projects-0007",
      "name": "Plane API: projects",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Собираем projects[] из ответа Plane (пагинированный объект или массив).\n// Передаём дальше как контекст для LLM (чтобы понимал, какие проекты есть).\nconst raw = $input.first().json || {};\nconst src = $('Token result').first().json;\nlet projects = [];\nif (Array.isArray(raw)) {\n  projects = raw;\n} else if (Array.isArray(raw.results)) {\n  projects = raw.results;\n} else if (raw.error || raw.detail) {\n  // HIGH-3 fix: вместо silent plane_error - шорткат в chat-ветку с сообщением.\n  const errMsg = raw.error || raw.detail || 'Plane API недоступен';\n  return [{ json: { ...src, action: 'chat', params: {}, is_direct: 1, direct_action: 'chat', llm_text: 'Plane недоступен: ' + String(errMsg).slice(0,200), projects: [] } }];\n}\nconst projectsSlim = projects.map(p => ({\n  id: p.id,\n  name: p.name,\n  identifier: p.identifier\n}));\nreturn [{ json: { ...src, projects: projectsSlim } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ],
      "id": "plane-agent-projects-ctx-0008",
      "name": "Контекст: проекты"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-direct",
              "leftValue": "={{ $json.is_direct }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        300
      ],
      "id": "plane-agent-if-direct-0023",
      "name": "Direct mode?"
    },
    {
      "parameters": {
        "jsCode": "// Direct-bypass: action/params взяты прямо из body запроса, LLM пропускаем.\n// Резолвим project_name → project_id (как Parse LLM) и кидаем дальше в Switch.\nconst src = $input.first().json;\nconst action = src.direct_action;\nconst params = src.direct_params || {};\n\n// Резолв project_name → project_id (case-insensitive)\nlet project_id = null;\nlet project_name_canonical = null;\nif (params.project_name) {\n  const wanted = String(params.project_name).toLowerCase();\n  const found = (src.projects || []).find(p => String(p.name || '').toLowerCase() === wanted);\n  if (found) {\n    project_id = found.id;\n    project_name_canonical = found.name;\n  }\n}\n\nconst NEEDS_PROJECT = new Set(['list_issues','create_issue','update_issue','delete_issue','search_issues','change_status','set_deadline','add_comment','get_issue']);\nif (NEEDS_PROJECT.has(action) && !project_id) {\n  const available = (src.projects || []).map(p => p.name).join(', ') || '— у вас нет проектов';\n  return [{ json: {\n    ...src,\n    action: 'chat',\n    params: {},\n    llm_text: `Не нашёл проект «${params.project_name || '—'}». Доступные: ${available}.`\n  } }];\n}\n\nreturn [{ json: { ...src, action, params, project_id, project_name_canonical, llm_text: `Direct: ${action}.` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        120
      ],
      "id": "plane-agent-direct-resolve-0024",
      "name": "Direct resolve"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Ты — Plane-агент GigaChat. Помогаешь пользователю управлять задачами в Plane на естественном языке.\n\nКРИТИЧЕСКИЕ ПРАВИЛА:\n0. ИДЕНТИЧНОСТЬ — НЕ ПУТАЙ:\n   - Ты Plane-агент. Юзер — это собеседник.\n   - На «как меня зовут?» отвечай именем СОБЕСЕДНИКА из истории. Если не представлялся — «не знаю, представься».\n   - На «как тебя зовут?» отвечай «Я Plane-агент».\n   - НИКОГДА в одном ответе «Меня зовут <имя_юзера>» — это бред, ты не юзер.\n   - Если юзер пишет «Моё имя X», «меня зовут X», «я X» — ОТВЕЧАЙ: «Запомнил, X. Чем помочь?». НЕ «Меня зовут X».\n1. УМНЫЕ ДЕФОЛТЫ — НЕ ТРЕБОВАТЬ ИЗЛИШНЕГО:\n   - «Покажи все задачи» / «Все задачи» / «Какие задачи?» — БЕЗ проекта — используй action=cross_project_search с пустым query (вернёт все задачи по всем проектам). НЕ требуй выбора проекта.\n   - «Срочные задачи», «Просроченные» — cross_project_search с filter=urgent/overdue.\n   - Если есть sticky_project — используй его, не спрашивай. Если sticky_project пустой и юзер не указал — cross_project_search.\n   - Если в action params.project_name пустая строка или null — не отправляй такой action, замени на cross_project_search.\n\n1. НИКОГДА не начинай ответ с приветствия («Привет», «Здравствуйте», «Hi» и т.п.). Начинай сразу с сути.\n2. ВСЕГДА на РУССКОМ. Никаких английских слов в ответе: state→статус, todo→Запланированные, in_progress→В работе, done→Готово, cancelled→Отменено, backlog→Отложенные, urgent→срочный, high→высокий, medium→средний, low→низкий, none→не задан.\n3. ЗАПОМИНАЙ КОНТЕКСТ: если юзер представился («меня зовут X», «я — X») — запомни. На вопрос «как меня зовут?» — отвечай X. Не путай себя (Plane-агент) с собеседником.\n4. НЕ ВЫДУМЫВАЙ результаты действий. Если просят изменить приоритет — обязан вернуть action=update_issue или change_status. НЕ говори «приоритет изменён» через action=chat без реального API-вызова. Это критично.\n5. Краткость: ответ 1-2 предложения. Не пиши длинные эссе.\n\nДоступные операции (tools):\n1. list_projects — показать список проектов. params: {} (пусто).\n2. list_issues — показать задачи в проекте. params: { project_name: string }.\n3. create_issue — создать задачу. params: { project_name: string, name: string, description?: string, priority?: 'urgent'|'high'|'medium'|'low'|'none', target_date?: 'YYYY-MM-DD' (срок выполнения), start_date?: 'YYYY-MM-DD' (дата начала) }.\n4. update_issue — обновить задачу. params: { project_name: string, issue_name: string, name?: string, description?: string, priority?: 'urgent'|'high'|'medium'|'low'|'none', target_date?: 'YYYY-MM-DD', start_date?: 'YYYY-MM-DD' }.\n5. delete_issue — удалить задачу. params: { project_name: string, issue_name: string }.\n6. search_issues — поиск задач. params: { project_name: string, query: string }.\n7. change_status — изменить статус задачи. params: { project_name, issue_name, state: 'todo'|'in_progress'|'done'|'cancelled'|'backlog' }.\n8. assign_issue — назначить исполнителей. params: { project_name, issue_name, assignees: [user_id, ...] }. Юзер должен указать ID, либо отвечай chat-ом «нужны ID исполнителей».\n9. set_deadline — установить срок. params: { project_name, issue_name, target_date: 'YYYY-MM-DD' }. SMART-DATES: распознавай естественные даты и конвертируй в ISO. Сегодня: {{ new Date().toISOString().slice(0,10) }}.\n10. add_label — добавить метки. params: { project_name, issue_name, labels: [label_id, ...] }.\n11. remove_label — убрать метки. params: { project_name, issue_name, labels: [label_id, ...] }.\n12. add_comment — комментарий к задаче. params: { project_name, issue_name, comment: string }.\n13. get_issue — детали задачи. params: { project_name, issue_name }.\n14. bulk — несколько операций в одном запросе. params: { actions: [{action, params}, ...] }. ИСПОЛЬЗУЙ когда юзер просит сделать несколько вещей сразу: «создай задачу X и установи срок Y», «передвинь все Done в Todo», «удали А, Б, В из проекта». Каждый action в actions[] — это любой из tools 2-13 со своим params.\n15. stats — статистика по задачам. params: { project_name?: string, scope: 'overdue' | 'summary' | 'by_assignee' | 'my_workload', assignee_query?: string }. ИСПОЛЬЗУЙ когда юзер просит «что просрочено», «сколько задач у Иванова», «загрузка отдела», «статистика по проекту X». Если project_name не указан и scope = 'overdue'/'my_workload' — пройдись по всем проектам (action подразумевает агрегацию).\n16. cross_project_search — поиск задач сразу по всем проектам. params: { query: string, filter?: 'overdue' | 'urgent' | 'mine' }. ИСПОЛЬЗУЙ когда юзер не уточняет проект и просит «где задача X», «все мои задачи», «всё просроченное».\n17. chat — обычный ответ без действия (для приветствий, вопросов, объяснений).\n\nQUICK REPLIES — в ответе можешь добавить поле \"quick_replies\": [\"Создать ещё\", \"Изменить срок\", \"Отменить\"] — фронт покажет кнопки. Только релевантные текущему контексту, максимум 4.\n\n@MENTIONS — если юзер пишет «@Иван что у тебя в работе?» — это запрос про задачи юзера Иван. Используй stats с scope='by_assignee' и assignee_query='Иван', либо search_issues с query='Иван'.\n\nВЛОЖЕНИЯ (файлы) — если в сообщении есть блок [ВЛОЖЕНИЕ:filename]...[/ВЛОЖЕНИЕ], это пользователь прикрепил docx/xlsx/pdf/csv/фото. Содержимое внутри блока — это извлечённый текст файла.\nКак использовать:\n- Если в тексте юзера явно «создай задачу X из вложения» — name = X, description = текст вложения (обрезай до 2000 символов если длиннее)\n- Если в тексте «составь задачи по этому списку» / «создай задачи из файла» / «загрузи задачи» и вложение содержит список — bulk с create_issue для каждой строки списка (имя = строка, до 20 штук)\n- Если юзер просто прислал файл с описанием без явного запроса — спроси chat-ом «Создать одну задачу с этим описанием или несколько задач из списка?»\n- НЕ копируй вложение целиком в текст ответа — это служебная информация.\n\nЗапрос: «Создай задачу по этому ТЗ» + [ВЛОЖЕНИЕ:tz.docx]Разработать API для… [/ВЛОЖЕНИЕ]\nОтвет: {\"action\":\"create_issue\",\"params\":{\"project_name\":\"<sticky или из контекста>\",\"name\":\"Разработать API\",\"description\":\"Разработать API для…\"},\"text\":\"Создаю задачу с описанием из вложения.\"}\n\nЗапрос: «Заведи задачи из списка» + [ВЛОЖЕНИЕ:tasks.txt]Купить хлеб\\nЗвонок клиенту\\nОтчёт за май[/ВЛОЖЕНИЕ]\nОтвет: {\"action\":\"bulk\",\"params\":{\"actions\":[{\"action\":\"create_issue\",\"params\":{\"project_name\":\"<…>\",\"name\":\"Купить хлеб\"}},{\"action\":\"create_issue\",\"params\":{\"project_name\":\"<…>\",\"name\":\"Звонок клиенту\"}},{\"action\":\"create_issue\",\"params\":{\"project_name\":\"<…>\",\"name\":\"Отчёт за май\"}}]},\"text\":\"Создаю 3 задачи из списка.\"}\n\nИСТОРИЯ предыдущих сообщений (для понимания местоимений «их», «эта задача», «там»):\n{{ ($json.historyContext || '[пусто]') }}\n\nДоступные проекты у пользователя:\n{{ ($json.projects || []).length > 0 ? JSON.stringify($json.projects.map(p => p.name)) : '[нет проектов]' }}\n\nЗАКРЕПЛЁННЫЙ ПРОЕКТ (sticky): {{ $json.sticky_project || '[не задан]' }}\nЕсли sticky задан и юзер НЕ упомянул другой проект явно — подставляй sticky в params.project_name автоматически.\n\nФормат ответа — СТРОГО валидный JSON, без markdown, без ```json блоков:\n{\"action\": \"имя_операции\", \"params\": {...}, \"text\": \"короткое объяснение что делаешь\"}\n\nПравила:\n- text — на русском, 1-2 предложения, что ты сейчас сделаешь (например: \"Создаю задачу 'Звонок' в проекте Office.\")\n- params.project_name должен ТОЧНО совпадать с одним из доступных проектов (case-insensitive)\n- Если пользователь не указал проект, а действие требует его — задай уточняющий вопрос через action=chat\n- Если запрос НЕ про Plane (погода, философия, чит-чат) — отвечай через action=chat\n- Если у юзера 0 проектов и он просит список — отвечай через action=list_projects (вернёт пустой список)\n- Если юзер просит создать проект — отвечай через action=chat, объясни что создание проектов вручную через интерфейс Plane (API ограничено)\n\n\nSMART-DATES (для set_deadline и create_issue с target_date):\n- «к пятнице» / «к понедельнику» → ближайшая указанная неделя\n- «через N дней» / «послезавтра» / «завтра» → today + N\n- «через 2 недели» / «через месяц» → today + 14 / today + 30\n- «к концу месяца» → последний день текущего месяца\n- «к концу недели» → ближайшая пятница\n- «в начале следующего месяца» → 1 число следующего месяца\n- «во вторник», «в четверг» → ближайший указанный день (если сегодня — следующий)\n- «25 декабря» → текущий год (или следующий если уже прошло)\n- «25.12.2026» → как есть\n- Если дата неоднозначна — отвечай chat-ом с уточнением\n\nКРИТИЧНО — НЕ ВЫДУМЫВАЙ ЗАДАЧИ:\n- Если юзер спрашивает «покажи задачи проекта X» — всегда action=list_issues. НЕ перечисляй задачи в chat-тексте, дай реальный API сделать это.\n- Если юзер спрашивает о задаче которой может не быть («покажи задачу X», «удали Y») — действие через API. Если API не нашёл — Plane ответит, не выдумывай результаты.\n- Если запрос неоднозначен — отвечай chat-ом «уточни проект» вместо генерации псевдо-данных.\n\nПримеры:\n\nЗапрос: «Покажи мои проекты»\nОтвет: {\"action\":\"list_projects\",\"params\":{},\"text\":\"Сейчас покажу проекты.\"}\n\nЗапрос: «Какие задачи в проекте Office?»\nОтвет: {\"action\":\"list_issues\",\"params\":{\"project_name\":\"Office\"},\"text\":\"Сейчас покажу задачи проекта Office.\"}\n\nЗапрос: «Создай в Office задачу 'Звонок клиенту' с высоким приоритетом»\nОтвет: {\"action\":\"create_issue\",\"params\":{\"project_name\":\"Office\",\"name\":\"Звонок клиенту\",\"priority\":\"high\"},\"text\":\"Создаю задачу 'Звонок клиенту' в проекте Office с высоким приоритетом.\"}\n\nЗапрос: «Удали задачу Тест в проекте Office»\nОтвет: {\"action\":\"delete_issue\",\"params\":{\"project_name\":\"Office\",\"issue_name\":\"Тест\"},\"text\":\"Удаляю задачу 'Тест' из проекта Office.\"}\n\nЗапрос: «Найди задачи про дизайн в проекте Office»\nОтвет: {\"action\":\"search_issues\",\"params\":{\"project_name\":\"Office\",\"query\":\"дизайн\"},\"text\":\"Ищу задачи по запросу 'дизайн' в проекте Office.\"}\n\nЗапрос: «Привет»\nОтвет: {\"action\":\"chat\",\"params\":{},\"text\":\"Я Plane-агент — помогу управлять задачами. Скажи: покажи проекты, создай задачу, найди задачу — и я сделаю.\"}\n\nЗапрос: «Какая сегодня погода?»\nОтвет: {\"action\":\"chat\",\"params\":{},\"text\":\"Я работаю с Plane и не подключён к погодным сервисам. Могу помочь с задачами и проектами.\"}\n\nМУЛЬТИ-ДЕЙСТВИЯ — КРИТИЧНО:\nКогда юзер просит несколько вещей в одном сообщении — используй ОДИН ответ, не задавай уточняющих вопросов.\n- Если действия касаются одной задачи и помещаются в create_issue (name + priority + deadline + description) — используй ОДИН create_issue со всеми params.\n- Если нужны разные actions (создать + статус, удалить несколько, переместить + комментарий) — используй action=bulk с массивом actions.\n\nЗапрос: «Создай в Office задачу 'Отчёт' с высоким приоритетом и сроком до пятницы»\nОтвет: {\"action\":\"create_issue\",\"params\":{\"project_name\":\"Office\",\"name\":\"Отчёт\",\"priority\":\"high\",\"target_date\":\"2026-05-29\"},\"text\":\"Создаю задачу 'Отчёт' в Office с высоким приоритетом и сроком до 2026-05-29.\"}\n\nЗапрос: «Удали задачи Тест1, Тест2 и Тест3 из Office»\nОтвет: {\"action\":\"bulk\",\"params\":{\"actions\":[{\"action\":\"delete_issue\",\"params\":{\"project_name\":\"Office\",\"issue_name\":\"Тест1\"}},{\"action\":\"delete_issue\",\"params\":{\"project_name\":\"Office\",\"issue_name\":\"Тест2\"}},{\"action\":\"delete_issue\",\"params\":{\"project_name\":\"Office\",\"issue_name\":\"Тест3\"}}]},\"text\":\"Удаляю 3 задачи из Office.\"}\n\nЗапрос: «Переведи задачу 'Релиз' в Office в статус Готово и добавь комментарий 'Закрыто'»\nОтвет: {\"action\":\"bulk\",\"params\":{\"actions\":[{\"action\":\"change_status\",\"params\":{\"project_name\":\"Office\",\"issue_name\":\"Релиз\",\"state\":\"done\"}},{\"action\":\"add_comment\",\"params\":{\"project_name\":\"Office\",\"issue_name\":\"Релиз\",\"comment\":\"Закрыто\"}}]},\"text\":\"Перевожу 'Релиз' в Готово и добавляю комментарий.\"}\n\nСТАТИСТИКА И CROSS-PROJECT:\n\nЗапрос: «Что просрочено?»\nОтвет: {\"action\":\"stats\",\"params\":{\"scope\":\"overdue\"},\"text\":\"Сейчас покажу просроченные задачи по всем проектам.\"}\n\nЗапрос: «Сколько задач у Иванова?»\nОтвет: {\"action\":\"stats\",\"params\":{\"scope\":\"by_assignee\",\"assignee_query\":\"Иванов\"},\"text\":\"Считаю задачи Иванова.\"}\n\nЗапрос: «Статистика по проекту Office»\nОтвет: {\"action\":\"stats\",\"params\":{\"scope\":\"summary\",\"project_name\":\"Office\"},\"text\":\"Считаю статистику проекта Office.\"}\n\nЗапрос: «Все мои задачи во всех проектах»\nОтвет: {\"action\":\"cross_project_search\",\"params\":{\"query\":\"\",\"filter\":\"mine\"},\"text\":\"Ищу твои задачи по всем проектам.\",\"quick_replies\":[\"Только просроченные\",\"Только срочные\"]}\n\nЗапрос: «Создай задачу 'Звонок'» (sticky_project = Office)\nОтвет: {\"action\":\"create_issue\",\"params\":{\"project_name\":\"Office\",\"name\":\"Звонок\"},\"text\":\"Создаю 'Звонок' в Office (закреплённый проект).\",\"quick_replies\":[\"Установить срок\",\"Высокий приоритет\",\"Создать ещё\"]}\n\nЗапрос: «@Иван что у тебя в работе?»\nОтвет: {\"action\":\"stats\",\"params\":{\"scope\":\"by_assignee\",\"assignee_query\":\"Иван\"},\"text\":\"Смотрю задачи Ивана.\"}\n\nАНТИ-ВРАНЬЁ — ОБЯЗАТЕЛЬНО:\n- Если просят сделать действие (изменить приоритет, передвинуть, добавить срок, создать) — ОБЯЗАН вернуть соответствующий action, НЕ chat. Никаких «изменил», «передвинул», «создал» через chat.\n- Если не уверен в проекте/задаче — лучше chat-уточнение чем фейковое action=chat «готово».\n- Слова «изменил/переместил/создал/удалил/назначил/добавил/закрыл/закрылa/сделал» в action=chat — БАГ. Эти слова ТОЛЬКО при реальном action.\n- В action=chat ответе можно говорить «могу сделать», «давай сделаю», но НЕ «уже сделал».\n\n\nQUICK REPLIES — КОНТЕКСТ В ТЕКСТЕ КНОПКИ:\n- В quick_replies ОБЯЗАТЕЛЬНО включай имя задачи/проекта, к которой относится кнопка.\n- Плохо: [\"Установить срок\", \"Изменить приоритет\"] — без задачи бот не поймёт.\n- Хорошо: [\"Установить срок для Купить хлеб\", \"Изменить приоритет Купить хлеб на urgent\"].\n- Если контекста нет (только что узнал список) — кнопки общие («Создать задачу», «Показать срочные»).\n\nИНТЕЛЛЕКТУАЛЬНОСТЬ ДИАЛОГА:\n- Понимай местоимения и сокращения: «эта задача», «у неё», «там», «продли её ещё» — смотри в historyContext.\n- Если юзер написал что-то расплывчатое («что у меня?», «давай посмотрим»), а есть sticky_project — отвечай stats со scope=summary для sticky_project.\n- Не задавай уточняющий вопрос если из контекста можно догадаться. Например, после «Покажи срочные» юзер пишет «А просроченные?» — это cross_project_search filter=overdue, не chat-вопрос.\n- Помни предыдущие 5-10 реплик. Не «обнуляйся» каждое сообщение.\n"
            },
            {
              "content": "={{ $json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3360,
        560
      ],
      "id": "plane-agent-llm-0009",
      "name": "LLM: extract intent",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Парсим LLM-ответ → action/params/text. LLM иногда оборачивает JSON в ```json...```\n// или добавляет лишний текст. Идём от строгого parse к фоллбекам.\nconst raw = $input.first().json;\nconst src = $('Контекст: проекты').first().json;\n\nfunction extractText(raw) {\n  if (!raw) return '';\n  // openAi-node ответ: output[0].content[0].text\n  if (raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0]) {\n    return String(raw.output[0].content[0].text || '');\n  }\n  // Запасной формат\n  if (raw.choices && raw.choices[0] && raw.choices[0].message) {\n    return String(raw.choices[0].message.content || '');\n  }\n  return '';\n}\n\nconst text = extractText(raw).trim();\nif (!text) {\n  return [{ json: { ...src, action: 'chat', params: {}, llm_text: 'Не удалось получить ответ от LLM. Попробуйте ещё раз.', llm_error: true } }];\n}\n\nfunction tryParse(s) {\n  try { return JSON.parse(s); } catch(_) { return null; }\n}\n\nlet parsed = tryParse(text);\nif (!parsed) {\n  // Срезаем ```json ... ``` обёртку\n  const m = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) parsed = tryParse(m[1].trim());\n}\nif (!parsed) {\n  // Берём первый {...} в строке\n  const m2 = text.match(/\\{[\\s\\S]*\\}/);\n  if (m2) parsed = tryParse(m2[0]);\n}\n\nif (!parsed || typeof parsed !== 'object') {\n  // LLM ушёл в свободный текст — трактуем как chat\n  return [{ json: { ...src, action: 'chat', params: {}, llm_text: text } }];\n}\n\nconst ALLOWED = new Set(['list_projects','list_issues','create_issue','update_issue','delete_issue','search_issues','change_status','assign_issue','set_deadline','add_label','remove_label','add_comment','get_issue','bulk','stats','cross_project_search','list_comments','list_members','me','chat']);\nconst action = ALLOWED.has(parsed.action) ? parsed.action : 'chat';\nconst params = (parsed.params && typeof parsed.params === 'object') ? parsed.params : {};\nconst llm_text = String(parsed.text || '').trim() || 'Готово.';\nconst quick_replies = Array.isArray(parsed.quick_replies) ? parsed.quick_replies.slice(0, 6) : null;\n\n// Резолвим project_name → project_id (case-insensitive)\nlet project_id = null;\nlet project_name_canonical = null;\nif (params.project_name) {\n  const wanted = String(params.project_name).toLowerCase();\n  const found = (src.projects || []).find(p => String(p.name || '').toLowerCase() === wanted);\n  if (found) {\n    project_id = found.id;\n    project_name_canonical = found.name;\n  }\n}\n\n// Если для action нужен project_id, но не нашли — даунгрейд до chat с подсказкой\nconst NEEDS_PROJECT = new Set(['list_issues','create_issue','update_issue','delete_issue','search_issues']);\nif (NEEDS_PROJECT.has(action) && !project_id) {\n  // BUG-FIX: пустой/мусорный project_name + list_issues → reroute на\n  // cross_project_search (поиск задач по всем проектам). Раньше падало\n  // в chat-фоллбэк «Не нашёл проект __» хотя юзер просил «все задачи».\n  const rawName = String(params.project_name || '').trim().toLowerCase();\n  const isEmptyName = !rawName || rawName === '__' || rawName === 'all' || rawName === 'все' || rawName === 'любой';\n  if (isEmptyName && action === 'list_issues') {\n    return [{ json: { ...src, action: 'cross_project_search', params: { query: '' }, project_id: null, project_name_canonical: null, llm_text: 'Покажу задачи по всем проектам.', quick_replies } }];\n  }\n  const available = (src.projects || []).map(p => p.name).join(', ') || '— у вас нет проектов';\n  return [{ json: {\n    ...src,\n    action: 'chat',\n    params: {},\n    llm_text: `Не нашёл проект «${params.project_name || '—'}». Доступные проекты: ${available}.`\n  } }];\n}\n\nreturn [{ json: { ...src, action, params, project_id, project_name_canonical, llm_text, quick_replies } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        560
      ],
      "id": "plane-agent-parse-llm-0010",
      "name": "Parse LLM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_projects",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-list-projects"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_issues",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-list-issues"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-create-issue"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-update-issue"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-delete-issue"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "search_issues",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-search-issues"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "change_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-change_status"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "assign_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-assign_issue"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "set_deadline",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-set_deadline"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_label",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-add_label"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "remove_label",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-remove_label"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_comment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-add_comment"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get_issue"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "bulk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-bulk"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-stats"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cross_project_search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-cross_project_search"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_comments",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-list_comments"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "me",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-me"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_members",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-list_members"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3920,
        300
      ],
      "id": "plane-agent-switch-0011",
      "name": "Switch action"
    },
    {
      "parameters": {
        "jsCode": "// list_projects: данные уже есть в $json.projects (фетчили в Контекст: проекты).\nconst src = $input.first().json;\nreturn [{ json: { ...src, api_result: { projects: src.projects || [] }, api_ok: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        -380
      ],
      "id": "plane-agent-list-projects-0012",
      "name": "list_projects: pass-through"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/{{ $json.project_id }}/issues/?per_page=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        -240
      ],
      "id": "plane-agent-list-issues-0013",
      "name": "list_issues: GET",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/{{ $json.project_id }}/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  name: $json.params.name || 'Без названия',\n  description_html: $json.params.description ? ('<p>' + String($json.params.description).replace(/[<>&]/g, c => ({'<':'&lt;','>':'&gt;','&':'&amp;'}[c])) + '</p>') : '<p></p>',\n  priority: ['urgent','high','medium','low','none'].includes($json.params.priority) ? $json.params.priority : 'none'\n}, ($json.params.target_date && /^\\d{4}-\\d{2}-\\d{2}$/.test($json.params.target_date)) ? { target_date: $json.params.target_date } : {}, ($json.params.start_date && /^\\d{4}-\\d{2}-\\d{2}$/.test($json.params.start_date)) ? { start_date: $json.params.start_date } : {})) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        -100
      ],
      "id": "plane-agent-create-issue-0014",
      "name": "create_issue: POST",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Перед update/delete нужно найти issue_id по issue_name. Делаем GET issues + find.\n// Возвращаем json с issue_id или ошибку.\nconst src = $input.first().json;\nconst issueName = String((src.params && src.params.issue_name) || '').trim().toLowerCase();\nif (!issueName) {\n  return [{ json: { ...src, _resolve_error: 'Не указано название задачи' } }];\n}\nconst url = `${src.plane_url}/api/v1/workspaces/${src.workspace_slug}/projects/${src.project_id}/issues/?per_page=100`;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET', url, headers: {\n      'X-API-Key': src.plane_token,\n      'Content-Type': 'application/json'\n    }, timeout: 15000, json: true\n  });\n  const issues = Array.isArray(resp) ? resp : (resp.results || []);\n  const found = issues.find(i => String(i.name || '').toLowerCase() === issueName);\n  if (!found) {\n    return [{ json: { ...src, _resolve_error: `Задача «${src.params.issue_name}» не найдена в проекте ${src.project_name_canonical}` } }];\n  }\n  return [{ json: { ...src, issue_id: found.id, issue_name_canonical: found.name } }];\n} catch (e) {\n  return [{ json: { ...src, _resolve_error: 'Ошибка поиска задачи: ' + (e.message || e) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        40
      ],
      "id": "plane-agent-resolve-update-0015",
      "name": "update: resolve issue_id"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/{{ $json.project_id }}/issues/{{ $json.issue_id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => {\n  const out = {};\n  if ($json.params.name) out.name = $json.params.name;\n  if ($json.params.description) out.description_html = '<p>' + String($json.params.description).replace(/[<>&]/g, c => ({'<':'&lt;','>':'&gt;','&':'&amp;'}[c])) + '</p>';\n  if (['urgent','high','medium','low','none'].includes($json.params.priority)) out.priority = $json.params.priority;\n  // Расширения (Phase 2):\n  if ($json.state_id) out.state = $json.state_id;\n  if ($json.params.target_date) out.target_date = $json.params.target_date;\n  if ($json.params.start_date) out.start_date = $json.params.start_date;\n  if (Array.isArray($json.params.assignees) && $json.params.assignees.length) out.assignees = $json.params.assignees;\n  if (Array.isArray($json.params.labels) && $json.params.labels.length) out.labels = $json.params.labels;\n  return out;\n})()) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        40
      ],
      "id": "plane-agent-update-issue-0016",
      "name": "update_issue: PATCH",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// delete: тот же resolve issue_id что и в update, отдельная нода для чистоты графа.\nconst src = $input.first().json;\nconst issueName = String((src.params && src.params.issue_name) || '').trim().toLowerCase();\nif (!issueName) {\n  return [{ json: { ...src, _resolve_error: 'Не указано название задачи' } }];\n}\nconst url = `${src.plane_url}/api/v1/workspaces/${src.workspace_slug}/projects/${src.project_id}/issues/?per_page=100`;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET', url, headers: {\n      'X-API-Key': src.plane_token,\n      'Content-Type': 'application/json'\n    }, timeout: 15000, json: true\n  });\n  const issues = Array.isArray(resp) ? resp : (resp.results || []);\n  const found = issues.find(i => String(i.name || '').toLowerCase() === issueName);\n  if (!found) {\n    return [{ json: { ...src, _resolve_error: `Задача «${src.params.issue_name}» не найдена в проекте ${src.project_name_canonical}` } }];\n  }\n  return [{ json: { ...src, issue_id: found.id, issue_name_canonical: found.name } }];\n} catch (e) {\n  return [{ json: { ...src, _resolve_error: 'Ошибка поиска задачи: ' + (e.message || e) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        180
      ],
      "id": "plane-agent-resolve-delete-0017",
      "name": "delete: resolve issue_id"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/{{ $json.project_id }}/issues/{{ $json.issue_id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        180
      ],
      "id": "plane-agent-delete-issue-0018",
      "name": "delete_issue: DELETE",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/{{ $json.project_id }}/issues/?search={{ encodeURIComponent($json.params.query || '') }}&per_page=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        320
      ],
      "id": "plane-agent-search-issues-0019",
      "name": "search_issues: GET",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Единый форматтер. Также: HIGH-1 — реальная итерация bulk через helpers.httpRequest,\n// HIGH-4 — project_name_canonical в data для sticky, HIGH-5 — quick_replies passthrough.\nfunction getSrc() {\n  try { return $('Parse LLM').first().json; } catch(_) {}\n  try { return $('Direct resolve').first().json; } catch(_) {}\n  return {};\n}\nconst src = getSrc();\nconst input = $input.first().json || {};\nconst action = src.action || 'chat';\nconst PATCH_ACTIONS = ['change_status','assign_issue','set_deadline','add_label','remove_label'];\nconst PRIO_RU = {urgent:'срочный',high:'высокий',medium:'средний',low:'низкий',none:'не задан'};\nconst STATE_RU_GROUP = {backlog:'Отложенные',unstarted:'Запланированные',started:'В работе',completed:'Готово',cancelled:'Отменено'};\nfunction _stateRu(stD){ if(!stD) return '?'; const g = stD.group || ''; return STATE_RU_GROUP[g] || stD.name || '?'; }\n\nconst llm_text = src.llm_text || '';\nconst quick_replies = src.quick_replies || null;\n\nconst PASSTHROUGH_ACTIONS = new Set(['stats','cross_project_search','list_comments','me','list_members']);\n// Если действие уже обработано в Stats/CrossProject handler — input уже\n// содержит финальный {response, action, data}. Не перетираем — пробрасываем.\nif (PASSTHROUGH_ACTIONS.has(action) && input && (input.response || input.data || input.action === action)) {\n  const out = {\n    response: input.response || llm_text || 'Готово.',\n    action: input.action || action,\n    data: input.data || null\n  };\n  if (input.error) out.error = input.error;\n  if (src.project_name_canonical && out.data && !out.data.project_name_canonical) {\n    out.data.project_name_canonical = src.project_name_canonical;\n  }\n  if (quick_replies) out.quick_replies = quick_replies;\n  return [{ json: out }];\n}\n\n\n\nfunction planeError(r) {\n  if (!r || typeof r !== 'object') return null;\n  if (r.error && typeof r.error === 'object') {\n    const e = r.error;\n    const status = e.status || (e.response && e.response.status) || e.httpCode;\n    if (status === 429) return 'Plane перегружен запросами. Подожди 5-10 секунд и попробуй снова.';\n    if (status === 401 || status === 403) return 'Plane: нет доступа (проверь API token в настройках).';\n    if (status === 404) return 'Plane: задача или проект не найдены.';\n    if (status === 400) return 'Plane: некорректные данные запроса.';\n    if (status >= 500) return 'Plane: внутренняя ошибка сервера (' + status + ').';\n    if (e.message) return String(e.message).split(String.fromCharCode(10))[0].slice(0, 200);\n  }\n  if (r.error && typeof r.error === 'string') return r.error.split(String.fromCharCode(10))[0].slice(0, 200);\n  if (r.detail) return String(r.detail).slice(0, 200);\n  return null;\n}\n\nfunction wrap(out) {\n  out.data = out.data || {};\n  if (src.project_name_canonical && !out.data.project_name_canonical) {\n    out.data.project_name_canonical = src.project_name_canonical;\n  }\n  if (quick_replies && !out.quick_replies) {\n    out.quick_replies = quick_replies;\n  }\n  return [{ json: out }];\n}\n\nif (action === 'chat' || src.llm_error) {\n  return wrap({ response: llm_text || 'Готово.', action: 'chat', data: null });\n}\n\nfunction getResolveError() {\n  if (action === 'update_issue') {\n    try { return $('update: resolve issue_id').first().json._resolve_error || null; } catch(_) {}\n  } else if (action === 'delete_issue') {\n    try { return $('delete: resolve issue_id').first().json._resolve_error || null; } catch(_) {}\n  }\n  return null;\n}\nconst resolveErr = getResolveError() || input._resolve_error;\nif (resolveErr) {\n  const dis = (input && input._disambiguation) ||\n              (function(){ try { return $('update: resolve issue_id').first().json._disambiguation; } catch(_) {} })() ||\n              (function(){ try { return $('delete: resolve issue_id').first().json._disambiguation; } catch(_) {} })();\n  const out = { response: resolveErr, action, data: null, error: resolveErr };\n  if (dis) out.disambiguation = dis;\n  return wrap(out);\n}\n\nif (action === 'list_projects') {\n  const projects = (input.api_result && input.api_result.projects) || src.projects || [];\n  return wrap({\n    response: llm_text + (projects.length === 0 ? '\\n\\nНет доступных проектов.' : ''),\n    action,\n    data: { projects: projects.map(p => ({ id: p.id, name: p.name, identifier: p.identifier })) }\n  });\n}\n\nif (action === 'list_issues' || action === 'search_issues') {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось получить задачи: ' + err, action, data: null, error: err });\n  let issues = Array.isArray(input) ? input : (input.results || []);\n  if (action === 'search_issues') {\n    const q = String((src.params && src.params.query) || '').toLowerCase().trim();\n    if (q) issues = issues.filter(i => String(i.name || '').toLowerCase().includes(q));\n  }\n  return wrap({\n    response: llm_text + (issues.length === 0 ? '\\n\\nЗадач не найдено.' : ('\\n\\nНайдено: ' + issues.length + '.')),\n    action,\n    data: {\n      project: src.project_name_canonical,\n      issues: issues.map(i => ({\n        id: i.id, name: i.name, priority: i.priority,\n        state: i.state, state_detail: i.state_detail,\n        sequence_id: i.sequence_id, created_at: i.created_at,\n        target_date: i.target_date, start_date: i.start_date,\n        assignees: i.assignees, labels: i.labels,\n        comments_count: i.comments_count,\n        description_html: i.description_html\n      }))\n    }\n  });\n}\n\nif (action === 'create_issue') {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось создать задачу: ' + err, action, data: null, error: err });\n  return wrap({\n    response: llm_text + ' Задача создана: ' + input.name + '.',\n    action,\n    data: { issue: { id: input.id, name: input.name, sequence_id: input.sequence_id, priority: input.priority } }\n  });\n}\n\nif (action === 'update_issue') {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось обновить задачу: ' + err, action, data: null, error: err });\n  return wrap({\n    response: llm_text + ' Задача обновлена: ' + (input.name || src.params.issue_name) + '.',\n    action,\n    data: { issue: { id: input.id, name: input.name, sequence_id: input.sequence_id, priority: input.priority } }\n  });\n}\n\nif (action === 'delete_issue') {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось удалить задачу: ' + err, action, data: null, error: err });\n  return wrap({ response: llm_text + ' Задача удалена.', action, data: null });\n}\n\nif (action === 'get_issue') {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось получить задачу: ' + err, action, data: null, error: err });\n  return wrap({\n    response: 'Задача «' + input.name + '». '\n       + 'Приоритет: ' + (PRIO_RU[String(input.priority||'none').toLowerCase()] || input.priority || 'не задан') + '. '\n       + 'Статус: ' + _stateRu(input.state_detail) + '. '\n       + (input.target_date ? 'Срок: ' + input.target_date + '. ' : '')\n       + (input.start_date ? 'Начало: ' + input.start_date + '. ' : '')\n       + (input.created_at ? 'Создана: ' + String(input.created_at).slice(0,10) + '. ' : '')\n       + (input.description_html ? 'Описание: ' + String(input.description_html).replace(/<[^>]+>/g,'').slice(0,200) : ''),\n    action,\n    data: { issue: input }\n  });\n}\n\nif (PATCH_ACTIONS.includes(action)) {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось обновить задачу: ' + err, action, data: null, error: err });\n  const labels = { change_status: 'Статус', assign_issue: 'Исполнители', set_deadline: 'Срок', add_label: 'Метки', remove_label: 'Метки' };\n  return wrap({\n    response: (labels[action] || 'Поле') + ' обновлено для «' + (input.name || src.params.issue_name) + '».',\n    action,\n    data: { issue: { id: input.id, name: input.name, sequence_id: input.sequence_id, priority: input.priority, state: input.state, target_date: input.target_date, assignees: input.assignees, labels: input.labels } }\n  });\n}\n\nif (action === 'add_comment') {\n  const err = planeError(input);\n  if (err) return wrap({ response: 'Не удалось добавить комментарий: ' + err, action, data: null, error: err });\n  return wrap({\n    response: 'Комментарий добавлен к «' + src.params.issue_name + '».',\n    action,\n    data: { comment: { id: input.id, comment_html: input.comment_html } }\n  });\n}\n\n// HIGH-1: bulk — реальная итерация через helpers.httpRequest\nif (action === 'bulk') {\n  const subActions = (src.params && Array.isArray(src.params.actions)) ? src.params.actions : [];\n  if (!subActions.length) {\n    return wrap({ response: 'Bulk: нет операций.', action: 'bulk', data: null });\n  }\n  const projectsCache = src.projects || [];\n  const issuesByProject = {};\n  function findProjectId(projectName) {\n    if (!projectName) return null;\n    const p = projectsCache.find(p => String(p.name).toLowerCase() === String(projectName).toLowerCase());\n    return p ? p.id : null;\n  }\n  async function getIssues(projectId) {\n    if (issuesByProject[projectId]) return issuesByProject[projectId];\n    try {\n      const r = await this.helpers.httpRequest({\n        method: 'GET',\n        url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projectId + '/issues/?per_page=100&expand=state_detail',\n        headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n        timeout: 15000, json: true\n      });\n      issuesByProject[projectId] = Array.isArray(r) ? r : (r.results || []);\n      return issuesByProject[projectId];\n    } catch (e) { issuesByProject[projectId] = []; return []; }\n  }\n  let statesCache = null;\n  async function getStates(projectId) {\n    if (statesCache && statesCache.projectId === projectId) return statesCache.list;\n    try {\n      const r = await this.helpers.httpRequest({\n        method: 'GET',\n        url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projectId + '/states/',\n        headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n        timeout: 15000, json: true\n      });\n      const list = Array.isArray(r) ? r : (r.results || []);\n      statesCache = { projectId, list };\n      return list;\n    } catch (e) { return []; }\n  }\n\n  const results = [];\n  for (const sub of subActions) {\n    const subAct = sub.action;\n    const p = sub.params || {};\n    const projId = findProjectId(p.project_name);\n    if (!projId) { results.push({ action: subAct, ok: false, error: 'project not found: ' + p.project_name }); continue; }\n    try {\n      if (subAct === 'create_issue') {\n        const body = { name: p.name || 'Без названия', priority: p.priority || 'none' };\n        if (p.target_date && /^\\d{4}-\\d{2}-\\d{2}$/.test(p.target_date)) body.target_date = p.target_date;\n        if (p.description) body.description_html = '<p>' + String(p.description).replace(/[<>&]/g, c => ({'<':'&lt;','>':'&gt;','&':'&amp;'}[c])) + '</p>';\n        const r = await this.helpers.httpRequest({\n          method: 'POST',\n          url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projId + '/issues/',\n          headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n          body: body, timeout: 15000, json: true\n        });\n        results.push({ action: subAct, ok: true, name: r.name });\n        delete issuesByProject[projId];\n      } else if (subAct === 'delete_issue' || subAct === 'change_status' || subAct === 'update_issue' || subAct === 'add_comment' || subAct === 'set_deadline') {\n        const issues = await getIssues.call(this, projId);\n        const found = issues.find(i => String(i.name || '').toLowerCase() === String(p.issue_name || '').toLowerCase());\n        if (!found) { results.push({ action: subAct, ok: false, error: 'issue not found: ' + p.issue_name }); continue; }\n        if (subAct === 'delete_issue') {\n          await this.helpers.httpRequest({\n            method: 'DELETE',\n            url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projId + '/issues/' + found.id + '/',\n            headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n            timeout: 15000, json: true\n          });\n          delete issuesByProject[projId];\n        } else if (subAct === 'change_status') {\n          const states = await getStates.call(this, projId);\n          const ALIASES = {'todo':'unstarted','to do':'unstarted','to_do':'unstarted','in progress':'started','in_progress':'started','wip':'started','работа':'started','в работе':'started','done':'completed','completed':'completed','готово':'completed','cancelled':'cancelled','canceled':'cancelled','отменено':'cancelled','backlog':'backlog','отложено':'backlog','отложенные':'backlog'};\n          const wantedRaw = String(p.state || '').toLowerCase().replace(/_/g, ' ');\n          const wantedGroup = ALIASES[wantedRaw] || wantedRaw;\n          const target = states.find(s => String(s.group||'').toLowerCase() === wantedGroup)\n                      || states.find(s => String(s.name||'').toLowerCase() === wantedRaw);\n          if (!target) { results.push({ action: subAct, ok: false, error: 'state not found: ' + p.state }); continue; }\n          await this.helpers.httpRequest({\n            method: 'PATCH',\n            url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projId + '/issues/' + found.id + '/',\n            headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n            body: { state: target.id }, timeout: 15000, json: true\n          });\n          delete issuesByProject[projId];\n        } else if (subAct === 'set_deadline') {\n          await this.helpers.httpRequest({\n            method: 'PATCH',\n            url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projId + '/issues/' + found.id + '/',\n            headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n            body: { target_date: (p.target_date && /^\\d{4}-\\d{2}-\\d{2}$/.test(p.target_date)) ? p.target_date : null }, timeout: 15000, json: true\n          });\n        } else if (subAct === 'update_issue') {\n          const upd = {};\n          if (p.name) upd.name = p.name;\n          if (p.priority) upd.priority = p.priority;\n          if (p.target_date) upd.target_date = p.target_date;\n          if (p.description) upd.description_html = '<p>' + p.description + '</p>';\n          await this.helpers.httpRequest({\n            method: 'PATCH',\n            url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projId + '/issues/' + found.id + '/',\n            headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n            body: upd, timeout: 15000, json: true\n          });\n        } else if (subAct === 'add_comment') {\n          await this.helpers.httpRequest({\n            method: 'POST',\n            url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + projId + '/issues/' + found.id + '/comments/',\n            headers: {'X-API-Key': src.plane_token, 'Content-Type': 'application/json'},\n            body: { comment_html: '<p>' + (p.comment || '') + '</p>' }, timeout: 15000, json: true\n          });\n        }\n        results.push({ action: subAct, ok: true, name: found.name });\n      } else {\n        results.push({ action: subAct, ok: false, error: 'unsupported in bulk: ' + subAct });\n      }\n    } catch (e) {\n      results.push({ action: subAct, ok: false, error: String(e.message || e).slice(0, 100) });\n    }\n  }\n  const ok = results.filter(r => r.ok).length;\n  const fail = results.length - ok;\n  return wrap({\n    response: 'Bulk: ' + ok + ' успешно, ' + fail + ' с ошибкой' + (fail > 0 ? '. Детали: ' + results.filter(r=>!r.ok).map(r=>r.action+'/'+r.error).slice(0,3).join('; ') : '') + '.',\n    action: 'bulk',\n    data: { results: results }\n  });\n}\n\nreturn wrap({ response: llm_text || 'Готово.', action, data: null });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        300
      ],
      "id": "plane-agent-format-0020",
      "name": "Формат ответа"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5320,
        200
      ],
      "id": "plane-agent-resp-ok-0021",
      "name": "Ответ: OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.error || 'Ошибка', action: 'error', error: $json.error || 'Ошибка', auth_required: $json.auth_required || false, plane_setup_required: $json.plane_setup_required || false }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1400,
        600
      ],
      "id": "plane-agent-resp-err-0022",
      "name": "Ответ: ошибка"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json;\ntry {\n  const issue = await this.helpers.httpRequest({\n    method: 'GET',\n    url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + src.project_id + '/issues/' + src.issue_id + '/',\n    headers: { 'X-API-Key': src.plane_token, 'Content-Type': 'application/json' },\n    timeout: 10000, json: true\n  });\n  let states = [];\n  try {\n    const respS = await this.helpers.httpRequest({\n      method: 'GET',\n      url: src.plane_url + '/api/v1/workspaces/' + src.workspace_slug + '/projects/' + src.project_id + '/states/',\n      headers: { 'X-API-Key': src.plane_token, 'Content-Type': 'application/json' },\n      timeout: 10000, json: true\n    });\n    states = Array.isArray(respS) ? respS : (respS.results || []);\n  } catch (_) {}\n  const stateMap = {};\n  states.forEach(function(s){ stateMap[s.id] = { name: s.name, group: s.group, color: s.color }; });\n  return [{ json: Object.assign({}, issue, { state_detail: stateMap[issue.state] || null }) }];\n} catch (e) {\n  return [{ json: { error: { message: e.message || String(e), status: e.statusCode || (e.response && e.response.status) || 500 } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        400
      ],
      "id": "plane-get-issue-V1",
      "name": "get_issue: GET",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.plane_url }}/api/v1/workspaces/{{ $json.workspace_slug }}/projects/{{ $json.project_id }}/issues/{{ $json.issue_id }}/comments/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.plane_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ comment_html: String($json.params.comment || '').split(String.fromCharCode(10)).filter(function(s){return s.length}).map(function(s){return '<p>' + s.replace(/[<>&]/g, function(c){return ({'<':'&lt;','>':'&gt;','&':'&amp;'})[c]}) + '</p>'}).join('') }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4760,
        520
      ],
      "id": "plane-add-comment-V1",
      "name": "add_comment: POST",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Resolve для extended-actions: GET issues (для issue_id), GET states при\n// action=change_status (для state_id), резолв labels (id уже в params).\nconst src = $input.first().json;\nconst params = src.params || {};\nconst wantedIssue = String(params.issue_name || '').toLowerCase().trim();\n\nif (!wantedIssue) {\n  return [{ json: { ...src, _resolve_error: 'Не указано название задачи (issue_name)' } }];\n}\n\nlet issues = [];\ntry {\n  const respI = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${src.plane_url}/api/v1/workspaces/${src.workspace_slug}/projects/${src.project_id}/issues/?per_page=100`,\n    headers: { 'X-API-Key': src.plane_token, 'Content-Type': 'application/json' },\n    timeout: 15000, json: true\n  });\n  issues = Array.isArray(respI) ? respI : (respI.results || []);\n} catch (e) {\n  return [{ json: { ...src, _resolve_error: 'Не удалось получить задачи: ' + (e.message || e) } }];\n}\n\nconst issue_obj = issues.find(i => String(i.name || '').toLowerCase() === wantedIssue);\nif (!issue_obj) {\n  const available = issues.slice(0,5).map(i => i.name).join(', ') || '—';\n  return [{ json: { ...src, _resolve_error: `Не нашёл задачу «${params.issue_name}». Доступные: ${available}` } }];\n}\nconst issue_id = issue_obj.id;\n\n// Для change_status — GET states и резолв state_id\nlet state_id = null;\nif (src.action === 'change_status' && params.state) {\n  let states = [];\n  try {\n    const respS = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${src.plane_url}/api/v1/workspaces/${src.workspace_slug}/projects/${src.project_id}/states/`,\n      headers: { 'X-API-Key': src.plane_token, 'Content-Type': 'application/json' },\n      timeout: 15000, json: true\n    });\n    states = Array.isArray(respS) ? respS : (respS.results || []);\n  } catch (e) {\n    return [{ json: { ...src, _resolve_error: 'Не удалось получить states: ' + (e.message || e) } }];\n  }\n  const wantedState = String(params.state).toLowerCase().trim().replace(/_/g, ' ');\n  const stateByName = states.find(s => String(s.name || '').toLowerCase() === wantedState);\n  const stateByGroup = states.find(s => String(s.group || '').toLowerCase() === wantedState);\n  const ALIASES = {\n    'тудо':'unstarted','todo':'unstarted','к выполнению':'unstarted','новая':'unstarted',\n    'в работе':'started','в процессе':'started','in progress':'started','делается':'started',\n    'готово':'completed','done':'completed','завершено':'completed','выполнено':'completed',\n    'отменено':'cancelled','cancelled':'cancelled','отмена':'cancelled',\n    'бэклог':'backlog','backlog':'backlog','очередь':'backlog'\n  };\n  const aliased = ALIASES[wantedState];\n  const stateByAlias = aliased ? states.find(s => String(s.group || '').toLowerCase() === aliased) : null;\n  const stateFuzzy = (!stateByName && !stateByGroup && !stateByAlias) ? states.find(function(s){return String(s.name||'').toLowerCase().includes(wantedState)}) : null;\n  const state = stateByName || stateByGroup || stateByAlias || stateFuzzy;  // MED-8 fuzzy\n  if (state) state_id = state.id;\n  else return [{ json: { ...src, _resolve_error: `Не нашёл state «${params.state}». Доступные: ${states.map(s=>s.name).join(', ')}` } }];\n}\n\nreturn [{ json: { ...src, issue_id, issue_obj, state_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        460
      ],
      "id": "plane-resolve-extended-V1",
      "name": "resolve: extended"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-get"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_comment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-comm"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4480,
        460
      ],
      "id": "plane-post-resolve-switch-V1",
      "name": "Action router (extended)"
    },
    {
      "parameters": {
        "jsCode": "// Enrich issues со state_group через GET /states/ — Plane v0.27 не поддерживает\n// ?expand=state_detail, приходится делать второй запрос.\n// BUG-FIX: при rapid Обновить Plane перегружается → /states/ возвращал 429,\n// states=[], stateMap пустой → все задачи получали state_detail=null →\n// фронт ставил всем 'unstarted' и они валились в Запланированные. Теперь\n// retry с backoff и если совсем не получилось — ОШИБКА вместо тихого null.\nlet src = {};\ntry { src = $('Direct resolve').first().json; } catch(_) {}\nif (!src || !src.project_id) { try { src = $('Parse LLM').first().json; } catch(_) {} }\nconst input = $input.first().json || {};\nconst issues = Array.isArray(input) ? input : (input.results || []);\n\nlet states = [];\nlet lastErr = null;\nconst delays = [0, 500, 1500];\nfor (let attempt = 0; attempt < delays.length; attempt++) {\n  if (delays[attempt]) await new Promise(r => setTimeout(r, delays[attempt]));\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${src.plane_url}/api/v1/workspaces/${src.workspace_slug}/projects/${src.project_id}/states/`,\n      headers: { 'X-API-Key': src.plane_token, 'Content-Type': 'application/json' },\n      timeout: 10000, json: true\n    });\n    states = Array.isArray(resp) ? resp : (resp.results || []);\n    if (states.length) { lastErr = null; break; }\n  } catch (e) { lastErr = e; }\n}\n\n// Если все попытки провалились И есть задачи — возвращаем ОШИБКУ вместо\n// тихого state_detail=null. Иначе фронт нарисует всё в одной колонке.\nif (!states.length && issues.length > 0) {\n  return [{ json: {\n    error: 'Plane перегружен (не удалось загрузить states). Подожди 5-10 секунд и нажми Обновить.',\n    _enrich_failed: true,\n    action: 'error'\n  } }];\n}\n\nconst stateMap = {};\nstates.forEach(s => { stateMap[s.id] = { name: s.name, group: s.group, color: s.color }; });\n\nconst enriched = issues.map(i => ({\n  ...i,\n  state_detail: stateMap[i.state] || null\n}));\n\n// Возвращаем как массив items (n8n стандарт) — далее Формат ответа возьмёт .results\nreturn [{ json: { results: enriched, _enriched: true } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        -240
      ],
      "id": "plane-enrich-states-V1",
      "name": "enrich states"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM chat_memory WHERE session_id = $1 ORDER BY created_at DESC LIMIT 10;",
        "options": {
          "queryReplacement": "={{ [$('Контекст: проекты').first().json.session_id] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        560
      ],
      "id": "plane-load-history-V1",
      "name": "Загрузка истории Plane",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Формируем строку history для LLM. Берём последние 6 пар (user+assistant)\n// = 12 сообщений в обратном порядке (свежие первыми из SQL).\n// ВАЖНО: для newline в join() используем String.fromCharCode(10), НЕ '\\n' —\n// иначе при JSON-deserialize литерал \\n становится настоящим LF, который\n// ломает строку-литерал JS → Syntax Error.\nconst rows = $input.all().map(i => i.json).filter(r => r.role && r.content);\nconst src = $('Контекст: проекты').first().json;\nconst NL = String.fromCharCode(10);\nconst lines = rows.slice(0, 12).reverse().map(r => {\n  const c = String(r.content).slice(0, 300);\n  return (r.role === 'user' ? 'Юзер: ' : 'Plane-агент: ') + c;\n});\nconst historyContext = lines.length ? lines.join(NL) : '';\nreturn [{ json: Object.assign({}, src, { historyContext: historyContext }) }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        560
      ],
      "id": "plane-hist-ctx-V1",
      "name": "Контекст: история"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'user', $2 WHERE $1 <> 'plane_board' AND LENGTH(TRIM($2)) > 0;",
        "options": {
          "queryReplacement": "={{ [$json.session_id, $json.message || ''] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2520,
        560
      ],
      "id": "plane-ins-user-V1",
      "name": "INSERT user",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE $1 <> 'plane_board' AND LENGTH(TRIM($2)) > 0;",
        "options": {
          "queryReplacement": "={{ [.first().json.session_id, (.response || '') + ( .data && ((.data.issues && .data.issues.length) || .data.issue || (.data.projects && .data.projects.length)) ? '\n\n[[EXTRAS:' + JSON.stringify(.data).slice(0, 12000) + ']]' : '')] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5320,
        400
      ],
      "id": "plane-ins-asst-V1",
      "name": "INSERT assistant",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Plane: stats/cross_project_search/list_comments/me handler.\n// Делает API-вызовы через helpers.httpRequest, агрегирует результаты,\n// возвращает уже отформатированный ответ для Формат ответа.\nconst src = $input.first().json;\nconst params = src.params || {};\nconst action = src.action;\nconst planeUrl = src.plane_url;\nconst planeToken = src.plane_token;\nconst slug = src.workspace_slug;\nconst NL = String.fromCharCode(10);\n\nasync function getProjects() {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'GET',\n      url: planeUrl + '/api/v1/workspaces/' + slug + '/projects/?per_page=100',\n      headers: {'X-API-Key': planeToken, 'Content-Type': 'application/json'},\n      timeout: 15000, json: true\n    });\n    return Array.isArray(r) ? r : (r.results || []);\n  } catch (e) { return []; }\n}\nasync function getIssues(projectId) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'GET',\n      url: planeUrl + '/api/v1/workspaces/' + slug + '/projects/' + projectId + '/issues/?per_page=100&expand=state_detail',\n      headers: {'X-API-Key': planeToken, 'Content-Type': 'application/json'},\n      timeout: 15000, json: true\n    });\n    return Array.isArray(r) ? r : (r.results || []);\n  } catch (e) { return []; }\n}\n\n// === me: GET /api/v1/users/me/ ===\nif (action === 'me') {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'GET',\n      url: planeUrl + '/api/v1/users/me/',\n      headers: {'X-API-Key': planeToken, 'Content-Type': 'application/json'},\n      timeout: 15000, json: true\n    });\n    return [{ json: {\n      response: 'Текущий пользователь: ' + (r.display_name || r.email || r.id || '—'),\n      action: 'me',\n      data: { user_id: r.id, display_name: r.display_name, email: r.email }\n    } }];\n  } catch (e) {\n    return [{ json: { response: 'Не удалось получить пользователя: ' + (e.message || e), action: 'me', data: null, error: 'me_fetch_failed' } }];\n  }\n}\n\n// === list_members: GET /api/v1/workspaces/{slug}/members/ ===\nif (action === 'list_members') {\n  // Plane API: без ?expand=member поле member — UUID строкой, с ?expand=member — объект.\n  // Пробуем оба варианта endpoint'а: сначала workspace members, потом users в workspace.\n  let raw = null, errMsg = null;\n  const tryUrls = [\n    planeUrl + '/api/v1/workspaces/' + slug + '/members/?expand=member',\n    planeUrl + '/api/v1/workspaces/' + slug + '/members/',\n    planeUrl + '/api/v1/workspaces/' + slug + '/workspace-members/?expand=member',\n    planeUrl + '/api/v1/workspaces/' + slug + '/workspace-members/'\n  ];\n  for (const u of tryUrls) {\n    try {\n      raw = await this.helpers.httpRequest({\n        method: 'GET',\n        url: u,\n        headers: {'X-API-Key': planeToken, 'Content-Type': 'application/json'},\n        timeout: 15000, json: true\n      });\n      if (raw) break;\n    } catch (e) { errMsg = String(e.message || e); }\n  }\n  if (!raw) {\n    return [{ json: { response: 'Не удалось загрузить участников: ' + (errMsg || 'все endpoint\\'ы недоступны'), action: 'list_members', data: null, error: 'members_fetch_failed' } }];\n  }\n  const list = Array.isArray(raw) ? raw : (raw.results || []);\n  // Нормализуем разные shape'ы Plane API:\n  //   v1: [{member: {id, display_name, first_name, last_name, email}, role}]\n  //   v2: [{id, display_name, ...}]\n  //   v3: [{member: '<uuid>', member_first_name: '...', member_email: '...'}]  (плоский)\n  const members = list.map(m => {\n    const u = (typeof m.member === 'object' && m.member !== null) ? m.member : m;\n    // ID юзера: предпочитаем member.id, потом m.member (если string), потом m.id\n    let userId = u.id;\n    if (!userId && typeof m.member === 'string') userId = m.member;\n    if (!userId) userId = m.member_id || m.user_id || m.id;\n    // Display name — пробуем все возможные поля\n    const dn = u.display_name || m.member_display_name\n            || (u.first_name && u.last_name ? (u.first_name + ' ' + u.last_name) : '')\n            || u.first_name || m.member_first_name\n            || u.email || m.member_email\n            || '';\n    return {\n      id: userId,\n      display_name: dn,\n      first_name: u.first_name || m.member_first_name || '',\n      last_name: u.last_name || m.member_last_name || '',\n      email: u.email || m.member_email || '',\n      avatar: u.avatar || m.member_avatar || ''\n    };\n  }).filter(m => m.id);\n  return [{ json: {\n    response: 'Участников: ' + members.length,\n    action: 'list_members',\n    data: { members: members, _debug_sample: list.slice(0, 1) }\n  } }];\n}\n\n// === list_comments: GET /api/v1/.../issues/{id}/comments/ ===\nif (action === 'list_comments') {\n  const allProjects = (src.projects && src.projects.length) ? src.projects : await getProjects.call(this);\n  const projName = String(params.project_name || '').toLowerCase();\n  const proj = allProjects.find(p => String(p.name).toLowerCase() === projName);\n  if (!proj) {\n    return [{ json: { response: 'Проект не найден: ' + params.project_name, action: 'list_comments', data: null, error: 'project_not_found' } }];\n  }\n  const issues = await getIssues.call(this, proj.id);\n  const issueName = String(params.issue_name || '').toLowerCase();\n  const issue = issues.find(i => String(i.name || '').toLowerCase() === issueName);\n  if (!issue) {\n    return [{ json: { response: 'Задача не найдена: ' + params.issue_name, action: 'list_comments', data: null, error: 'issue_not_found' } }];\n  }\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'GET',\n      url: planeUrl + '/api/v1/workspaces/' + slug + '/projects/' + proj.id + '/issues/' + issue.id + '/comments/?expand=actor_detail',\n      headers: {'X-API-Key': planeToken, 'Content-Type': 'application/json'},\n      timeout: 15000, json: true\n    });\n    const comments = Array.isArray(r) ? r : (r.results || []);\n    return [{ json: {\n      response: 'Комментариев: ' + comments.length,\n      action: 'list_comments',\n      data: { comments: comments, issue_id: issue.id, issue_name: issue.name }\n    } }];\n  } catch (e) {\n    return [{ json: { response: 'Не удалось загрузить комментарии: ' + (e.message || e), action: 'list_comments', data: null, error: 'comments_fetch_failed' } }];\n  }\n}\n\nconst allProjects = (src.projects && src.projects.length) ? src.projects : await getProjects.call(this);\nconst scope = params.scope || 'summary';\nconst requestedProject = params.project_name;\nconst filterProjects = requestedProject\n  ? allProjects.filter(p => String(p.name).toLowerCase() === String(requestedProject).toLowerCase())\n  : allProjects;\n\nlet response = '';\nlet issuesAll = [];\nfor (const p of filterProjects) {\n  const issues = await getIssues.call(this, p.id);\n  issues.forEach(i => { i._project_name = p.name; });\n  issuesAll = issuesAll.concat(issues);\n}\n\nconst today = new Date(); today.setHours(0,0,0,0);\n\nif (action === 'stats') {\n  if (scope === 'overdue') {\n    const overdue = issuesAll.filter(i => i.target_date && new Date(i.target_date) < today\n      && (i.state_detail && i.state_detail.group !== 'completed' && i.state_detail.group !== 'cancelled'));\n    if (!overdue.length) {\n      response = 'Просроченных задач нет.';\n    } else {\n      const lines = overdue.slice(0, 20).map(i => '• ' + i.name + ' (срок: ' + i.target_date + ', проект: ' + i._project_name + ')');\n      response = 'Просрочено: ' + overdue.length + ' задач.' + NL + lines.join(NL) +\n        (overdue.length > 20 ? NL + '...и ещё ' + (overdue.length - 20) : '');\n    }\n  } else if (scope === 'summary') {\n    const total = issuesAll.length;\n    const byGroup = {unstarted:0,started:0,completed:0,cancelled:0,backlog:0};\n    issuesAll.forEach(i => {\n      const g = (i.state_detail && i.state_detail.group) || 'unstarted';\n      byGroup[g] = (byGroup[g] || 0) + 1;\n    });\n    response = (filterProjects.length === 1 ? 'Проект «' + filterProjects[0].name + '»: ' : 'По всем проектам: ') +\n      'всего ' + total + ' задач.' + NL +\n      'Задачи: ' + (byGroup.unstarted + byGroup.backlog) + NL +\n      'В работе: ' + byGroup.started + NL +\n      'Готово: ' + byGroup.completed + NL +\n      'Отменено: ' + byGroup.cancelled;\n  } else if (scope === 'by_assignee') {\n    const q = String(params.assignee_query || '').toLowerCase().trim();\n    const filtered = q ? issuesAll.filter(i => Array.isArray(i.assignees) && i.assignees.length > 0) : issuesAll;\n    const byAssignee = {};\n    filtered.forEach(i => {\n      (i.assignees || []).forEach(uid => {\n        byAssignee[uid] = (byAssignee[uid] || 0) + 1;\n      });\n    });\n    const top = Object.entries(byAssignee).sort((a,b) => b[1]-a[1]).slice(0, 15);\n    if (!top.length) {\n      response = 'Не нашёл задач с назначенными исполнителями.';\n    } else {\n      response = (q ? 'Запрос про «' + params.assignee_query + '». ' : '') +\n        'Статистика по исполнителям (топ-' + top.length + '):' + NL +\n        top.map(([uid, cnt]) => '• ' + uid.slice(0,8) + '... — ' + cnt + ' задач').join(NL) +\n        NL + '(имена доступны только через детальный API запрос — уточни в задаче по issue_id).';\n    }\n  } else if (scope === 'my_workload') {\n    const opened = issuesAll.filter(i => i.state_detail && (i.state_detail.group === 'unstarted' || i.state_detail.group === 'started' || i.state_detail.group === 'backlog'));\n    response = 'Открытых задач (в работе и в очереди): ' + opened.length + '.' + NL +\n      (opened.length > 0 ? 'Первые 10:' + NL +\n        opened.slice(0,10).map(i => '• ' + i.name + ' (' + i._project_name + ')').join(NL) : '');\n  } else {\n    response = 'Неизвестный scope для stats: ' + scope;\n  }\n} else if (action === 'cross_project_search') {\n  const q = String(params.query || '').toLowerCase().trim();\n  const filter = params.filter || '';\n  let result = issuesAll;\n  if (q) result = result.filter(i => String(i.name || '').toLowerCase().includes(q));\n  if (filter === 'overdue') {\n    result = result.filter(i => i.target_date && new Date(i.target_date) < today);\n  } else if (filter === 'urgent') {\n    result = result.filter(i => String(i.priority || '').toLowerCase() === 'urgent');\n  }\n  if (!result.length) {\n    response = 'По запросу «' + (q || '(все)') + '»' + (filter ? ' с фильтром ' + filter : '') + ' ничего не нашлось.';\n  } else {\n    const lines = result.slice(0, 20).map(i => '• ' + i.name + ' (' + i._project_name + (i.target_date ? ', срок ' + i.target_date : '') + ')');\n    response = 'Найдено по всем проектам: ' + result.length + ' задач.' + NL + lines.join(NL) +\n      (result.length > 20 ? NL + '...и ещё ' + (result.length - 20) : '');\n  }\n}\n\n// BUG-FIX #4: если статистика вернула пустой результат ('Просрочек нет',\n// 'Задач не найдено'), НЕ подкладываем issues — иначе фронт рендерит\n// все 50 задач хотя ответ говорит «нет».\nconst responseLow = String(response||'').toLowerCase();\nconst isEmptyResult = /\\b(нет|не найден|не нашёл|не нашел|ничего|пуст)\\b/.test(responseLow);\n// BUG-FIX #5: использовать ФИЛЬТРОВАННЫЙ result для cross_project_search.\n// Раньше выкладывали ВСЕ задачи (issuesAll) даже когда ответ говорил «нашёл 2 срочные».\nlet sourceForData = issuesAll;\ntry { if (typeof result !== 'undefined' && Array.isArray(result)) sourceForData = result; } catch(_) {}\nconst dataIssues = isEmptyResult ? null : sourceForData.slice(0, 50).map(i => ({ id: i.id, name: i.name, sequence_id: i.sequence_id, priority: i.priority, target_date: i.target_date, start_date: i.start_date, project: i._project_name, state_detail: i.state_detail }));\nreturn [{ json: {\n  response: response || 'Готово.',\n  action: action,\n  data: dataIssues ? { issues: dataIssues } : null\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        620
      ],
      "id": "plane-stats-cross-V1",
      "name": "Stats/CrossProject handler"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Валидно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидно?": {
      "main": [
        [
          {
            "node": "SQL: Verify token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Verify token": {
      "main": [
        [
          {
            "node": "Token result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token result": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Plane API: projects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plane API: projects": {
      "main": [
        [
          {
            "node": "Контекст: проекты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Контекст: проекты": {
      "main": [
        [
          {
            "node": "Direct mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct mode?": {
      "main": [
        [
          {
            "node": "Direct resolve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct resolve": {
      "main": [
        [
          {
            "node": "Switch action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: extract intent": {
      "main": [
        [
          {
            "node": "Parse LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM": {
      "main": [
        [
          {
            "node": "Switch action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch action": {
      "main": [
        [
          {
            "node": "list_projects: pass-through",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "list_issues: GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_issue: POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update: resolve issue_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "delete: resolve issue_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "search_issues: GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resolve: extended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats/CrossProject handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats/CrossProject handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats/CrossProject handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats/CrossProject handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats/CrossProject handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list_projects: pass-through": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list_issues: GET": {
      "main": [
        [
          {
            "node": "enrich states",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_issue: POST": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update: resolve issue_id": {
      "main": [
        [
          {
            "node": "update_issue: PATCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_issue: PATCH": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete: resolve issue_id": {
      "main": [
        [
          {
            "node": "delete_issue: DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_issue: DELETE": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_issues: GET": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формат ответа": {
      "main": [
        [
          {
            "node": "Ответ: OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "INSERT assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resolve: extended": {
      "main": [
        [
          {
            "node": "Action router (extended)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action router (extended)": {
      "main": [
        [
          {
            "node": "get_issue: GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_comment: POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_issue: PATCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_issue: GET": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_comment: POST": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich states": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузка истории Plane": {
      "main": [
        [
          {
            "node": "Контекст: история",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Контекст: история": {
      "main": [
        [
          {
            "node": "LLM: extract intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stats/CrossProject handler": {
      "main": [
        [
          {
            "node": "Формат ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT user": {
      "main": [
        [
          {
            "node": "Загрузка истории Plane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "plane-agent-v2-llm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "plane-agent-workflow",
  "tags": []
}