Workflow/rag-agent.json
{
  "name": "RAG-Агент. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "rag-webhook-0001",
      "name": "Webhook RAG",
      "webhookId": "rag-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').trim();\nconst session_id = (body.session_id || 'rag-default').trim();\n\n// Health-check: отдаём pong без вызова LLM\nif (message === 'ping') {\n  return [{json: {valid: 0, error: 'pong'}}];\n}\n\n// __AUTH_PATCH_V1__\n// === SSO Phase 3: token presence check ===\n// Без токена → auth_required, фронт redirect на /login.html\nconst __token = String((body && body.token) || '').trim();\nif (!__token || !/^[a-f0-9]{64}$/.test(__token)) {\n  return [{json: {valid: 0, error: 'auth_required', auth_required: true}}];\n}\n\n\nif (!message || message.length < 2) {\n  return [{json: {valid: 0, error: 'Введите сообщение'}}];\n}\n\n// Защита от SQL-инъекций через session_id\nif (!/^[a-zA-Z0-9_-]{3,64}$/.test(session_id)) {\n  return [{json: {valid: 0, error: 'session_id содержит недопустимые символы'}}];\n}\n\nif (message.length > 100000) {\n  return [{json: {valid: 0, error: 'Слишком длинный запрос (максимум 100000 символов)'}}];\n}\n\nreturn [{json: {valid: 1, message: message, session_id: session_id, token: __token}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "rag-val-0001",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid-rag",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "rag-if-valid-0001",
      "name": "Запрос валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, auth_required: !!$json.auth_required}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        520
      ],
      "id": "rag-err-val-0001",
      "name": "Ответ: ошибка валидации"
    },
    {
      "parameters": {
        "jsCode": "const message = $('Агрегация').first().json.message;\nconst historyContext = $('Агрегация').first().json.historyContext || '';\nconst session_id = $('Агрегация').first().json.session_id || 'rag-default';\nconst lower = message.toLowerCase();\n\n// NEW-3: явное обнаружение «покажи / какие документы есть» — для таких\n// запросов embedding-поиск не работает (вопрос не содержит контента ни\n// одного конкретного документа). Используем SELECT DISTINCT filename.\nconst listIndicators = [\n  'какие документ', 'какие файл', 'список документ', 'список файл',\n  'покажи документ', 'покажи файл', 'покажи все документ', 'покажи все файл',\n  'что загружен', 'что есть в баз', 'что есть в документ',\n  'перечисли документ', 'перечисли файл',\n  'имена документ', 'имена файл', 'названия документ', 'названия файл',\n  'все документ', 'все файл',\n  'сколько документ', 'сколько файл',\n  'все мои документ', 'все мои файл', 'покажи мои документ', 'мои документ', 'мои файл', 'есть документ', 'есть файл', 'что у меня в баз', 'что в баз', 'покажи всё', 'покажи все'\n];\nfor (const ind of listIndicators) {\n  if (lower.includes(ind)) {\n    return [{ json: { message, mode: 'list_documents', historyContext, session_id } }];\n  }\n}\n\n// R5 BUG-3 (RAG hallucinates docs in tables): просьба «представь документы\n// в виде таблицы» / «список документов в таблицу» / «таблица документов» —\n// это запрос про БД, не про содержание. Маршрутизируем в list_documents.\nconst tablePatterns = [\n  /в\\s+виде\\s+таблиц/,\n  /таблиц[ауеыйо]*\\s+(документ|файл|загруж)/,\n  /(документ|файл|загруж)\\w*\\s+\\w*\\s*(в\\s+таблиц|таблицей|списком)/,\n  /представ\\w*\\s+(документ|файл|базу)/,\n  /выведи\\s+(документ|файл|список)/,\n  /оформи\\s+(документ|файл)\\w*\\s+(в\\s+таблиц|таблицей)/\n];\nfor (const re of tablePatterns) {\n  if (re.test(lower)) {\n    return [{ json: { message, mode: 'list_documents', historyContext, session_id } }];\n  }\n}\n\nconst docKeywords = [\n  'документ', 'договор', 'акт', 'контракт', 'соглашени',\n  'коммерческ', 'предложени', 'кп ', 'доверенност',\n  'записк', 'протокол', 'приказ', 'заявлени',\n  'шаблон', 'бланк', 'образец', 'форм',\n  'найди в документ', 'что написано', 'что сказано',\n  'о чём документ', 'о чем документ', 'содержание документ',\n  'загруженн', 'файл', 'текст документ',\n  'пункт', 'параграф', 'раздел', 'глав',\n  'срок', 'оплат', 'условия', 'реквизит',\n  'составь', 'подготовь', 'создай документ', 'напиши документ',\n  'база знаний', 'база документ', 'найди информаци',\n  'процитируй', 'цитат', 'выдержк',\n  'регламент', 'инструкци', 'положени', 'устав',\n  'накладн', 'счёт', 'счет-фактур', 'акт выполненн'\n];\n\nlet isDoc = false;\n\nfor (const kw of docKeywords) {\n  if (lower.includes(kw)) { isDoc = true; break; }\n}\n\n// Дополнительная проверка: вопрос о содержимом\nif (!isDoc && message.length > 15) {\n  const contentIndicators = ['что написано', 'что сказано', 'о чём', 'о чем', 'найди в', 'процитируй'];\n  const contentEntities = ['документ', 'файл', 'договор', 'акт', 'контракт'];\n  const hasQuestion = contentIndicators.some(q => lower.includes(q));\n  const hasEntity = contentEntities.some(e => lower.includes(e));\n  if (hasQuestion && hasEntity) isDoc = true;\n}\n\nif (!isDoc) {\n  return [{ json: { message, mode: 'general', historyContext, session_id } }];\n}\n\nreturn [{ json: { message, mode: 'document', historyContext, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2370,
        80
      ],
      "id": "rag-cls-0001",
      "name": "Классификатор"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-general"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "list_documents",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-list-docs"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2650,
        80
      ],
      "id": "rag-switch-0001",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "КРИТИЧЕСКОЕ ПРАВИЛО (важнее всех остальных, нарушение = неправильный ответ):\nНИКОГДА не начинай ответ со слов «Привет», «Здравствуйте», «Здравствуй», «Доброго времени суток», «Добрый день», «Добрый вечер», «Доброе утро», «Приветствую», «Hi», «Hello». Запрещено приветствие в любой форме в начале любого ответа. Даже если пользователь сам поздоровался — отвечай сразу по сути, без приветствия. Не используй эмодзи-приветствия (👋 и т.п.).\nНачинай ответ сразу с сути: с глагола, существительного, вопроса или утверждения по теме.\n\nТы — помощник по документам GigaChat. Главная задача — искать информацию в загруженных документах и помогать составлять новые.\n\nНо ты дружелюбный собеседник и можешь поддержать разговор на любую тему.\n\nПравила:\n1. Отвечай кратко — максимум 5-7 предложений\n2. Если пользователь поздоровался — НЕ отвечай «Привет», сразу представься: «Я помощник по документам...»\n3. Если спрашивают что ты умеешь — объясни: поиск по документам, ответы на вопросы по содержимому, составление документов по шаблонам\n4. Если вопрос на другую тему — ответь по-дружески, в конце плавно упомяни что можешь помочь с документами\n5. Если пользователь продолжает общаться не про документы — просто общайся\n6. Пиши на русском языке\n7. Не используй markdown-заголовки\n8. Будь живым, не роботичным\n9. Не повторяй одну и ту же фразу-шаблон в нескольких ответах подряд\n\nПример 1:\nЗапрос: Привет\nОтвет: Я помощник по документам — могу найти информацию в загруженных файлах, ответить на вопросы по содержимому или помочь составить документ. Спросите, например, «что написано в договоре с ООО Ромашка?» или «составь акт выполненных работ».\n\nПример 2:\nЗапрос: Что ты умеешь?\nОтвет: Я работаю с вашей базой документов. Могу найти информацию в загруженных файлах, ответить на вопросы по содержимому договоров, актов и других документов. Также могу помочь составить новый документ по образцу из базы.\n\nПример 3:\nЗапрос: Как дела?\nОтвет: Норм, готов искать по документам. Есть запрос или просто заглянули?\n\nАнтипример (НЕЛЬЗЯ так):\nЗапрос: Привет\nПлохой ответ: Здравствуйте! Я помощник по документам...\nХороший ответ: Я помощник по документам — найду нужное в ваших файлах.\n\nКРИТИЧНО — НИКОГДА НЕ ВЫДУМЫВАЙ ДОКУМЕНТЫ:\n- НЕ называй имена документов которых ты не видел во фрагментах. У тебя нет доступа к списку файлов.\n- Если юзер спрашивает «какие документы у меня есть» — отвечай: «Чтобы посмотреть список — напиши «покажи документы» или «список документов».» Это переключит на специальный поток.\n- НЕ говори «у вас есть договор X, акт Y» если не видел их фрагменты.\n- Если юзер спрашивает про конкретный документ который ты не видел — отвечай «не могу проверить без поиска, задайте конкретный вопрос по содержанию документа».\n"
            },
            {
              "content": "={{ $json.historyContext }}{{ $json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2930,
        -140
      ],
      "id": "rag-gen-general-0001",
      "name": "Ответ GENERAL",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос. Попробуйте ещё раз.' } }];\n  }\n  const text = raw && raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0] && raw.output[0].content[0].text;\n  if (!text) {\n    return [{ json: { response: 'Пустой ответ от LLM. Попробуйте ещё раз.' } }];\n  }\n  return [{ json: { response: text.trim() } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3210,
        -140
      ],
      "id": "rag-check-gen-0001",
      "name": "Проверка ответа GEN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа GEN').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3770,
        -140
      ],
      "id": "rag-resp-gen-0001",
      "name": "Ответ: GENERAL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://130.100.94.119:8001/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: $('Валидация').first().json.message, type: 'query' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2930,
        300
      ],
      "id": "rag-embed-0001",
      "name": "Эмбеддинг вопроса",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Готовим вектор для поиска похожих документов в PGVector.\n// SQL формируется в Postgres-ноде через queryReplacement ($1::vector) —\n// здесь нужно только извлечь вектор и проверить его валидность.\ntry {\n  const data = $input.first().json;\n\n  if (data.error) {\n    return [{ json: { search_sql: null, fallback: 'Ошибка получения эмбеддинга. Поиск по документам недоступен.' } }];\n  }\n\n  let vector = null;\n  if (data.data && Array.isArray(data.data) && data.data[0] && data.data[0].embedding) {\n    vector = data.data[0].embedding;\n  } else if (data.embedding && Array.isArray(data.embedding)) {\n    vector = data.embedding;\n  } else if (Array.isArray(data) && data.length > 0 && typeof data[0] === 'number') {\n    vector = data;\n  }\n\n  if (!vector || vector.length === 0) {\n    return [{ json: { search_sql: null, fallback: 'Не удалось получить вектор вопроса. Попробуйте переформулировать.' } }];\n  }\n\n  // Defense-in-depth: проверяем что вектор — массив конечных чисел.\n  if (!vector.every(v => typeof v === 'number' && Number.isFinite(v))) {\n    return [{ json: { search_sql: null, fallback: 'Невалидный вектор от эмбеддера.' } }];\n  }\n\n  // search_sql теперь маркер (truthy/falsy), сам вектор передаём как vector_str\n  return [{ json: { search_sql: true, vector_str: '[' + vector.join(',') + ']', vector_size: vector.length } }];\n} catch (e) {\n  return [{ json: { search_sql: null, fallback: 'Ошибка обработки эмбеддинга: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3210,
        300
      ],
      "id": "rag-build-search-0001",
      "name": "Построить поиск"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.search_sql ? \"SELECT filename, chunk_index, chunk_text, 1 - (embedding <=> $1::vector) AS similarity, 'наш' AS source FROM documents ORDER BY embedding <=> $1::vector LIMIT 5\" : \"SELECT '' as chunk_text, '' as filename, 0 as similarity, 'наш' as source\" }}",
        "options": {
          "queryReplacement": "={{ $json.search_sql ? [$json.vector_str] : [] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3490,
        300
      ],
      "id": "rag-search-0001",
      "name": "Поиск в документах",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(item => item.json);\nconst buildSearch = $('Построить поиск').first().json;\n\n// Если эмбеддинг упал — fallback\nif (buildSearch.fallback) {\n  return [{json: {has_docs: false, documents: '', fallback_message: buildSearch.fallback}}];\n}\n\n// Если Postgres вернул ошибку (БД упала / SQL-syntax), нода с\n// onError:continueRegularOutput отдаёт {error: '...'} вместо рядов.\n// Без этой проверки фильтр ниже отсеет всё → пользователь увидит\n// «не нашли документов», хотя на самом деле упала БД. Отличаем явно.\nif (items.length > 0 && items[0] && items[0].error) {\n  return [{json: {has_docs: false, documents: '', fallback_message: 'База документов временно недоступна: ' + items[0].error + '. Повторите запрос через минуту.'}}];\n}\n\n// Жёсткий порог similarity 0.5 (раньше был 0.3 — пропускал мусорные\n// результаты, на которых LLM галлюцинировала и выдумывала «факты из файла»).\nconst MIN_SIMILARITY = 0.5;\n\nconst docs = items.filter(item =>\n  item && item.chunk_text && item.chunk_text.trim && item.chunk_text.trim().length > 0 &&\n  (item.similarity === undefined || item.similarity >= MIN_SIMILARITY)\n);\n\nif (docs.length === 0) {\n  return [{json: {has_docs: false, documents: '', fallback_message: 'В базе документов не найдено информации по вашему запросу. Загрузите нужные документы через страницу загрузки.'}}];\n}\n\n// R5 BUG-4 fix: убран spread-check (top.similarity - tail.similarity < 0.05).\n// Он отвергал валидные кейсы где все найденные чанки одинаково релевантны\n// (типично для xlsx-таблиц с похожими строками или серии шаблонов договоров).\n// Юзер просил «не отказывайся отвечать через эту отговорку».\n// MIN_SIMILARITY уже фильтрует мусор; дополнительный гейт лишний.\n\nconst context = docs.map((d, i) => {\n  const src = d.filename ? (' [' + d.filename + ']') : '';\n  return (i + 1) + '.' + src + '\\n' + d.chunk_text;\n}).join('\\n\\n');\n\nreturn [{json: {has_docs: true, documents: context, doc_count: docs.length, filenames: [...new Set(docs.map(d => d.filename).filter(Boolean))]}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3770,
        300
      ],
      "id": "rag-check-docs-0001",
      "name": "Проверка документов"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.has_docs }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "rule-has-docs"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4050,
        300
      ],
      "id": "rag-docs-switch-0001",
      "name": "Есть документы?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — помощник по документам. Тебе дан вопрос пользователя и фрагменты документов из базы знаний.\n\nКРИТИЧЕСКИ ВАЖНО — НЕ ВЫДУМЫВАЙ ДАННЫЕ:\n- Отвечай ТОЛЬКО на основе предоставленных фрагментов. НЕ ПРИДУМЫВАЙ ничего.\n- Если фрагменты не содержат ответа — честно скажи «в документах этого нет», не пытайся дополнить из общих знаний.\n- Если запрос про конкретное имя/число/дату которого нет в фрагменте — НЕ догадывайся, скажи «не нашёл».\n- В конце каждого утверждения, взятого из документа, в скобках укажи источник: (файл: имя.pdf)\n- НЕ начинай ответ с «Давайте проанализируем», «Конечно», «Согласно представленным фрагментам».\n- Сразу с факта: «В договоре указано...», «Срок оплаты — 10 дней...», «Информации по этому вопросу в документах нет.»\n\nТАБЛИЧНЫЕ ДАННЫЕ (xlsx/csv — фрагменты со столбцами и строками):\n- Воспроизводи ЯЧЕЙКИ ТОЛЬКО так, как они в фрагменте. Каждое имя, число, дата, должность — буквально.\n- НЕ добавляй строк/ячеек/полей которых нет в исходнике.\n- НЕ «округляй» и не «уточняй» числа («120 000» НЕ становится «120 тысяч ≈ 125 000»).\n- Если фрагмент обрезан в середине строки — приведи только ту часть что есть, не «допиши» окончание.\n- Если в ячейке пусто/null — пиши «—» или «(пусто)», не подставляй типичное значение.\n- Если пользователь спрашивает «есть ли в таблице X» а X в фрагменте отсутствует — ответ «в найденных строках X нет», даже если X похож на типичную запись.\n\nПравила:\n1. Пиши на русском\n2. Максимум 10 предложений\n3. Если данные распределены по нескольким файлам — упомяни все\n4. Если вопрос — составить документ, используй фрагменты как образец и помечай место подстановки [подставь сюда]\n5. НЕ копируй фрагменты целиком, выделяй суть\n6. НЕ используй markdown-заголовки (##), только обычный текст\n\nПРИМЕР 1 — нашёл точный ответ:\nВопрос: Какие сроки оплаты в договоре?\nФрагменты: [договор.pdf] Оплата производится в течение 10 рабочих дней с момента подписания акта выполненных работ.\nОтвет: Оплата производится в течение 10 рабочих дней с момента подписания акта выполненных работ (файл: договор.pdf).\n\nПРИМЕР 2 — нашёл в нескольких файлах:\nВопрос: Каковы условия расторжения?\nФрагменты:\n[договор.pdf] Каждая сторона вправе расторгнуть договор, уведомив другую сторону за 30 дней.\n[приложение.pdf] При досрочном расторжении удерживается 10% от уплаченной суммы как штраф.\nОтвет: Договор расторгается уведомлением за 30 дней (файл: договор.pdf). При досрочном расторжении удерживается штраф 10% от уплаченной суммы (файл: приложение.pdf).\n\nПРИМЕР 3 — ничего не нашёл:\nВопрос: Какая ставка по кредиту в договоре?\nФрагменты: [договор.pdf] Стороны заключили договор о поставке товаров...\nОтвет: В предоставленных фрагментах информации о ставке по кредиту нет — это, видимо, договор о поставке товаров, не кредитный. Уточните, в каком документе искать.\n\nПРИМЕР 4 — составь документ по образцу:\nВопрос: Составь акт выполненных работ\nФрагменты: [акт_образец.pdf] АКТ выполненных работ № [номер] от [дата]. Исполнитель: [исполнитель]. Заказчик: [заказчик]. Работы: [работы]. Стоимость: [сумма]. Подписи сторон.\nОтвет: Готовый акт по образцу (файл: акт_образец.pdf):\n\nАКТ выполненных работ № [подставь номер] от [подставь дату].\nИсполнитель: [подставь название].\nЗаказчик: [подставь название].\nРаботы: [подставь список работ].\nСтоимость: [подставь сумму].\nПодписи сторон.\n\nПРИМЕР 5 — противоречие в документах:\nВопрос: Какой срок гарантии?\nФрагменты:\n[договор_2023.pdf] Срок гарантии — 12 месяцев.\n[приложение_2024.pdf] Срок гарантии увеличен до 24 месяцев.\nОтвет: В документах есть расхождение: в договоре 2023 года указан срок гарантии 12 месяцев (файл: договор_2023.pdf), но в приложении 2024 года он увеличен до 24 месяцев (файл: приложение_2024.pdf). Уточните, какой документ актуальный — скорее всего приложение, как более поздний.\n\nПРИМЕР 6 — табличный запрос, ответ ТОЛЬКО по строкам в фрагменте:\nВопрос: Сколько менеджеров в отделе продаж?\nФрагменты: [employees.xlsx] Иван Иванов | Менеджер по продажам | Продажи | 60000; Мария Петрова | Менеджер по продажам | Продажи | 65000; Алексей Сидоров | Бухгалтер | Бухгалтерия | 55000\nОтвет: В найденных строках 2 менеджера по продажам: Иван Иванов (60000) и Мария Петрова (65000) (файл: employees.xlsx). Других менеджеров в выдаче нет — если есть ещё, уточните запрос (возможно, не все строки попали в выдачу).\n\nПРИМЕР 7 — запрашивают человека/строку которой НЕТ в фрагменте:\nВопрос: Какая зарплата у Кузнецова?\nФрагменты: [employees.xlsx] Иван Иванов | Менеджер | 60000; Мария Петрова | Бухгалтер | 55000\nОтвет: В найденных строках Кузнецова нет — попадаются только Иван Иванов и Мария Петрова (файл: employees.xlsx). Возможно, нужная строка не попала в поиск — попробуйте уточнить запрос или искать по имени.\n\nПРИМЕР 8 — обрезанный фрагмент:\nВопрос: Кто работает аналитиком?\nФрагменты: [employees.xlsx] ...Смирнов А.А. | Аналитик | 75000; ...Кузнецова Е.С. | Анал [фрагмент обрезан]\nОтвет: По найденным фрагментам аналитик — Смирнов А.А. (75000) (файл: employees.xlsx). Есть ещё запись «Кузнецова Е.С.» с обрезанной должностью «Анал...» — возможно тоже аналитик, но фрагмент неполный, уточните по имени.\n\nНЕПРАВИЛЬНО (так НЕ делай):\n- «Давайте детально проанализируем представленные фрагменты документов...»\n- «Согласно представленной информации можно заключить, что...»\n- Отвечать без указания источника (файл: ...)\n- Придумывать данные, которых нет во фрагментах\n- Дополнять обрезанную ячейку «Анал...» до «Аналитик» без оговорки\n- Когда юзер спрашивает про Кузнецова, отвечать «зарплата Кузнецова — 70000» если Кузнецова нет в фрагменте\n\nКРИТИЧНО — ИМЕНА ФАЙЛОВ ТОЛЬКО ИЗ ФРАГМЕНТОВ:\n- В (файл: ...) подставляй ТОЛЬКО имена которые явно указаны в начале фрагмента в квадратных скобках [filename.pdf].\n- НЕ выдумывай имя файла. Если в фрагменте нет [имя] — пиши «(источник не указан)».\n- НЕ ссылайся на «договор от мая 2025», «акт прошлой недели» если такой даты нет ни в фрагменте, ни в названии файла.\n- НЕ группируй несколько фрагментов под несуществующее общее имя.\n"
            },
            {
              "content": "=Запрос: {{ $('Валидация').first().json.message }}\n\nНайденные фрагменты ({{ $('Проверка документов').first().json.doc_count }} шт., файлы: {{ $('Проверка документов').first().json.filenames ? $('Проверка документов').first().json.filenames.join(', ') : 'неизвестно' }}):\n\n{{ $('Проверка документов').first().json.documents }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        4330,
        80
      ],
      "id": "rag-gen-doc-0001",
      "name": "Генерация ответа",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос к документам. Попробуйте переформулировать.' } }];\n  }\n  const text = raw && raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0] && raw.output[0].content[0].text;\n  if (!text) {\n    return [{ json: { response: 'Пустой ответ от LLM. Попробуйте ещё раз.' } }];\n  }\n  return [{ json: { response: text.trim() } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка генерации ответа.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4610,
        80
      ],
      "id": "rag-check-doc-0001",
      "name": "Проверка ответа DOC"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа DOC').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5170,
        80
      ],
      "id": "rag-resp-doc-0001",
      "name": "Ответ: DOC"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $('Проверка документов').first().json.fallback_message}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4610,
        520
      ],
      "id": "rag-resp-fallback-0001",
      "name": "Ответ: нет документов"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, SUBSTRING(content, 1, 2000) AS content FROM chat_memory WHERE session_id = $1 ORDER BY created_at DESC LIMIT 30",
        "options": {
          "queryReplacement": "={{ [$('Валидация').first().json.session_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1530,
        80
      ],
      "id": "rag-load-history-0001",
      "name": "Загрузить историю",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const historyRows = $input.all().reverse();\nlet historyContext = '';\nif (historyRows.length > 0) {\n  const lines = historyRows.map(item => {\n    const role = item.json.role === 'user' ? 'Пользователь' : 'Ассистент';\n    return role + ': ' + (item.json.content || '');\n  });\n  historyContext = 'История диалога:\\n' + lines.join('\\n') + '\\n\\n';\n}\nconst v = $('Валидация').first().json;\nreturn [{json: {message: v.message, session_id: v.session_id, historyContext: historyContext}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1810,
        80
      ],
      "id": "rag-aggregate-0001",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH _lock AS (SELECT pg_advisory_xact_lock(hashtext($1)) AS l), _save AS (INSERT INTO chat_memory (session_id, role, content) VALUES ($1, 'user', $2) RETURNING id) SELECT _save.id FROM _save CROSS JOIN _lock",
        "options": {
          "queryReplacement": "={{ [$json.session_id, ($json.message || '').replace(/\\[ВЛОЖЕНИЕ:[^\\]]+\\][\\s\\S]*?\\[\\/ВЛОЖЕНИЕ\\]\\s*/g, '[прикреплён файл] ').replace(/\\[не удалось обработать файл:[^\\]]+\\]\\s*/g, '[ошибка вложения] ')] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2090,
        80
      ],
      "id": "rag-save-question-0001",
      "name": "Сохранить вопрос",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH _lock AS (SELECT pg_advisory_xact_lock(hashtext($1)) AS l), _save AS (INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE LENGTH(TRIM($2)) > 0 AND $2 NOT IN ('Не удалось обработать запрос. Попробуйте ещё раз.','Ошибка обработки.','Ошибка генерации ответа.','GigaChat недоступен. Попробуйте позже.','Пустой ответ от LLM. Попробуйте ещё раз.','Не удалось обработать запрос к документам. Попробуйте переформулировать.') RETURNING id) SELECT _save.id FROM _save CROSS JOIN _lock",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $json.response || ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3490,
        -140
      ],
      "id": "rag-save-resp-gen-0001",
      "name": "Сохранить ответ GEN",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH _lock AS (SELECT pg_advisory_xact_lock(hashtext($1)) AS l), _save AS (INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE LENGTH(TRIM($2)) > 0 AND $2 NOT IN ('Не удалось обработать запрос. Попробуйте ещё раз.','Ошибка обработки.','Ошибка генерации ответа.','GigaChat недоступен. Попробуйте позже.','Пустой ответ от LLM. Попробуйте ещё раз.','Не удалось обработать запрос к документам. Попробуйте переформулировать.') RETURNING id) SELECT _save.id FROM _save CROSS JOIN _lock",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $json.response || ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4890,
        80
      ],
      "id": "rag-save-resp-doc-0001",
      "name": "Сохранить ответ DOC",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH _lock AS (SELECT pg_advisory_xact_lock(hashtext($1)) AS l), _save AS (INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE LENGTH(TRIM($2)) > 0 AND $2 NOT IN ('Не удалось обработать запрос. Попробуйте ещё раз.','Ошибка обработки.','Ошибка генерации ответа.','GigaChat недоступен. Попробуйте позже.','Пустой ответ от LLM. Попробуйте ещё раз.','Не удалось обработать запрос к документам. Попробуйте переформулировать.') RETURNING id) SELECT _save.id FROM _save CROSS JOIN _lock",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $('Проверка документов').first().json.fallback_message || ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4330,
        520
      ],
      "id": "rag-save-resp-nodocs-0001",
      "name": "Сохранить ответ NO-DOCS",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE auth_sessions SET last_used_at = NOW()\n  WHERE token = $1 AND expires_at > NOW()\n  RETURNING user_id\n)\nSELECT user_id FROM upd;",
        "options": {
          "queryReplacement": "={{ [$json.token] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        790,
        300
      ],
      "id": "rag-sso-sql-verify-V1",
      "name": "SQL: Verify token",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item && item.json ? item.json : null;\nconst src = $('Валидация').first().json;\n// PostgreSQL сбой: data может быть null или содержать .error поле — НЕ\n// помечаем как unauthorized, иначе юзер видит ложный auth_required редирект.\nif (data && data.error) {\n  return [{ json: { token_valid: false, response: 'error', error: 'database_unavailable' } }];\n}\nif (!data || !data.user_id) {\n  return [{ json: { token_valid: false, response: 'error', error: 'unauthorized', auth_required: true } }];\n}\nreturn [{ json: { ...src, token_valid: true, user_id: data.user_id } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ],
      "id": "rag-sso-token-result-V1",
      "name": "Token result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-rag-token-ok",
              "leftValue": "={{ $json.token_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "id": "rag-sso-token-if-V1",
      "name": "Token OK?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT filename, COUNT(*) AS chunks, MIN(created_at) AS uploaded_at FROM documents WHERE filename IS NOT NULL AND filename <> '' GROUP BY filename ORDER BY uploaded_at DESC LIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2930,
        420
      ],
      "id": "rag-list-docs-sql-V1",
      "name": "SELECT DISTINCT documents",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Форматируем список документов как человеко-читаемый ответ.\nconst rows = $input.all().map(i => i.json).filter(r => r && r.filename);\nlet response;\nif (!rows.length) {\n  response = 'В базе документов пока ничего нет. Загрузите файлы через «Загрузка документов» на дашборде.';\n} else {\n  const NL = String.fromCharCode(10);\n  const lines = rows.map((r, idx) => {\n    const n = r.chunks ? ' (' + r.chunks + ' фрагм.)' : '';\n    return (idx + 1) + '. ' + r.filename + n;\n  });\n  response = 'Загружено документов: ' + rows.length + '.' + NL + lines.join(NL);\n}\nreturn [{ json: { response } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3210,
        420
      ],
      "id": "rag-list-docs-fmt-V1",
      "name": "Формат списка документов"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3490,
        420
      ],
      "id": "rag-resp-list-docs-V1",
      "name": "Ответ: список документов"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.search_sql ? \"SELECT file_name AS filename, chunk_index, text AS chunk_text, 1 - (vector <=> $1::vector) AS similarity, 'внешний' AS source FROM __ВПИШИ_СХЕМУ__.__ВПИШИ_ТАБЛИЦУ__ ORDER BY vector <=> $1::vector LIMIT 5\" : \"SELECT '' as chunk_text, '' as filename, 0 as similarity, 'внешний' as source\" }}",
        "options": {
          "queryReplacement": "={{ $json.search_sql ? [$json.vector_str] : [] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3490,
        480
      ],
      "id": "rag-external-search-r835",
      "name": "Поиск внешний",
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Поиск во ВНЕШНЕЙ таблице (rel_db). Чтобы заработало: 1) создай в Credentials Postgres-credential с database=rel_db (имя 'Postgres rel_db'); 2) выбери его здесь; 3) в query замени __ВПИШИ_СХЕМУ__ и __ВПИШИ_ТАБЛИЦУ__. Без настройки нод тихо вернёт ошибку, поиск пойдёт только по нашей documents.",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3710,
        380
      ],
      "id": "rag-merge-r835",
      "name": "Merge внешний+наш"
    },
    {
      "parameters": {
        "jsCode": "// R8.35: объединяем результаты от двух Поисков (через Merge append).\n// Каждый item имеет поле source ('наш'|'внешний'). Чистим ошибки/пустоты,\n// сортируем по similarity DESC, оставляем top 5.\nconst all = $input.all().map(i => i.json);\nconst clean = all.filter(r => r && !r.error && r.chunk_text && r.chunk_text.trim && r.chunk_text.trim().length > 0);\nclean.sort((a, b) => (b.similarity || 0) - (a.similarity || 0));\nconst top = clean.slice(0, 5);\nreturn top.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3850,
        380
      ],
      "id": "rag-combine-r835",
      "name": "Объединить документы"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook RAG": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Запрос валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос валиден?": {
      "main": [
        [
          {
            "node": "SQL: Verify token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Классификатор": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ответ GENERAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELECT DISTINCT documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Эмбеддинг вопроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT DISTINCT documents": {
      "main": [
        [
          {
            "node": "Формат списка документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формат списка документов": {
      "main": [
        [
          {
            "node": "Ответ: список документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ GENERAL": {
      "main": [
        [
          {
            "node": "Проверка ответа GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа GEN": {
      "main": [
        [
          {
            "node": "Сохранить ответ GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Эмбеддинг вопроса": {
      "main": [
        [
          {
            "node": "Построить поиск",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Построить поиск": {
      "main": [
        [
          {
            "node": "Поиск в документах",
            "type": "main",
            "index": 0
          },
          {
            "node": "Поиск внешний",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск в документах": {
      "main": [
        [
          {
            "node": "Merge внешний+наш",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка документов": {
      "main": [
        [
          {
            "node": "Есть документы?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть документы?": {
      "main": [
        [
          {
            "node": "Генерация ответа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сохранить ответ NO-DOCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация ответа": {
      "main": [
        [
          {
            "node": "Проверка ответа DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа DOC": {
      "main": [
        [
          {
            "node": "Сохранить ответ DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить историю": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Сохранить вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить вопрос": {
      "main": [
        [
          {
            "node": "Классификатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ GEN": {
      "main": [
        [
          {
            "node": "Ответ: GENERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ DOC": {
      "main": [
        [
          {
            "node": "Ответ: DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ NO-DOCS": {
      "main": [
        [
          {
            "node": "Ответ: нет документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Verify token": {
      "main": [
        [
          {
            "node": "Token result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token result": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Загрузить историю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск внешний": {
      "main": [
        [
          {
            "node": "Merge внешний+наш",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge внешний+наш": {
      "main": [
        [
          {
            "node": "Объединить документы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединить документы": {
      "main": [
        [
          {
            "node": "Проверка документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "rag-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "rag-agent-001",
  "tags": []
}