Workflow/sql-agent.json
{
  "name": "SQL-Агент. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sql",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "sql-webhook-0001",
      "name": "Webhook SQL",
      "webhookId": "sql-agent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').trim();\nconst session_id = (body.session_id || 'sql-default').trim();\n\n// Health-check: отдаём pong без вызова LLM\nif (message === 'ping') {\n  return [{json: {valid: 0, error: 'pong'}}];\n}\n\n// __AUTH_PATCH_V1__\n// === SSO Phase 3: token presence check ===\n// Без токена → auth_required, фронт redirect на /login.html\nconst __token = String((body && body.token) || '').trim();\nif (!__token || !/^[a-f0-9]{64}$/.test(__token)) {\n  return [{json: {valid: 0, error: 'auth_required', auth_required: true}}];\n}\n\n\nif (!message || message.length < 2) {\n  return [{json: {valid: 0, error: 'Введите сообщение'}}];\n}\n\n// Защита от SQL-инъекций через session_id\nif (!/^[a-zA-Z0-9_-]{3,64}$/.test(session_id)) {\n  return [{json: {valid: 0, error: 'session_id содержит недопустимые символы'}}];\n}\n\nif (message.length > 100000) {\n  return [{json: {valid: 0, error: 'Слишком длинный запрос (максимум 100000 символов)'}}];\n}\n\nreturn [{json: {valid: 1, message: message, session_id: session_id, token: __token}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "sql-val-0001",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid-sql",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "sql-if-valid-0001",
      "name": "Запрос валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, auth_required: !!$json.auth_required}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        520
      ],
      "id": "sql-err-val-0001",
      "name": "Ответ: ошибка валидации"
    },
    {
      "parameters": {
        "jsCode": "const message = $('Агрегация').first().json.message;\nconst historyContext = $('Агрегация').first().json.historyContext || '';\nconst session_id = $('Агрегация').first().json.session_id || 'sql-default';\nconst lower = message.toLowerCase();\n\nconst sqlKeywords = [\n  'покажи', 'выведи', 'список', 'найди клиент', 'найди заказ',\n  'клиент', 'заказ', 'заказы', 'выручк', 'revenue',\n  'таблиц', 'запрос', 'база данных', 'бд', 'базу',\n  'select', 'insert', 'update', 'delete', 'sql',\n  'добавь', 'удали', 'измени', 'обнови',\n  'сколько клиентов', 'сколько заказов', 'сколько записей',\n  'статус', 'pending', 'delivered', 'cancelled',\n  'город', 'москва', 'питер', 'петербург',\n  'email', 'выручка', 'сумма заказ', 'средн',\n  'группир', 'сортир', 'отсортируй', 'отфильтруй', 'фильтр',\n  'топ ', 'top ', 'первые', 'последние',\n  'join', 'объедин', 'связ',\n  'аналитик', 'статистик', 'отчёт', 'отчет',\n  'за период', 'за месяц', 'за год', 'за неделю',\n  'больше чем', 'меньше чем', 'равно',\n  'максимальн', 'минимальн', 'итого'\n];\n\nlet isSQL = false;\n\nfor (const kw of sqlKeywords) {\n  if (lower.includes(kw)) { isSQL = true; break; }\n}\n\n// Если упоминаются данные и есть вопросительный характер\nif (!isSQL && message.length > 15) {\n  const dataIndicators = ['сколько', 'какие', 'кто', 'где', 'когда', 'чей', 'чья'];\n  const dataEntities = ['клиент', 'заказ', 'товар', 'продукт', 'запис', 'строк'];\n  const hasQuestion = dataIndicators.some(q => lower.includes(q));\n  const hasEntity = dataEntities.some(e => lower.includes(e));\n  if (hasQuestion && hasEntity) isSQL = true;\n}\n\nif (!isSQL) {\n  return [{ json: { message, mode: 'general', historyContext, session_id } }];\n}\n\nreturn [{ json: { message, mode: 'sql', historyContext, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2370,
        80
      ],
      "id": "sql-cls-0001",
      "name": "Классификатор"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-general"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2650,
        80
      ],
      "id": "sql-switch-0001",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "КРИТИЧЕСКОЕ ПРАВИЛО (важнее всех остальных, нарушение = неправильный ответ):\nНИКОГДА не начинай ответ со слов «Привет», «Здравствуйте», «Здравствуй», «Доброго времени суток», «Добрый день», «Добрый вечер», «Доброе утро», «Приветствую», «Hi», «Hello». Запрещено приветствие в любой форме в начале любого ответа. Даже если пользователь сам поздоровался — отвечай сразу по сути, без приветствия. Не используй эмодзи-приветствия (👋 и т.п.).\nНачинай ответ сразу с сути: с глагола, существительного, вопроса или утверждения по теме.\n\nТы — помощник по данным GigaChat. Помогаешь искать информацию о клиентах, заказах, сотрудниках, задачах. Пользователь — обычный человек без технических знаний.\n\nНо ты дружелюбный собеседник и можешь поддержать разговор на любую тему.\n\nПравила:\n1. Отвечай кратко — максимум 5-7 предложений\n2. Если пользователь поздоровался — НЕ отвечай «Привет», сразу представься: «Я помощник по данным...»\n3. Если спрашивают что ты умеешь — объясни: поиск клиентов, заказов, сотрудников, задач и сводки/статистика по ним\n4. Если вопрос на другую тему — ответь по-дружески, в конце плавно упомяни что можешь помочь с данными\n5. Если пользователь продолжает общаться не про данные — просто общайся\n6. Пиши на русском языке\n7. Не используй markdown-заголовки\n8. Будь живым, не роботичным\n9. Не повторяй одну и ту же фразу-шаблон в нескольких ответах подряд\n\nПример 1:\nЗапрос: Привет\nОтвет: Я помощник по данным — помогаю найти клиентов, заказы, сотрудников, задачи и сделать сводку. Спросите, например, «покажи всех клиентов из Москвы» или «сколько заказов за последний месяц». А если просто поболтать — тоже можно.\n\nПример 2:\nЗапрос: Как дела?\nОтвет: Отлично, спасибо! Готов искать данные. Есть запрос или просто заглянули?\n\nПример 3:\nЗапрос: Что ты умеешь?\nОтвет: Могу найти клиентов, посчитать выручку, показать заказы по статусам, сделать аналитику. Просто опиши что хочешь — найду и объясню результат. Технические детали (SQL и т.п.) внутри, тебе их видеть не нужно.\n\nАнтипример (НЕЛЬЗЯ так):\nЗапрос: Привет\nПлохой ответ: Привет! Я SQL-помощник...\nХороший ответ: Я SQL-помощник — найду нужное в базе.\n\nКРИТИЧНО — НЕ ПРЕДЛАГАЙ ПОЛЬЗОВАТЕЛЮ ТЕХНИЧЕСКОЕ:\n- НЕ говори «напишите SQL-запрос», «напишите запрос», «составьте SELECT» и т.п.\n- НЕ требуй от юзера технических деталей. Он не программист.\n- НЕ упоминай слова SQL, PostgreSQL, SELECT, JOIN, WHERE — это внутренняя кухня агента.\n- Говори на естественном языке: «покажу клиентов из Москвы», «найду заказы за май», «посчитаю среднюю выручку».\n"
            },
            {
              "content": "={{ $json.historyContext }}{{ $json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2930,
        -140
      ],
      "id": "sql-gen-general-0001",
      "name": "Ответ GENERAL",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// R7.91: универсальный extractor — GigaChat иногда возвращает в OpenAI-формате\n// (choices[0].message.content), иногда в Anthropic-формате (output[0].content[0].text).\n// Старый код ловил только Anthropic-путь → видели «Пустой ответ от LLM».\nfunction extractText(raw) {\n  if (!raw || typeof raw !== 'object') return '';\n  if (raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0]) {\n    return String(raw.output[0].content[0].text || '');\n  }\n  if (raw.choices && raw.choices[0] && raw.choices[0].message) {\n    return String(raw.choices[0].message.content || '');\n  }\n  if (raw.message && typeof raw.message === 'object') {\n    return String(raw.message.content || raw.message.text || '');\n  }\n  if (raw.message && typeof raw.message === 'string') return raw.message;\n  if (raw.text) return String(raw.text);\n  if (raw.content) return String(raw.content);\n  if (raw.response) return String(raw.response);\n  return '';\n}\ntry {\n  const raw = $input.first().json;\n  if (raw.error) {\n    const errMsg = (raw.error.message || (raw.error.toString && raw.error.toString())) || 'неизвестная ошибка LLM';\n    return [{ json: { response: 'Не удалось обработать запрос: ' + String(errMsg).slice(0,200) } }];\n  }\n  const text = extractText(raw);\n  if (!text || !text.trim()) {\n    const keys = Object.keys(raw || {}).slice(0, 5).join(', ');\n    return [{ json: { response: 'LLM вернул пустой ответ (поля: ' + keys + '). Попробуйте ещё раз или переформулируйте.' } }];\n  }\n  return [{ json: { response: text.trim() } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки: ' + (e && e.message ? e.message : e) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3210,
        -140
      ],
      "id": "sql-check-gen-0001",
      "name": "Проверка ответа GEN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа GEN').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3770,
        -140
      ],
      "id": "sql-resp-gen-0001",
      "name": "Ответ: GENERAL"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — SQL-генератор для PostgreSQL. Напиши SQL-запрос по описанию пользователя.\n\nСхема базы данных:\nТаблица clients: id (SERIAL PK), name (VARCHAR), city (VARCHAR), email (VARCHAR), revenue (DECIMAL), created_at (DATE)\nТаблица orders: id (SERIAL PK), client_id (INTEGER FK -> clients.id), product (VARCHAR), amount (DECIMAL), status (VARCHAR: delivered/pending/processing/cancelled), order_date (DATE)\nТаблица employees: id (SERIAL PK), full_name (VARCHAR), position (VARCHAR), department (VARCHAR — IT/Продажи/Бухгалтерия/Маркетинг/HR/Логистика/Юридический/Руководство/Финансы), salary (DECIMAL), hired_at (DATE), email (VARCHAR)\nТаблица tasks: id (SERIAL PK), title (VARCHAR), description (TEXT), assignee_id (INTEGER FK -> employees.id), status (VARCHAR: open/in_progress/done/cancelled), priority (VARCHAR: low/medium/high/urgent), created_at (DATE), deadline (DATE), completed_at (DATE)\n\nКРИТИЧЕСКИ ВАЖНО:\n- Пиши ТОЛЬКО SQL-код, без единого слова пояснений\n- Первый символ ответа = первый символ запроса (SELECT, INSERT, UPDATE, DELETE)\n- НЕ оборачивай в ```sql или ```\n- НЕ пиши «Вот запрос», «Конечно», «Давайте»\n- Если пользователь не указал количество — добавь LIMIT 50 (только в SELECT)\n- Учитывай историю диалога для понимания местоимений («их», «эти», «те же»)\n- Имена в WHERE сравнивай через ILIKE с %wildcards% — пользователи пишут с разным регистром\n- Города и статусы пиши точно как в БД (с большой буквы для городов, в нижнем регистре для статусов)\n\n\nПример 9 — список сотрудников:\nЗадача: Покажи всех сотрудников\nSELECT id, full_name, position, department, salary FROM employees ORDER BY full_name LIMIT 50;\n\nПример 10 — фильтр по отделу:\nЗадача: Сотрудники IT-отдела\nSELECT full_name, position, salary FROM employees WHERE department = 'IT' ORDER BY salary DESC LIMIT 50;\n\nПример 11 — задачи и исполнители (JOIN):\nSELECT t.title, t.priority, e.full_name AS assignee, t.deadline FROM tasks t LEFT JOIN employees e ON e.id = t.assignee_id WHERE t.status = 'in_progress' ORDER BY t.priority DESC LIMIT 50;\n\nПример 12 — статистика по сотруднику:\nSELECT e.full_name, COUNT(t.id) AS total, COUNT(*) FILTER (WHERE t.status='done') AS done FROM employees e LEFT JOIN tasks t ON t.assignee_id = e.id GROUP BY e.id, e.full_name ORDER BY total DESC LIMIT 50;\n\nПример 13 — поиск сотрудника по ДОЛЖНОСТИ (КРИТИЧНО — ILIKE!):\nЗадача: Найди технического директора\nSELECT full_name, position, department, email FROM employees WHERE position ILIKE '%технич%директор%' OR position ILIKE '%CTO%' LIMIT 50;\n\nПример 14 — поиск по части имени или должности:\nЗадача: Кто у нас директор?\nSELECT full_name, position, department FROM employees WHERE position ILIKE '%директор%' LIMIT 50;\n\nПример 15 — поиск по нескольким полям сразу (если непонятно что юзер ищет):\nЗадача: Найди Иванова\nSELECT full_name, position, department, email FROM employees WHERE full_name ILIKE '%Иванов%' OR email ILIKE '%ivanov%' LIMIT 50;\n\nПОИСК ПО ЛЮДЯМ — ПРАВИЛА:\n- Если юзер пишет ДОЛЖНОСТЬ («директор», «менеджер», «бухгалтер») → WHERE position ILIKE '%слово%'\n- Если ФАМИЛИЯ/ИМЯ → WHERE full_name ILIKE '%слово%'\n- Если ОТДЕЛ («IT», «продажи») → WHERE department ILIKE '%слово%' или = точно\n- Если непонятно что юзер ищет — используй OR по нескольким полям\n- ВСЕГДА ILIKE с % с обеих сторон, никогда = для русских слов с возможным разным регистром\n\nБЕЗОПАСНОСТЬ — ЗАПРЕЩЕНО:\n- DROP TABLE / DROP DATABASE / DROP SCHEMA\n- TRUNCATE\n- ALTER TABLE\n- Несколько SQL-команд через точку с запятой (одна команда за раз)\n- Системные таблицы pg_*, information_schema, любая работа с правами\n\nЕсли пользователь явно просит что-то из запрещённого списка — ответь одной строкой:\nSELECT 'Эта операция запрещена правилами безопасности' AS error;\n\nПример 1 — простая выборка:\nЗадача: Покажи всех клиентов из Москвы\nSELECT * FROM clients WHERE city = 'Москва' LIMIT 50;\n\nПример 2 — агрегация:\nЗадача: Сколько заказов со статусом pending?\nSELECT COUNT(*) AS total FROM orders WHERE status = 'pending';\n\nПример 3 — топ с сортировкой:\nЗадача: Топ-5 клиентов по выручке\nSELECT name, revenue FROM clients ORDER BY revenue DESC LIMIT 5;\n\nПример 4 — INSERT:\nЗадача: Добавь клиента ООО Ромашка из Москвы\nINSERT INTO clients (name, city) VALUES ('ООО Ромашка', 'Москва');\n\nПример 5 — JOIN с ILIKE:\nЗадача: Заказы клиента Иванов с суммами\nSELECT c.name, o.product, o.amount, o.status FROM clients c JOIN orders o ON o.client_id = c.id WHERE c.name ILIKE '%Иванов%' LIMIT 50;\n\nПример 6 — фильтр по дате:\nЗадача: Заказы за последний месяц\nSELECT * FROM orders WHERE order_date >= CURRENT_DATE - INTERVAL '1 month' ORDER BY order_date DESC LIMIT 50;\n\nПример 7 — NULL и группировка:\nЗадача: Клиенты без email\nSELECT * FROM clients WHERE email IS NULL LIMIT 50;\n\nПример 8 — выручка по городам:\nЗадача: Сумма заказов по городам\nSELECT c.city, SUM(o.amount) AS total_revenue FROM clients c JOIN orders o ON o.client_id = c.id GROUP BY c.city ORDER BY total_revenue DESC LIMIT 50;\n\nПример 9 — запрещённая команда:\nЗадача: Удали все таблицы\nSELECT 'Эта операция запрещена правилами безопасности' AS error;\n\nНЕПРАВИЛЬНО (так НЕ делай):\nВот SQL-запрос для получения данных:\n```sql\nSELECT * FROM clients;\n```\n^^^ нельзя обёртку, пояснения, ```\n\nТеперь напиши SQL:"
            },
            {
              "content": "={{ $('Агрегация').first().json.historyContext }}Задача: {{ $('Валидация').first().json.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2930,
        300
      ],
      "id": "sql-gen-sql-0001",
      "name": "Генерация SQL",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Безопасная очистка SQL от LLM. Принимаем ТОЛЬКО SELECT (whitelist),\n// мульти-стейтменты блокируем (`;` где-либо кроме конца).\n// R7.91: универсальный extractor — раньше ловили только output[0].content[0].text,\n// если LLM в OpenAI-формате (choices[0].message.content) — «Пустой ответ от LLM».\n// Также убрана дубль-проверка LIMIT (была дважды).\nfunction extractText(raw) {\n  if (!raw || typeof raw !== 'object') return '';\n  if (raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0]) {\n    return String(raw.output[0].content[0].text || '');\n  }\n  if (raw.choices && raw.choices[0] && raw.choices[0].message) {\n    return String(raw.choices[0].message.content || '');\n  }\n  if (raw.message && typeof raw.message === 'object') {\n    return String(raw.message.content || raw.message.text || '');\n  }\n  if (raw.message && typeof raw.message === 'string') return raw.message;\n  if (raw.text) return String(raw.text);\n  if (raw.content) return String(raw.content);\n  return '';\n}\nfunction sqlEscape(s) { return String(s).replace(/'/g, \"''\"); }\ntry {\n  const raw = $input.first().json;\n  if (raw.error) {\n    const em = (raw.error && (raw.error.message || (raw.error.toString && raw.error.toString()))) || 'GigaChat недоступен';\n    return [{json: {query: \"SELECT '\" + sqlEscape(String(em).slice(0,200)) + \"' as error_message;\"}}];\n  }\n  let sql = extractText(raw);\n  if (!sql) {\n    const keys = Object.keys(raw || {}).slice(0, 5).join(', ');\n    return [{json: {query: \"SELECT 'LLM вернул пустой ответ (поля: \" + keys + \"). Попробуйте ещё раз.' as error_message;\"}}];\n  }\n  // Убираем markdown\n  sql = sql.replace(/```sql\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  // Находим начало SQL\n  const match = sql.match(/\\b(SELECT|WITH|INSERT|UPDATE|DELETE|CREATE|ALTER|DROP|TRUNCATE|GRANT|REVOKE|EXEC|CALL|COPY|VACUUM|ANALYZE)\\b/i);\n  if (match && match.index > 0) {\n    sql = sql.substring(match.index);\n  }\n  // Удаляем висячую ; в конце\n  sql = sql.replace(/;\\s*$/, '');\n  // === Защита от multi-statement injection ===\n  if (sql.includes(';')) {\n    return [{json: {query: \"SELECT 'Multi-statement SQL заблокирован. Используйте один запрос.' as error_message;\"}}];\n  }\n  // === Whitelist: только SELECT и CTE (WITH ... SELECT) ===\n  const firstWord = sql.trim().split(/\\s+/)[0].toUpperCase();\n  const ALLOWED = ['SELECT', 'WITH'];\n  if (!ALLOWED.includes(firstWord)) {\n    return [{json: {query: \"SELECT '\" + sqlEscape(firstWord) + \" заблокирован. Этот агент умеет только SELECT-запросы (read-only).' as error_message;\"}}];\n  }\n  // Доп. защита: даже внутри WITH-CTE запрещаем модифицирующие statement'ы\n  if (/\\b(INSERT|UPDATE|DELETE|DROP|TRUNCATE|ALTER|CREATE|GRANT|REVOKE|COPY|VACUUM|ANALYZE)\\b/i.test(sql)) {\n    return [{json: {query: \"SELECT 'В запросе обнаружен модифицирующий statement. Только SELECT разрешён.' as error_message;\"}}];\n  }\n  // Авто-LIMIT (одной проверки достаточно)\n  if (!/\\bLIMIT\\s+\\d+/i.test(sql)) {\n    sql += ' LIMIT 50';\n  }\n  sql += ';';\n  return [{json: {query: sql}}];\n} catch(e) {\n  return [{json: {query: \"SELECT 'Не удалось сгенерировать SQL: \" + sqlEscape(String(e && e.message ? e.message : e).slice(0,150)) + \"' as error_message;\"}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3210,
        300
      ],
      "id": "sql-clean-0001",
      "name": "Очистка SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3490,
        300
      ],
      "id": "sql-exec-0001",
      "name": "Выполнить SQL",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — помощник по данным. Пользователь задал вопрос, ниже результат из базы.\n\nПравила:\n1. Если данные есть — перескажи простым языком\n2. Если строк 1-3 — перечисли через запятую: «Найдено: A, B, C»\n3. Если строк 4-10 — оформи списком, по строке на запись\n4. Если строк больше 10 — выведи первые 5 списком, в конце добавь «...и ещё N»\n5. Если пустой массив — скажи «Ничего не найдено» с уточнением (по какому критерию искал)\n6. Если есть поле error или error_message — скажи что запрос не удался, в одном предложении укажи причину\n7. В конце — итоговое число одним предложением: «Всего: N»\n8. Максимум 10 предложений\n9. НЕ придумывай данные, которых нет в результате\n10. Пиши на русском, без markdown-заголовков\n\nПРИМЕР 1 — мало данных:\nВопрос: Покажи клиентов из Москвы\nДанные: [{\"name\":\"ООО Ромашка\",\"city\":\"Москва\"},{\"name\":\"ИП Иванов\",\"city\":\"Москва\"}]\nОтвет: В Москве найдено: ООО Ромашка, ИП Иванов. Всего: 2.\n\nПРИМЕР 2 — несколько строк, оформляем списком:\nВопрос: Заказы в статусе pending\nДанные: [{\"id\":1,\"product\":\"Стол\",\"amount\":15000},{\"id\":2,\"product\":\"Стул\",\"amount\":3000},{\"id\":3,\"product\":\"Шкаф\",\"amount\":25000},{\"id\":4,\"product\":\"Полка\",\"amount\":2000},{\"id\":5,\"product\":\"Кресло\",\"amount\":12000}]\nОтвет: Заказы со статусом pending:\n- Стол — 15 000\n- Стул — 3 000\n- Шкаф — 25 000\n- Полка — 2 000\n- Кресло — 12 000\nВсего: 5.\n\nПРИМЕР 3 — много строк, отсекаем:\nВопрос: Все клиенты\nДанные: [25 объектов клиентов]\nОтвет: Найдены клиенты, первые 5:\n- ООО Ромашка\n- ИП Иванов\n- ООО Альфа\n- ООО Бета\n- ИП Сидоров\n...и ещё 20. Всего: 25.\n\nПРИМЕР 4 — пусто:\nВопрос: Клиенты из Владивостока\nДанные: []\nОтвет: Клиентов из Владивостока в базе не найдено. Всего: 0.\n\nПРИМЕР 5 — ошибка:\nВопрос: Покажи клиентов\nДанные: {\"error\": \"relation \"clients_2024\" does not exist\"}\nОтвет: Запрос не выполнился — обращение к несуществующей таблице clients_2024. Видимо, имя таблицы указано неверно — в базе она называется clients.\n\nПРИМЕР 6 — агрегированное число:\nВопрос: Сколько клиентов\nДанные: [{\"count\":42}]\nОтвет: В базе 42 клиента.\n\nНЕПРАВИЛЬНО (так НЕ делай):\n- «Давайте рассмотрим результаты запроса к базе данных...»\n- «Как мы можем видеть из представленных данных...»\n- Выводить более 5 строк, если больше 10 записей (нужно отсекать)\n- Придумывать данные, которых нет в результате"
            },
            {
              "content": "=Вопрос: {{ $('Валидация').first().json.message }}\n\nДанные из базы (первые до 10 строк из {{ $input.all().length }}):\n{{ JSON.stringify($input.all().slice(0, 10).map(item => { const o = item.json; const trimmed = {}; for (const k in o) { const v = o[k]; trimmed[k] = (typeof v === 'string' && v.length > 200) ? (v.slice(0, 200) + '…') : v; } return trimmed; })) }}\n\nВСЕГО СТРОК В БАЗЕ: {{ $input.all().length }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3770,
        300
      ],
      "id": "sql-format-0001",
      "name": "Форматирование",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// R7.91: универсальный extractor (см. Проверка ответа GEN).\nfunction extractText(raw) {\n  if (!raw || typeof raw !== 'object') return '';\n  if (raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0]) {\n    return String(raw.output[0].content[0].text || '');\n  }\n  if (raw.choices && raw.choices[0] && raw.choices[0].message) {\n    return String(raw.choices[0].message.content || '');\n  }\n  if (raw.message && typeof raw.message === 'object') {\n    return String(raw.message.content || raw.message.text || '');\n  }\n  if (raw.message && typeof raw.message === 'string') return raw.message;\n  if (raw.text) return String(raw.text);\n  if (raw.content) return String(raw.content);\n  if (raw.response) return String(raw.response);\n  return '';\n}\ntry {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { response: 'Не удалось обработать запрос к базе данных. Попробуйте переформулировать.' } }];\n  }\n  const text = extractText(raw);\n  if (!text || !text.trim()) {\n    const keys = Object.keys(raw || {}).slice(0, 5).join(', ');\n    return [{ json: { response: 'LLM вернул пустой ответ при форматировании (поля: ' + keys + '). Попробуйте ещё раз.' } }];\n  }\n  return [{ json: { response: text.trim() } }];\n} catch(e) {\n  return [{ json: { response: 'Ошибка обработки ответа: ' + (e && e.message ? e.message : e) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4050,
        300
      ],
      "id": "sql-check-sql-0001",
      "name": "Проверка ответа SQL"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Проверка ответа SQL').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4610,
        300
      ],
      "id": "sql-resp-sql-0001",
      "name": "Ответ: SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, SUBSTRING(content, 1, 2000) AS content FROM chat_memory WHERE session_id = $1 ORDER BY created_at DESC LIMIT 30",
        "options": {
          "queryReplacement": "={{ [$('Валидация').first().json.session_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1530,
        80
      ],
      "id": "sql-load-history-0001",
      "name": "Загрузить историю",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const historyRows = $input.all().reverse();\nlet historyContext = '';\nif (historyRows.length > 0) {\n  const lines = historyRows.map(item => {\n    const role = item.json.role === 'user' ? 'Пользователь' : 'Ассистент';\n    return role + ': ' + (item.json.content || '');\n  });\n  historyContext = 'История диалога:\\n' + lines.join('\\n') + '\\n\\n';\n}\nconst v = $('Валидация').first().json;\nreturn [{json: {message: v.message, session_id: v.session_id, historyContext: historyContext}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1810,
        80
      ],
      "id": "sql-aggregate-0001",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) VALUES ($1, 'user', $2) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.session_id, ($json.message || '').replace(/\\[ВЛОЖЕНИЕ:[^\\]]+\\][\\s\\S]*?\\[\\/ВЛОЖЕНИЕ\\]\\s*/g, '[прикреплён файл] ').replace(/\\[не удалось обработать файл:[^\\]]+\\]\\s*/g, '[ошибка вложения] ')] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2090,
        80
      ],
      "id": "sql-save-question-0001",
      "name": "Сохранить вопрос",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE LENGTH(TRIM($2)) > 0 AND $2 NOT IN ('Не удалось обработать запрос. Попробуйте ещё раз.','Ошибка обработки.','Ошибка генерации ответа.','GigaChat недоступен. Попробуйте позже.','Пустой ответ от LLM. Попробуйте ещё раз.','Не удалось обработать запрос к базе данных. Попробуйте переформулировать.','Ошибка обработки ответа.') RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $json.response || ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3490,
        -140
      ],
      "id": "sql-save-resp-gen-0001",
      "name": "Сохранить ответ GEN",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_memory (session_id, role, content) SELECT $1, 'assistant', $2 WHERE LENGTH(TRIM($2)) > 0 AND $2 NOT IN ('Не удалось обработать запрос. Попробуйте ещё раз.','Ошибка обработки.','Ошибка генерации ответа.','GigaChat недоступен. Попробуйте позже.','Пустой ответ от LLM. Попробуйте ещё раз.','Не удалось обработать запрос к базе данных. Попробуйте переформулировать.','Ошибка обработки ответа.') RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$('Агрегация').first().json.session_id, $json.response || ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4330,
        300
      ],
      "id": "sql-save-resp-sql-0001",
      "name": "Сохранить ответ SQL",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE planner_sessions SET last_used_at = NOW()\n  WHERE token = $1 AND expires_at > NOW()\n  RETURNING user_id\n)\nSELECT user_id FROM upd;",
        "options": {
          "queryReplacement": "={{ [$json.token] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        790,
        300
      ],
      "id": "sql-sso-sql-verify-V1",
      "name": "SQL: Verify token",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item && item.json ? item.json : null;\nconst src = $('Валидация').first().json;\n// PostgreSQL сбой: data может быть null или содержать .error поле — НЕ\n// помечаем как unauthorized, иначе юзер видит ложный auth_required редирект.\nif (data && data.error) {\n  return [{ json: { token_valid: false, response: 'error', error: 'database_unavailable' } }];\n}\nif (!data || !data.user_id) {\n  return [{ json: { token_valid: false, response: 'error', error: 'unauthorized', auth_required: true } }];\n}\nreturn [{ json: { ...src, token_valid: true, user_id: data.user_id } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ],
      "id": "sql-sso-token-result-V1",
      "name": "Token result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-sql-token-ok",
              "leftValue": "={{ $json.token_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "id": "sql-sso-token-if-V1",
      "name": "Token OK?"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook SQL": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Запрос валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос валиден?": {
      "main": [
        [
          {
            "node": "SQL: Verify token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Классификатор": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ответ GENERAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Генерация SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ GENERAL": {
      "main": [
        [
          {
            "node": "Проверка ответа GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа GEN": {
      "main": [
        [
          {
            "node": "Сохранить ответ GEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация SQL": {
      "main": [
        [
          {
            "node": "Очистка SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Очистка SQL": {
      "main": [
        [
          {
            "node": "Выполнить SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выполнить SQL": {
      "main": [
        [
          {
            "node": "Форматирование",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматирование": {
      "main": [
        [
          {
            "node": "Проверка ответа SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ответа SQL": {
      "main": [
        [
          {
            "node": "Сохранить ответ SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить историю": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Сохранить вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить вопрос": {
      "main": [
        [
          {
            "node": "Классификатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ GEN": {
      "main": [
        [
          {
            "node": "Ответ: GENERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить ответ SQL": {
      "main": [
        [
          {
            "node": "Ответ: SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Verify token": {
      "main": [
        [
          {
            "node": "Token result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token result": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Загрузить историю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка валидации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sql-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "sql-agent-001",
  "tags": []
}