Workflow/table-merger-excel.json
{
  "name": "Объединение Excel-таблиц. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "table-merger-excel",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "tme-webhook-0001",
      "name": "Webhook",
      "webhookId": "table-merger-excel-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ping-tme",
              "leftValue": "={{ $json.query?.ping || $json.body?.ping || ($json.body?.message === 'ping' ? '1' : '') }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        100
      ],
      "id": "tme-ping-if-0001",
      "name": "Ping?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: 'pong'}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        420,
        100
      ],
      "id": "tme-ping-resp-0001",
      "name": "Ответ: pong"
    },
    {
      "parameters": {
        "jsCode": "// Webhook с multipart складывает все файлы в одно item.binary с ключами\n// data, data_0, data_1, ... Для последующего Spreadsheet File нужно, чтобы\n// каждый файл был отдельным item с одним фиксированным binary-ключом «data».\n//\n// Binary получаем через helpers.getBinaryDataBuffer/prepareBinaryData, а не\n// копированием meta-объекта — иначе в filesystem-mode n8n ссылка на исходный\n// файл может потеряться.\n//\n// При любой ошибке валидации возвращаем один item с success:false, чтобы\n// IF-нода ниже перенаправила в JSON-ответ с кодом 400.\n\nconst input = $input.first();\nconst binary = input.binary || {};\nconst keys = Object.keys(binary);\n\nif (keys.length === 0) {\n  return [{ json: { success: false, error: 'Не загружено ни одного файла.' } }];\n}\n\nconst items = [];\nlet fileIndex = 0;\nfor (const key of keys) {\n  const meta = binary[key] || {};\n  const fileName = meta.fileName || ('file-' + fileIndex + '.xlsx');\n  const lower = fileName.toLowerCase();\n  if (!(lower.endsWith('.xlsx') || lower.endsWith('.xlsm'))) {\n    return [{ json: { success: false, error: 'Файл «' + fileName + '» имеет неподдерживаемое расширение. Принимаются только .xlsx и .xlsm.' } }];\n  }\n\n  // Читаем буфер явно и пересоздаём binary entry — это надёжнее, чем передавать meta\n  let buf;\n  try {\n    buf = await this.helpers.getBinaryDataBuffer(0, key);\n  } catch (e) {\n    return [{ json: { success: false, error: 'Не удалось прочитать файл «' + fileName + '»: ' + (e.message || e) } }];\n  }\n  const binaryData = await this.helpers.prepareBinaryData(\n    Buffer.from(buf),\n    fileName,\n    meta.mimeType || 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'\n  );\n\n  items.push({\n    json: { fileIndex: fileIndex, fileName: fileName, success: true },\n    binary: { data: binaryData }\n  });\n  fileIndex++;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "tme-split-0001",
      "name": "Разбить на items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-split-ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "tme-if-split-0001",
      "name": "Разбито успешно?"
    },
    {
      "parameters": {
        "operation": "fromFile",
        "options": {
          "headerRow": true,
          "readAsString": false
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        840,
        180
      ],
      "id": "tme-read-0001",
      "name": "Прочитать xlsx"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Прикрепляем к каждой строке индекс исходного файла через явный\n// $('Разбить на items').item — n8n сам резолвит соответствие через\n// pairedItem, нам не нужно полагаться на это вручную.\n// Этот узел работает в режиме «runOnceForEachItem», что и активирует\n// корректную работу $('node').item для текущего item.\n\nconst fileIndex = $('Разбить на items').item.json.fileIndex;\nconst fileName = $('Разбить на items').item.json.fileName;\nreturn {\n  json: Object.assign({}, $json, { _fileIndex: fileIndex, _fileName: fileName })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ],
      "id": "tme-tag-0001",
      "name": "Маркировать fileIndex"
    },
    {
      "parameters": {
        "jsCode": "// На входе — items от «Маркировать fileIndex». Каждый item — одна строка xlsx,\n// json содержит поля по заголовкам файла плюс _fileIndex / _fileName.\n//\n// Логика слияния:\n//   1) Нормализуем заголовки (без пробелов, точек, регистра).\n//   2) Объединяем порядок столбцов: первые столбцы первого файла → лишние\n//      из второго → и т.д. (стабильно для пользователя).\n//   3) Отображаемое имя столбца — первое встреченное.\n//   4) Для каждой строки строим новую строку в едином порядке столбцов.\n//      Если в исходной таблице столбца не было — пусто.\n//\n// При ошибке возвращаем один item с success:false для роутинга через IF.\n\nfunction normalize(h) {\n  if (h == null) return '';\n  return String(h).trim().toLowerCase().replace(/[\\s._\\-(){}\\[\\]\\\\/:;,!?'\\\"]+/g, '');\n}\n\ntry {\n  const items = $input.all();\n  if (items.length === 0) {\n    return [{ json: { success: false, error: 'После чтения файлов не осталось ни одной строки данных.' } }];\n  }\n\n  // Группируем строки по индексу исходного файла (по полю _fileIndex,\n  // которое прикрепил «Маркировать fileIndex»).\n  const byFile = new Map();\n  for (const item of items) {\n    const j = item.json || {};\n    const idx = (typeof j._fileIndex === 'number') ? j._fileIndex : 0;\n    if (!byFile.has(idx)) byFile.set(idx, []);\n    // Чистим служебные поля из json — они не должны попасть в итог\n    const clean = Object.assign({}, j);\n    delete clean._fileIndex;\n    delete clean._fileName;\n    byFile.get(idx).push(clean);\n  }\n\n  // Порядок столбцов в итоге + каноническое отображаемое имя\n  const columnOrder = [];\n  const canonical = {};\n  for (const rows of byFile.values()) {\n    if (rows.length === 0) continue;\n    for (const k of Object.keys(rows[0])) {\n      const norm = normalize(k);\n      if (!norm) continue;\n      if (!(norm in canonical)) {\n        canonical[norm] = k;\n        columnOrder.push(norm);\n      }\n    }\n  }\n\n  if (columnOrder.length === 0) {\n    return [{ json: { success: false, error: 'Во всех файлах заголовки пустые — нечего объединять.' } }];\n  }\n\n  // Собираем итоговые строки\n  const mergedRows = [];\n  for (const rows of byFile.values()) {\n    if (rows.length === 0) continue;\n    const localMap = {};\n    for (const k of Object.keys(rows[0])) {\n      const norm = normalize(k);\n      if (norm && !(norm in localMap)) localMap[norm] = k;\n    }\n    for (const row of rows) {\n      const newRow = {};\n      for (const norm of columnOrder) {\n        const displayName = canonical[norm];\n        const srcKey = localMap[norm];\n        const v = srcKey != null ? row[srcKey] : null;\n        newRow[displayName] = v == null ? '' : v;\n      }\n      mergedRows.push(newRow);\n    }\n  }\n\n  if (mergedRows.length === 0) {\n    return [{ json: { success: false, error: 'Во всех файлах нет данных кроме заголовков.' } }];\n  }\n\n  return mergedRows.map(r => ({ json: r }));\n} catch (e) {\n  return [{ json: { success: false, error: 'Ошибка слияния: ' + (e.message || e) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        180
      ],
      "id": "tme-merge-0001",
      "name": "Слияние"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-merge-ok",
              "leftValue": "={{ $json.success === false ? false : true }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        180
      ],
      "id": "tme-if-merge-0001",
      "name": "Слияние успешно?"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "merged.xlsx",
          "headerRow": true,
          "sheetName": "Объединённая таблица"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1960,
        100
      ],
      "id": "tme-write-0001",
      "name": "Создать xlsx"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2240,
        100
      ],
      "id": "tme-respond-ok-0001",
      "name": "Ответ: файл"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Ошибка обработки' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1960,
        420
      ],
      "id": "tme-respond-err-0001",
      "name": "Ответ: ошибка"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ping?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбить на items": {
      "main": [
        [
          {
            "node": "Разбито успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбито успешно?": {
      "main": [
        [
          {
            "node": "Прочитать xlsx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Прочитать xlsx": {
      "main": [
        [
          {
            "node": "Маркировать fileIndex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маркировать fileIndex": {
      "main": [
        [
          {
            "node": "Слияние",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Слияние": {
      "main": [
        [
          {
            "node": "Слияние успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Слияние успешно?": {
      "main": [
        [
          {
            "node": "Создать xlsx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создать xlsx": {
      "main": [
        [
          {
            "node": "Ответ: файл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping?": {
      "main": [
        [
          {
            "node": "Ответ: pong",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разбить на items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 30,
    "saveExecutionProgress": false
  },
  "versionId": "table-merger-excel-v3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "table-merger-excel-001",
  "tags": []
}
