Workflow/table-merger-word.json
{
  "name": "Объединение Word-таблиц. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "table-merger-word",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "tmw-webhook-0001",
      "name": "Webhook",
      "webhookId": "table-merger-word-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Прокси: собираем multipart/form-data из всех входящих binary-полей и шлём в\n// table-merger Python-сервис на host.docker.internal:8082 (если n8n в Docker)\n// или 127.0.0.1:8082 (если n8n запущен напрямую).\n//\n// ВАЖНО: используем нативный Node.js fetch, а НЕ this.helpers.httpRequest.\n// helpers.httpRequest под капотом axios, и он по неясной причине отваливался\n// с «Request failed with status code 400» даже когда Python-сервис\n// прекрасно отвечал 200 на тот же запрос (проверено через curl). Видимо\n// axios портит multipart body. fetch его не трогает.\n\nconst MERGER_URLS = [\n  { url: 'http://host.docker.internal:8082/merge', timeout: 8000   },\n  { url: 'http://127.0.0.1:8082/merge',            timeout: 180000 }\n];\n\nconst input = $input.first();\nconst binary = input.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nif (binaryKeys.length === 0) {\n  return [{ json: { success: false, error: 'Не загружено ни одного файла.' } }];\n}\n\n// Собираем multipart body руками — Buffer.concat без внешних пакетов.\nconst boundary = '----WebKitFormBoundary' + Math.random().toString(16).slice(2) + Date.now().toString(16);\nconst chunks = [];\nfor (const key of binaryKeys) {\n  const meta = binary[key];\n  const buf = await this.helpers.getBinaryDataBuffer(0, key);\n  const filename = (meta.fileName || (key + '.bin')).replace(/\"/g, '');\n  const contentType = meta.mimeType || 'application/octet-stream';\n  chunks.push(Buffer.from('--' + boundary + '\\r\\n', 'utf8'));\n  chunks.push(Buffer.from('Content-Disposition: form-data; name=\"files\"; filename=\"' + filename + '\"\\r\\n', 'utf8'));\n  chunks.push(Buffer.from('Content-Type: ' + contentType + '\\r\\n\\r\\n', 'utf8'));\n  chunks.push(buf);\n  chunks.push(Buffer.from('\\r\\n', 'utf8'));\n}\nchunks.push(Buffer.from('--' + boundary + '--\\r\\n', 'utf8'));\nconst body = Buffer.concat(chunks);\n\nlet response = null;\nlet lastErrMsg = '';\nfor (const entry of MERGER_URLS) {\n  let timer = null;\n  const controller = new AbortController();\n  try {\n    timer = setTimeout(() => controller.abort(), entry.timeout);\n    const r = await fetch(entry.url, {\n      method: 'POST',\n      headers: { 'Content-Type': 'multipart/form-data; boundary=' + boundary },\n      body: body,\n      signal: controller.signal\n    });\n    clearTimeout(timer);\n    if (!r.ok) {\n      // Сервис ответил, но статус 4xx/5xx — это ошибка сервиса, не сетевая.\n      // Читаем тело и возвращаем пользователю.\n      let bodyText = '';\n      try { bodyText = await r.text(); } catch (_) {}\n      let errMsg = 'HTTP ' + r.status;\n      try {\n        const parsed = JSON.parse(bodyText);\n        if (parsed && parsed.detail) errMsg = parsed.detail;\n        else if (bodyText) errMsg = bodyText.slice(0, 500);\n      } catch (_) {\n        if (bodyText) errMsg = bodyText.slice(0, 500);\n      }\n      return [{ json: { success: false, error: errMsg } }];\n    }\n    response = r;\n    break;\n  } catch (e) {\n    if (timer) clearTimeout(timer);\n    // Сетевая ошибка / timeout — пробуем следующий URL\n    lastErrMsg = (e && e.message) ? e.message : String(e);\n    continue;\n  }\n}\n\nif (!response) {\n  return [{ json: { success: false, error: 'table-merger сервис недоступен. Запусти start.bat на хост-машине (порт 8082). Последняя ошибка: ' + lastErrMsg } }];\n}\n\n// Парсим Content-Disposition: filename=\"merged.docx\"; filename*=UTF-8''merged.docx\nconst cd = response.headers.get('content-disposition') || '';\nlet outFilename = 'merged.bin';\nlet m = cd.match(/filename\\*=UTF-8''([^;]+)/i);\nif (m) {\n  try { outFilename = decodeURIComponent(m[1]); } catch (_) { outFilename = m[1]; }\n} else {\n  m = cd.match(/filename=\"?([^\";]+)\"?/i);\n  if (m) outFilename = m[1];\n}\nconst outMime = response.headers.get('content-type') || 'application/octet-stream';\n\nconst arrBuf = await response.arrayBuffer();\nconst outBuffer = Buffer.from(arrBuf);\nconst binaryData = await this.helpers.prepareBinaryData(outBuffer, outFilename, outMime);\n\nreturn [{\n  json: { success: true, filename: outFilename, size: outBuffer.length, files: binaryKeys.length },\n  binary: { data: binaryData }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "tmw-proxy-0001",
      "name": "Прокси в table-merger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-tm-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "tmw-if-0001",
      "name": "Успех?"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $json.filename }}\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        180
      ],
      "id": "tmw-respond-ok-0001",
      "name": "Ответ: файл"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Ошибка обработки' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        420
      ],
      "id": "tmw-respond-err-0001",
      "name": "Ответ: ошибка"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Прокси в table-merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Прокси в table-merger": {
      "main": [
        [
          {
            "node": "Успех?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Успех?": {
      "main": [
        [
          {
            "node": "Ответ: файл",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 30,
    "saveExecutionProgress": false
  },
  "versionId": "table-merger-word-v2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "table-merger-word-001",
  "tags": []
}
